<div id="full-content" class="equal-cols">
	<div class="heading">Associated Degree in Early Childhood Education</div>

	<p>The Associates of Science Degree in Early Childhood Education (ECE) requires 60 credit hours. Thirty	credit hours in ECE education courses and 30 credit hours in general education electives. </p>

	<h2>Core Courses</h2> <br/>
	<p>Required</p>
	<ul class="niceList">
		<li>ECE 100: Introduction to ECE (3)</li>
		<li>ECE 101: ECE Administration 1 (3)</li>
		<li>ECE 103: ECE Administration 2 (3)</li>
		<li>ECE 105: Introduction to Socialization of Children (3)</li>
		<li>ECE 107: Curriculum for ECE Programs (3)</li>
		<li>ECE 109: Health, Nutrition and First Aid for ECE (3)</li>
	</ul>

	<h2>General Specialty Electives</h2> <br />
	<p>Select Four Courses</p>
	<ul class="niceList">
		<li>ECE 201: Supporting and Leading Teams in ECE (3)</li>		
		<li>ECE 202: Child, Family and Community Relations (3)</li>		
		<li>ECE 204: Supervision for Infant and Toddlers (3)</li>		
		<li>ECE 206: Children with Exceptionalities (3)</li>		
		<li>ECE 208: Educational Technology (3)</li>		
		<li>ECE 212: Language, Literacy Experiences for CEC (3)</li>		
		<li>ECE 301: Understanding Children Development (3)</li>		
		<li>ECE 302: Review of ECE and Education Principles and Theories (3)</li>		
	</ul>



	<h2>General Education Elective Courses</h2>

	<p>(30 Credits Hours)</p>
	<p>[General Education Electives must be taken in the following Manner:] </p>

	<table id="hor-minimalist-b"> 
		<thead>
			<tr>
				<th>Field</th>
				<th>Credit Hours</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>English Composition</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Humanities</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Social Science</td>
				<td>9</td>
			</tr>
			<tr>
				<td>Natural Science</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Mathematics</td>
				<td>3</td>
			</tr>
			<tr>
				<td>One Other General Education Elective</td>
				<td>3</td>
			</tr>
			<tr>
				<td colspan="2">Total Credit Hours 30</td>
			</tr>
		</tbody>
	</table>

	<p>[General Elective Courses By Field]</p>
	
	<h2>English and English Composition (6)</h2>
	<p>(Select Two Courses)</p>
	<ul class="niceList">
		<li>ENG 102: Traditional Grammar (3)</li>
		<li>ENG 201: English Composition (3)</li>
		<li>ENG 205: Writing (3)</li>
	</ul>
	
	<h2>Humanities (6)</h2>
	<p>(Select Two Courses)</p>
	<ul class="niceList">
		<li>HUM 110: Introduction to Humanities (3)</li>
		<li>HIS 131: American History (3)</li>
		<li>HIS 211: World History (3)</li>
		<li>PHI 289: Leadership Ethics (3)</li>
		<li>REL 277: Introduction to World Religions (3)</li>
	</ul>
	
	<h2>Social Science (9)</h2>
	<p>(Select Three Courses)</p>
	<ul class="niceList">
		<li>SOC 102: Introduction to Socialization of Children (3)</li>
		<li>PSY 119: Introduction to Psychology (3)</li>
		<li>PSY 247: Social Psychology (3)</li>
		<li>POL 219: Intro to Political Science Thought (3)</li>
		<li>POL 221: International Relations (3)</li>
		<li>SOC 201: Introduction to Sociology (3)</li>
		<li>SCC 245: Introduction to Cultural Anthropology (3)</li>
	</ul>
	
	<h2>Natural Sciences (3)</h2>
	<p>(Select One Course)</p>
	<ul class="niceList">
		<li>SCI 100: Physical Science (3)</li>
		<li>GEO 101: Introduction Geology (3)</li>
		<li>BIO 220: Human Anatomy & Physiology (3)</li>
	</ul>
	
	<h2>Mathematics (3)</h2>
	<p>(Select One Course)</p>
	<ul class="niceList">
		<li>MAT 101: Introduction to General Mathematics (3)</li>
		<li>MAT 298: Introduction to College Mathematics (3)</li>
		<li>MAT 300: Introduction to Business Mathematics (3)</li>
	</ul>

</div>
