<div id="full-content" class="equal-cols">
	<div class="heading">Bachelors Programs</div>
	<ul class="niceList">
		<li><a href="?section=academics&doc=bs_business">Bachelor of Science in Business Administration (BSBA)</a></li>
		<li><a href="?section=academics&doc=bs_entrepreneurial">Bachelor of Science in Entrepreneurial Management</a></li>
		<li><a href="?section=academics&doc=bs_leadership">Bachelor of Science in Leadership and Management</a></li>
		<li><a href="?section=academics&doc=bs_early_ed">Bachelor of Science in Early Childhood Education</a></li>
		<li><a href="?section=academics&doc=rn_to_bs">Registered Nurse (RN) to BS Connection Program</a></li>
		<li><a href="?section=academics&doc=bs_industrial_engineering">BS in Industrial Engineering</a></li>
		<li><a href="?section=academics&doc=bs_ms_industrial_engineering">BS/MS Joint Degree Program</a></li>
		<li><a href="?section=academics&doc=bs_health_care_management">BS in Health Care Management</a></li>
	</ul>
	
	<p>These are the General Education Requirements for all Bachelor Degrees:</p>
	<ul class="niceList">
		<li><a href="?section=academics&doc=bs_gen_ed">General Education Requirements</a></li>
	</ul>
</div>