<div id="main-content" class="equal-cols">
<div class="heading">Bachelor of Science in Business Administration, Management and Leadership</div>
			<p><strong>BBA 300Reviews of Management and Leadership
			Principles ** (3)<br>
			</strong>This course provides a review of current thinking of management and
			leadership principles. The course gives you practical techniques,
			tips, and strategies for refining and improving your management and
			leadership abilities.</p>
			<p><strong><a
				href="file:///C:/Documents%20and%20Settings/cbahl/My%20Documents/pdf/bba/BBA%20304%20POI.pdf">BBA
			304 Introduction to Principles of Supervision 1 (3)</a></strong><br>
			This course provides a guide to supervision. The course gives
			practical techniques, tips, and strategies for managing people and
			information, thereby improving your job performance. It features two
			special sections in professional growth and plan for career
			advancement. The techniques taught in the course will help you
			expertly handle the daily problems and challenges a person faces as a
			supervisor.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20305%20POI.pdf">BBA
			305 Introduction to Principles of Supervision 2 (3)</a></strong><br>
			This course provides a guide to supervision. The course gives
			practical techniques, tips, and strategies for managing people and
			information, thereby improving your job performance. It features two
			special sections in professional growth and plan for career
			advancement. The techniques taught in the course will help you
			expertly handle the daily problems and challenges a person faces as a
			supervisor.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20306%20POI.pdf">BBA
			306 Introduction to Managerial Accounting 1 (3)</a></strong><br>
			This course offers a balanced coverage of concepts, methods, and uses
			of managerial accounting with a strong emphasis on management
			decision-making. This approach helps focus on concepts and managerial
			uses of financial information rather than techniques of cost
			accounting.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20310%20POI.pdf">BBA
			310 Introduction to Marketing 1 (3)</a></strong><br>
			The course covers the science and art of building and managing
			profitable customer relationships. An overview is given of today's
			marketers who must attract new customers by promising superior
			customer value. The course centers around four powerful themes that
			go to the heart of modern marketing theory and practice: (1).
			Building and managing profitable customer relationships. (2).
			Building strong brands and brand equity. (3). Marketing is a socially
			responsible way around the globe. and (4). Harnessing marketing
			technology in the digital age.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20315%20POI.pdf">BBA
			315 Introduction to Economics (3)</a></strong><br>
			The course presents economic principles within the context of
			sweeping changes occurring in the economic landscape. Among the
			topics covered in this course are: Introduction to Macroeconomics and
			Economic Growth; National Income Determination; Fiscal Policy and
			Deficit Spending; Money, Monetary Policy, and Stabilization.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20342%20POI.pdf">BBA
			342 Ethics and Honesty in Business (3)</a></strong><br>
			This is a course in ethics and honesty in business organizations.
			Ethical behavior is behavior viewed as right and honorable; unethical
			behavior is behavior viewed as wrong and dishonorable. These
			straightforward definitions raise tough questions for managers and
			their organizations. How should the adjectives used to distinguish
			ethical from unethical behavior be defined? This course will examine
			the various factors that determine and influence ethical and
			unethical behaviors and the impact it has upon organization processes
			and performance.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20347%20POI.pdf">BBA
			347 Introduction to Business 1 (3)</a></strong><br>
			This class presents a wealth of information about business. Students
			will appreciate the class's up-to-date, real-life examples and
			in-depth coverage of business today. Hundreds of companies will be
			spotlighted as are the issues their managers and employees struggle
			with each day. The class also examine current issues in areas of
			Fundamentals of Business and Economics; Fundamentals of Internet and
			E-Commerce; Ethics and Social Responsibility of Business; Global
			Business; Small Business, New ventures, and Franchises; Forms of
			Business Ownership and Business Combinations; Functions and Skills of
			Management; Organization, Teamwork, and Communication; Technology and
			Information Management; and Production of Quality Goods and Services.</p>
			<p><strong>BBA 415: Use of Coaching Techniques and
			Practices in Business (3)</strong><br>
			This course explains how to apply sound coaching methods in the
			workplace. It provides an overview of every aspect of leadership
			coaching.<br>
			The course covers core philosophies, critical capabilities, and the
			secrets of coaching successes. The course is divided into five
			distinct categories-behavioral, leadership development, career/life
			transitions, organizational change, and strategy.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20432%20POI.pdf">BBA
			432: Introduction to Human Resource Management 1 (3)</a></strong><br>
			The course encompasses those activities designed to provide for and
			coordinate the human resources of an organization. The three of the
			six major functions of human resource management are covered in this
			course: human resource planning, recruitment, and selection. The
			course also uses ten online exercises that teach students the very
			latest HRM trends and to apply what they've learned through a series
			of thought-provoking questions and case studies.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20446%20POI.pdf">BBA
			446 Introduction to International Business (3)</a></strong><br>
			This course covers the pros and cons of the complex issues in
			international business. The course is divided into four parts: (1).
			Overview of the key issues to be explained in the course. (2).
			Investigation of the political economy of international trade and
			investment. (3). Description and of the global monetary system,
			laying out in detail the monetary framework in which international
			business transactions are conducted. and (4). Examination of the
			strategies and structures that firms adopt to compete effectively in
			the international business environment.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20459%20POI.pdf">BBA
			459 Developing Managerial Skills 1 (3)</a></strong><br>
			This course is to prepare students to manage dynamic, constantly
			changing work environment. The course uses an "experiential learning"
			approach centered around simulations, case discussions, and games.
			The purpose of this approach is to help the student get a firsthand
			picture of the role of a manager and the skills required to perform
			that job successfully. Among the topics covered in the course are:
			the critical role of<br>
			management skills; developing self-awareness; managing personal
			stress; solving problems analytically and creatively; coaching,
			counseling, and supportive communication; gaining power and
			influence; and motivating others.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20460%20POI.pdf">BBA
			460 Developing Managerial Skills 2 (3)</a></strong><br>
			This course is a continuation of BBA 459: Developing Management
			Skills 1. This course uses an "experiential learning" approach
			centered around simulations, case discussions, and games. Among the
			topics covered in this course are: managing conflict, empowering and
			delegating, building effective teams and teamwork, and leading
			positive change.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20495%20POI.pdf">BBA
			495 Introduction to Business Law 1 (3)</a></strong><br>
			This course assists you to learn the most important aspect of
			business law. Among the topics covered in this course are: The Legal
			Environment of Business, torts and Crimes, Contracts and E-Contracts,
			and Domestic and International Sales and Lease Contracts.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20496%20POI.pdf">BBA
			496 Introduction to Business Law 2 (3)</a></strong><br>
			This is a continuation of BBA 495: Introduction to<br>
			Business Law 1. This course assists you to learn the most important
			aspects of business law. Among the topics covered in this course are:
			Negotiable Instruments, Creditors' Rights and Bankruptcy, Agency and
			Employment, Business Organizations, Government Regulation, and
			Property.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/bba/BBA%20499.pdf">BBA
			499 Directed Reading 1: Management and Leadership (3)<br>
			</a></strong>This course provides an opportunity for a participant to study five
			books in management and leadership for review and critical analysis.</p>
			<h1>Elective Courses (Select Five or More Courses as Required)</h1>
			<blockquote>
			<p><strong>BBA 307 Introduction to Managerial Accounting
			2 (3)<br>
			</strong>This is a continuation of BBA 306: Introduction to Managerial
			Accounting 1. This course offers a balanced coverage of concepts,
			methods, and uses of managerial accounting with a strong emphasis on
			management decision-making. This approach helps focus on concepts and
			managerial uses of financial information rather than techniques of
			cost accounting.</p>
			<p><strong>BBA 310: Introduction to Marketing (3)</strong><br>
			This course is a continuation of BBA 310: Introduction to Marketing.
			The course continues to introduce students to the fascinating world
			of modern marketing in an enjoyable and practical way. This course
			presents marketing as much more than just an isolated business
			function-it is a philosophy that guides the entire organization
			toward sensing, serving, and satisfying consumer needs. The course
			assists students to develop the marketing mix, manage all marketing
			activities, measure marketing activities and efforts, and forecasting
			demands.</p>
			<p><strong>BBA 414 Essentials of Entrepreneurship and
			Small Business Management (3) </strong>This course is designed to provide
			future entrepreneurs with learning tools that allows them to quickly
			master the most essential issues involved in starting and managing a
			successful new business venture. The course uses a variety of tools
			to stimulate interest and to promote learning.</p>
			<p><strong>BBA 416 Uses of Teams in Business
			Organizations (3)</strong><br>
			The course provides the principles and methods needed to develop
			successful problem-solving teams. The course is packed with handy
			tools, self-tests, and real-life examples to help the student
			identify their strengths and weaknesses and hone critical skills. The
			course will also cover methods to convert groups into teams.</p>
			<p><strong>BBA 433 Introduction to Human Resource
			Management 2 (3)</strong><br>
			This course is a continuation of BBA 432, Introduction Human Relation
			Management 1. This course encompasses those activities designed to
			provide for and coordinate the human resources of an organization.
			Among the human resource topics covered in this course are:
			Performance Appraisal Systems, Organizational Reward System, Base
			wage and salary Systems, Incentive Pay Systems, Employee Benefits,
			The Legal Environment and Structure of Labor Unions, Union Organizing
			Campaigns and Collective bargaining, Employee relations, and Employee
			Safety and Health.</p>
			<p><strong>BBA 348 Introduction to Business 2 (3)</strong><br>
			This course is a continuation of BBA 347, Introduction<br>
			to Business 1. The course presents a wealth of information about
			business and business management. Students will appreciate the
			course's up-to-date, real-life examples and in-depth coverage of
			business today. The course covers important current issues in the
			areas of motivation, today's workforce, and employee-management
			relations; human resources management; fundamentals of marketing and
			customer satisfaction; product and pricing strategies; distribution
			strategies; promotional strategies; accounting; financial management
			and banking; and securities.</p>
			<p><strong>BBA 479 Introductions to Sales Management (3)</strong><br>
			The course focus on sales management competencies-those core skills
			you need to be an outstanding sales manager in any setting. These
			competencies include: strategic action, global perspective,
			technology, self-management, coaching, and team building.</p>
			<p><strong>BBA 456 Introductions to Organizational
			Behavior (3)</strong><br>
			The course integrates the most current, cutting edge topics and
			educational best practices in the field of organizational behavior.
			The course approaches the field of organizational behavior from
			management practices and research.</p>
			<p><strong>BBA 498 Directed Readings 2: Sales and
			Marketing (3)</strong><br>
			This course provides an opportunity for a participant to study five
			marketing and selling books for review and critical analysis.</p>
			<p><strong>MBA 508 Research Methods in Business 1 (3)</strong><br>
			This course presents insights into real-live research methods in
			business. It present the dynamics of business research. All the
			basics business research principles are presented in traditional
			sequence. It also fully integrates issues critical to successful
			business research.</p>
			</blockquote>

</div>
##right_column##