<div id="full-content" class="equal-cols">
	<div class="heading">General Education</div>

	<p>(30 Semester Credits Hours)</p>
	<p>General Education Electives must be taken in the following Manner:</p>
	<table id="hor-minimalist-b"> 
		<thead>
			<tr>
				<th>Field</th>
				<th>Credit Hours</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>English Composition</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Humanities</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Social Science</td>
				<td>9</td>
			</tr>
			<tr>
				<td>Natural Science</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Mathematics</td>
				<td>3</td>
			</tr>
			<tr>
				<td>One Other General Education Elective</td>
				<td>3</td>
			</tr>
			<tr>
				<td colspan="2">Total Credit Hours 30</td>
			</tr>
		</tbody>
	</table>

	<p>General Elective Courses By Field</p>

	<h2>English and English Composition (6)</h2><br />
	<ul class="niceList">
		<li>ENG 105:  English Grammar (3)</li>
		<li>ENG 106:  English Composition  (3)</li>
		<li>ENG 201:  Writing (3)</li>
	</ul>
	
	<h2>Humanities (6)</h2><br />
	<ul class="niceList">
		<li>HUM 106:  Introduction to Humanities (3)</li>
		<li>HIS    135:  American History (3)</li>
		<li>HIS    214:  World History (3)</li>
		<li>PHI    219:  Philosophy/Ethics (3)</li>
		<li>REL  256:   Introduction to World Religions (3)</li>
	</ul>
	
	<h2>Social Science (9)</h2><br />
	<ul class="niceList"> 
		<li>PSY  176:   Introduction to Psychology (3)</li>
		<li>PSY  202:   Social Psychology (3)</li>
		<li>POL  219:   Political Science (3)</li>
		<li>POL  221:   International Relations (3)</li>
		<li>SOC  233:   Introduction to Sociology (3)</li>
		<li>SCC  245:   Introduction to Anthropology (3)</li>
		<li>SOC  267:   Socialization and Sociology (3)</li>
	</ul>
	
	<h2>Natural Sciences (3)</h2><br />
	<ul class="niceList">
		<li>SCI  101:  Physical Science (3)</li>
		<li>SCI  209:  Human Anatomy & Physiology (3)</li>
		<li>SCI  215:  Biology:  Concepts and Application (3)</li>
	</ul>
	
	<h2>Mathematics (3)</h2><br />
	<ul class="niceList">
		<li>MAT 107:  Basic Mathematics (3)</li>
		<li>MAT 201:  Pre-Algebra (3)</li>
		<li>MAT 233:  College Algebra (3)</li>
		<li>MAT 241:  Business Mathematics (3)</li>
		<li>MAT 256:  Applied Mathematics (3)</li>
	</ul>
		
	<br /><br /><hr /><br /><br />
	<h2>Course Descriptions</h2>
	<br /><br />
	
	<h2>English  (6)</h2><br />
	<ul class="niceList">
		<li>ENG 105: English Grammar (3) This is a course designed to provide students with a sound, comprehensive knowledge of the terminology and conventions of traditional English grammar, punctuation, and sentence structure.</li>
		<li>ENG 106:  English Composition  (3) This course is designed to teach critical reading and clear, purposeful and effective writing. These skills you will need in all other college classes and throughout your life.</li>
		<li>ENG 201:  Writing (3) This course in critical reading and expository writing offers training in the writing process, the development and organization of expository prose, and research techniques.  The course emphasizes quality in logic and diction.</li>
	</ul>
	
	<h2>Humanities (6)</h2><br />
	<ul class="niceList">
		<li>HIS 145: Introduction to American History 1 (3)  Course covers the pre-Columbian era, colonial period, formation of the USA, early national era, and Civil War era.</li>
		<li>HIS 146: Introduction to American History 2 (3) 1865-2010.  Reconstruction and a rise in power, roaring twenties, the Great Depression, World War II, the Cold War, Climax of liberalism, the Counter culture Revolution and Cold War Detente, end of the Cold War, the World Superpowers, 9/11 and War on Terror, worldwide recession and recent events.</li>
		<li>HIS 230: Introduction to World History 1 (3) Explores the history of the world, from Paleolithic times to 1500, which marks the end of the Middle Ages.  Studies the emergence of human beings in Africa and their gradual spread through Eurasia, Australia, and the Americas, examines the parallel development of Chinese, Indian, Middle Eastern, and European civilizations, along with the investigation concerning their interaction, especially through such interregional historical forces as Hellenism, Christianity, and Buddhism.</li>
		<li>HIS 231: Introduction to World History 2 (3) Modern history, rise of Europe, late modern history, contemporary history, pre-1945 (20 century), post 1945 (20 century), and 21st century.</li>
		<li>LOG 325: Introduction to Logic (3) Enables students to develop analytical, inductive and deductive reasoning though the study of syllogistic, symbolic, and informal logic.  In addition provides methods of constructing arguments, evaluating statements, and recognizing fallacies in theory as well as in practice.</li>
		<li>ART 200: History of Western Art I.  A  survey  of  Western  art  from  pre-history  through  the  middle  ages.  Emphasis  is  placed  on  examining  art  within  the  producing  cultures  of  ancient  Egypt,  the ancient near east, classical Greece and Rome, the Byzantine East, and medieval Europe. Students will be exposed to the basic methods of art historical analysis.</li>
		<li>ART 201: History of Western art II.  A  survey  of  Western  art  from  1300  to  the  present.  Special  emphasis  will  be placed on the development and expansion of Renaissance ideals of art, and then the  reassessment  of  these  ideals  in  the  Nineteenth  and  Twentieth  Centuries. Students will be exposed to the basic methods of art historical analysis.</li>
	</ul>
	
	<h2>Social Science (9)</h2><br />
	<ul class="niceList">
		<li>POL 219: Political Science (3) Increase your interest in and understanding of important questions, issues, and viewpoints relating to the U.S. national government and political processes as well as valuable concepts that can be used to learn about these matters.</li>
		<li>POL 221:  International Relations (3) This course examines major phenomena in the contemporary world which affect relations among international actors such as the state and the international organization.  They include globalization, clash of cultures and civilizations, democratization, globalization of capitalism, proliferation of international organizations and non-state actors, the decline of the nation state, the rise of global issues such as environment degradation and WMD, and respect of universal values.</li>
		<li>POL 314:  Diplomacy in Contemporary International Relations (3)   Basic understanding of diplomacy in international relations are developed, what diplomacy is, what it entrails (structure, process, agenda), what some complexities, anomalies and challenges are.  Follows the historical trajectory of diplomacy in international relations and deliberates upon what are seen as key historical  junctures.  Seeks to link the relevance of diplomacy to current international issues, relations, and nuances.  The course is theoretically grounded and practically useful. </li>
		<li>PSY 176:  Introduction to Psychology (3) Introduces psychology as a human and scientific endeavor, includes examination of concepts and methods in learning, motivation, development, personality, and social behavior.</li>
		<li>PSY 202:  Social Psychology (3) Focus on major theories in social psychology and the most recent research in the field.  Topics include gender, interpersonal attraction, aggression, and pro-social behavior.</li>
		<li>SOC 233:  Introduction to Sociology (3)   Provides a critical survey of contemporary social, political, and economic problems facing American Society.  Emphasizes the urban crisis, military-industrial complex, racism, and distribution of income.</li>
		<li>SOC 245:  Introduction to Anthropology (3) Introduces students to the anthropological study of different cultures, including ways of comparing and contrasting the structures of social relationships and belief systems that operate in different cultural settings.  Explore ways of trying to understand the world views and belief systems of other peoples by studying each of those systems in their particular contexts, and then comparing and contrasting different cultures and the contexts in which they are situated.</li>
		<li>SOC 267:  Socialization and Sociology (3) Presents the various ways in which the individual constructs his self-awareness.  Studies how social institutions such as the family and religion, influence the psychological makeup of the individual.</li>
		<li>SOC 377: Individual and Society (3)  Presents the various ways in which the individual constructs his/her self-awareness.  Studies how social institutions such as the family and religion, influence the psychological make up of the individual.</li>
	</ul>

	<h2>Natural Sciences (3)</h2><br />
	<ul class="niceList">
		<li>SCI  101:  Physical Science (3) The purpose of this course is to introduce the fundamental concepts of physical sciences.  The course will emphasize practical applications, especially those that integrate all of he natural sciences.</li>
		<li>SCI 209:  Human Anatomy and Physiology (3).  This course encompasses both, anatomy and physiology of the human body, it includes cell structure and function and basic concepts of human anatomy and physiology.</li>
		<li>SCI 215:  Biology:  Concepts and Applications (3).  The following topics are covered by this course: basic chemistry; the structure, organization, and energetic of the cell; genetics; evolution; taxonomy; microorganisms; fungi; plant biology; animal biology; and  environmental biology.</li>
	</ul>

	<h2>Mathematics (3)</h2><br />
	<ul class="niceList">
		<li>MAT 107:  Basic Mathematics (3) Review and practice in fundamental computational skills including operations with whole numbers, common fractions, decimals, percents, ratios, and proportions.  Metric and English systems of measurement geometric formulas, introduction to algebra including signed numbers and simple linear equations.</li>
		<li>MAT 201:  Pre-Algebra (3) This course is intended to serve as a bridge between arithmetic and algebra.  It includes a review of arithmetic, operations involving signed integers, fractions and decimals, variables and variable expressions, simple linear equations and their graphs, percent and proportion, introduction to statistic, geometry and measurement, and application problems.</li>
		<li>MAT 233:  College Algebra (3) Concepts involving complex numbers, quadratic equations, parabolas and circles, functions and their graphs, system of equations, rational exponents, radical equations, absolute value equations and inequalities, exponential and logarithmic functions and equations, parabolas and circles, function composition, inverse functions and their graphs, systems of equations, and exponential and logarithmic functions and equations.</li>
		<li>MAT 241:  Business Mathematics (3) Comprehensive review of the decimal system, fractions, percent, ratios, exponents, personal budget, finances, buying, calculating interest on a loan, purchases and sales, debits and credits, petty cash, graphs, and measurements, </li>
		<li>MAT 256:  Applied Mathematics (3) This course is for technicians.  Calculator techniques for whole numbers and decimal arithmetic problem-solving, fraction-decimal conversions, geometry, numerical trigonometry, conversions between the U.S. and metric systems, emphasis on application from technical fields.</li>
	</ul>
</div>