<div id="full-content" class="equal-cols">
	<div class="heading">Bachelors of Science in Industrial Engineering</div>
	
	<p><strong>Undergraduate Program</strong></p>

	<p>The Industrial Engineering Program emphasizes the themes of people, problems and systems in all of its coursework and program elements. The accredited curriculum provides a basic preparation in science and engineering along with a core of industrial engineering courses. The IE program provides a broad education in industrial engineering fundamentals while allowing students the opportunity for in-depth learning in an elective focus area. The elective focus areas are often of an interdisciplinary nature, and students have the choice of selecting one of the program-standard focus areas or of developing their own tailored focus area suited to their career aspirations. Many of the elective focus areas lead to official minors in areas such as computer science, business, or psychology. </p>

	<p>Students can choose a focus area for a set of electives including management, operations research, manufacturing, enterprise computing and information engineering, and human factors. </p>

	<p><strong>Focus Areas</strong></p>
	<ol>
		<li><p><i>Engineering Management:</i><br />Learn strategies necessary for solving internal and external problems of a company in areas such as production, quality, project management, sales, and marketing strategies. </p></li>
		<li><p><i>Human Factors:</i><br />Learn about the relationships between people and their work tasks, machines, information, and environment.  </p></li>
		<li><p><i>Operations Research:</i><br />Learn how to make good engineering decisions using quantitative models and methods for production and service systems such as, inventory control, scheduling, transportation, and logistics. </p></li>
		<li><p><i>Manufacturing Systems:</i><br />Learn how to design, analyze, operate, and control manufacturing processes and systems. </p></li>	
		<li><p><i>Enterprise Computing:</i><br />Learn how to integrate and use information from the functional units of an enterprise as well as between multiple enterprises. </p></li>
	</ol>

	<p><strong>Courses, Curriculum, and Seminars</strong></p>

	<p>Problem based learning and hands-on laboratory experience are major components of the program. Each semester has an average of 15-16 credit hours of course work. A total of 120 credit hours are required for graduation.</p>
	
</div>