<div id="full-content" class="equal-cols">
	<div class="heading">The Bachelor of Science in Leadership and Management</div>

	<p>If you have determined that pursuing a college degree is in your best interest personality and professionally, Hamilton College of the Bahamas has many advantages to offer you.  Our undergraduate programs provide the knowledge, insights, skills, and perspective necessary for you to succeed and excel as a leader in your field.  Both Bachelor degrees are offered at times and locations and/or online that will fit your schedule, especially if you are employed full time.  You will benefit from the academic credentials and professional expertise our faculty brings to you and the opportunity to interact with students of diverse ages, backgrounds, and experience.</p>
	<p>General College Studies consist of sixty semester hours that are earned during the first two years of a Bachelor of Science studies and Credit for Life Experiences (CLE).  Up to sixty semester hours of Credit for Life Experiences  may be granted for general studies on a case-by-case basis.  Those students who are defiance in certain general study areas, i.e. English, mathematics, behavioral sciences, social studies, general science, physical sciences,  world history, etc. will be required to complete the deficiencies in those areas prior to graduation.</p>

	<h2>Leadership and Management Courses</h2> <br/>
	<p>60 semester hours beyond 60 hours of general college studies</p>
	<ul class="niceList">
		<li>AML 301  Introduction  to Leadership and Management Skills I (3)</li>
		<li>AML 302  Introduction to Leadership and Management Skills II (3)</li>
		<li>AML 321  Introduction to Human Resource Management (3)</li>
		<li>AML 331  Introduction  to Coaching (3)</li>
		<li>AML 332  Introduction to Team Coaching (3)</li>
		<li>AML 334  Leadership in Administration (3)</li>
		<li>AML 336  Leadership in Rapid Times of Change (3)</li>
		<li>AML 344  Leadership and Communication (3)</li>
		<li>AML 351  Determining Leadership Style (3)</li>
		<li>AML 355  Public Speaking (3)</li>
		<li>AML 356  How to Conduct Effective Meetings (3)</li>
		<li>AML 357  How to Deal With Difficult People (3)</li>
		<li>AML 361  Leadership and Effective Planned Change (3)</li>
		<li>AML 366  Leadership and Sales (3)</li>
		<li>AML 367  Leadership and Marketing (3)</li>
		<li>AML 371  Directed Readings in Leadership I (3)</li>
		<li>AML 372  Directed Readings in Leadership II (3)</li>
		<li>AML 389  Field Study in Leadership (3)</li>
		<li>AML 400  Leadership Practicum (6)</li>
	</ul>

</div>
