<div id="full-content" class="equal-cols">
	<div class="heading">Bachelor of Science/MBA degree program</div>
	
	<p>Today's successful engineers often need strong business management skills to complement their degree in engineering. These skills are especially important for engineers who are interested in working for technical companies, launching their own business ventures, or pursuing nontraditional jobs such as consulting. The MBA provides an opportunity for competitive advantage for advancement into management positions. </p>
	<p>The Colleges of Business and Engineering offer an integrated, concurrent program leading to Bachelor of Science and Master of Business Administration degrees.  </p>
	<p>The best part is that this program reduces by one year the normal time for completing both degrees separately. Industrial Engineering undergraduates are eligible to participate in this program.</p>
	<p>Industrial Engineering students will complete all of the normal Bachelor of Science in Industrial Engineering degree requirements and the Industrial Engineering electives are replaced with MBA leveling courses.</p>
	<p>An expedited MBA admission process is also available to Bachelor of Science in Industrial Engineering seniors who meet requirements.</p>

	<p><strong>About the Program</strong></p>
	<p>The program is designed to be completed in a minimum of five academic years or ten semesters. The actual time for completion may be longer depending upon semester course loads, internships, and course sequencing. Careful planning with an academic adviser is essential throughout the program. This program is slightly accelerated through the first six semesters to complete the general education requirements. The remaining four semesters integrate the B.S. in IE requirements and the MBA courses. Twelve credits will be shared in common and will fulfill the requirements for both the B.S. in IE and the MBA. </p>
	
	<p><strong>Preparation for the B.S. IE/MBA</strong></p>
	<p>Students interested in pursuing the MBA need to demonstrate exemplary academic performance throughout their undergraduate program. Mastery of communications, economic theory, global and diversity perspectives, statistical data analysis, and the core professional curriculum is of particular importance. </p>
	
	<p><strong>The Selection Process</strong></p>
	<p>The program is demanding and admission is selective. Students are expected to exhibit superior intellectual ability, strong leadership attributes, and must be highly motivated and career-focused. All application materials, however, are taken into account collectively in the applicant review and student selection process. </p>

	<p><strong>Applying for Admission</strong></p>
	
	<p>Students must apply for the MBA by January 15 of their junior year. The following application materials are required:</p>
	<ol class="niceList">
		<li><p>Graduate college application</p></li>
		<li><p>Official transcripts</p></li>
		<li><p>Graduate Management Admissions Test (GMAT) scores</p></li>
		<li><p>Three letters of recommendation</p></li>
		<li><p>Statement of purpose</p></li>
		<li><p>Resume</p></li>
	</ol>

	<p>Admission into the program will only be considered for the fall semester of a student's senior year. If admitted to the MBA program, students then complete a concurrent enrollment request form. Admitted students are classified as graduate students when concurrent enrollment begins and are subsequently assessed graduate tuition and fees.</p>

</div>