<div id="full-content" class="equal-cols">
	<div class="heading">Center of Individual Excellence</div>
	<p>Dr. James Y Lin, Executive Director</p>

	<h2>Mission</h2>
	<p>CIE is dedicated to design and to deliver short-course programs to enhance
	organizational improvement and personal growth towards excellence. Be it in
	organizational change, business development, leadership advancement, educational
	enrichment, community and cultural growth, CIE is equipped to meet the challenges.</p>
	
	<h2>Vision</h2>
	<p>CIE offers certification short-courses with credits toward degree studies
	on a wide range of Life skill, Work skill for local to global clientele. Thus, our short-
	courses are not terminal study but they may lead to the continual studies toward higher
	education.</p>
	
	<p>SPECIAL VALUES OF SHORT-COURSE PROGRAMS: Replacing many continued
	education for credits and adult education programs with the following added values:</p>
	
	<ul class="niceList">
		<li>Most affordable (time and cost) training.</li>
		<li>Short but focused hands-on learning experience.</li>
		<li>Flexible designed programs based on the client's particular needs.</li>
		<li>Training may range from two hours talk to five days intensive certification training.</li>
		<li>Trainers are experienced in their fields of expert ices.</li>
		<li>Utilize and outsource local and global human talents.</li>
		<li>Solution focused and proactive action.</li>
		<li>Low cost to the employers and short and fast learning for the employees.</li>
		<li>Classroom training is linked to workplace practicum.</li>
		<li>Best organizational investment and employee benefits.</li>
	</ul>
	
	<h2>Resources</h2>
	<p>The CIE short-course programs focus on applied knowledge, hands-
	on skills, coaching and mentoring learning processes. We are global solution-focused
	and motivational driven team, made of local and global experienced multicultural and
	multitalented trainers. CIE also invite a wide range of existing business enterprises,
	technological entrepreneurs, educational institutes and governmental entities to
	collaborate for a win-win partnership.</p>
	
	<h2>Strategies</h2> 
	<p>As a global visionary team meeting borderless challenges, we offer
	both on-site and on-line training programs in North Americas, Caribbean islands and
	Asia. We also welcome win-win partnerships with local and global quality resources
	so to expedite our training delivery. Suggest our initial targets are our neighboring
	big five Caribbean markets: The Bahamas, Jamaica, Trinidad/Tobago and Barbados.</p>
	
	<h2>Training Programs Categories</h2><br />
	<ul class="niceList">
		<li>Organizational and Human Resource</li>
		<li>Wellness and Humor</li>
		<li>Workplace Conflict Mediation and Crisis Management</li>
		<li>Professional / Personal Coaching, Mentoring & Counseling</li>
		<li>School and Education Enrichment</li>
		<li>Family Relation Counseling</li>
		<li>Marketing and Selling</li>
		<li>Time Management</li>
		<li>Leadership Skills of Highly Effective Women Managers</li>
		<li>Customer Service and Satisfaction</li>
		<li>Improving Executive Leadership and Management Skills</li>
		<li>Improving Communications Skills</li>
		<li>Small Business and Financial Planning</li>
		<li>Self-Management and Career Development</li>
		<li>Supervisory, Leadership and Management Training</li>
		<li>Train-the-Trainer</li>
	</ul>
	
	<h2>Partial Popular Professional Certification Programs:</h2><br />
	<ul class="niceList">
		<li>Leadership Skills of Highly Effective Women</li>
		<li>Transformational Mediation for Conflict Resolution : Interpersonal & Organizational</li>
		<li>Humor Resource for Human Resource : Developing a Healthy and Happy Organizational Culture</li>
		<li>Integrating Leadership Intelligence (LQ) : LQ = IQ x EQ x AQ x SQ</li>
		<li>Maximizing Emotional Intelligence in the Workplace for Higher ROI</li>
		<li>Cultural Diversity Management (CDM)</li>
		<li>Roadmap to Successful Customer Relations Management (CRM)</li>
		<li>360 degree Organizational Communication</li>
		<li>Empowering Supervisory and Managerial Skills</li>
		<li>Developing Guidance, Counseling, Coaching, Mentoring Psychology</li>
		<li>Business Coaching, Professional Mentoring and Personal Growth</li>
		<li>Work Stress Transformation : Transforming Harmful Stress into Helpful Stress</li>
		<li>The 7 Successive Motivational Factors for Managers, Supervisors and Workforce</li>
		<li>Total Quality Wellness (TQW) for Organizational Wellness</li>
		<li>Business Financial Planning</li>
		<li>Engineering Project management</li>
		<li>Doing Win-Win Business with Asian Counterparts (China, India, Singapore, Vietnam, Malaysia, Philippines, Hong Kong, Thailand, etc.)</li>
	</ul>
	
	<p>* CIE will provide synopsis of any program upon request.</p>
	
	<p>** If your particular needed training program is not found on our list, please let us know and
	we will be happy to custom design it for you.</p>
	
	<h2>Partnership</h2>
	<p>As a business and educational driven organization, CIE welcomes
	partnership with civic organizations, corporations, learning institutions and interested
	individuals to sponsor our services for sharing purposes and benefits in fund
	raising, charity, community development, educational outreach, lifestyle and health
	enhancement.</p>
</div>

