<div id="full-content" class="equal-cols">
	<div class="heading">Medical Office Manager Training &amp; Certification</div>
	<p>The Advanced Medical Office Management Course</p>

<p>The advanced course is a 45 clock hour program in advanced topics of medical office management & administration. This program is designed to sharpen the skills of the medical office (practice) manager. The advanced course is designed for individuals who are currently working as a medical office (practice) manager. The program is offered via distance learning and examinations are administered online. Completion of this program also prepares you to take the CMMP certification examination. </p>

<h2>Length of Program</h2>
<p>The length of this program ranges from 4 weeks to 6 weeks. Program completion is dependent on the student's ability to complete the sections and tasks assigned. Once all sections are completed, the student will be required to take a timed final exam. Successful completion of this advanced course with a passing score of 70%, will entitle you to sit for the CMMP certification examination.</p>

<h2>Grade Requirements</h2>
<p>Must score a minimum of "70%" or better.</p>

<h2>Admission Requirements</h2>
<p>Prospective students for the Advanced Medical Office Manager Training program should have at least graduated from high school or earned a GED certificate. In addition candidates should have at least two years experience working in a management or supervisory position in a medical (healthcare) practice or must have completed the Basic Medical Office Management Training program.</p>

 
<h2>Enrollment & Payment Options</h2>
<p>- Payment in full: $1595 or, <br />
	- 4 consecutive equal monthly payments of: $398.75<br />
(A $15 administrative fee is included for those making monthly payments)
 </p>
 
<h2>Certification Exam</h2>
<p>Payment in full: $175</p>


	<h2>Med Office Certification Menu</h2>
	<ul class="niceList">
		<li><a href="?section=academics&doc=cmmp">Overview</a></li>
		<li><a href="?section=academics&doc=cmmp_details">Basic Program</a></li>
		<li>Advanced Training Program</li>
		<li><a href="?section=academics&doc=cmmp_reciprocity">CMMP Reciprocity</a></li>
		<li><a href="?section=request_information">Request Information</a></li>
		<li><a href="?section=application">Application</a></li>
	</ul>

</div>