<div id="full-content" class="equal-cols">
	<div class="heading">Medical Office Manager Training &amp; Certification</div>
<p><strong>The Medical Office Manager Training Program</strong><br>
This program is designed to help prepare students to enter the exciting
profession of Medical Office Administration. The program covers the
basics needed to help gain entrance and excel in the medical office
environment. Students will achieve the exposure and training necessary
to work in this dynamic occupation.<br>
<br>
The Medical Office Manager Training Program is the first of its kind.
The Program focuses on the non-clinical (business) side of the medical
office. Further it is designed for professionals who want to immediately
gain employment and build a career in medical office administration. <br>
<br>
The Medical Office Manager training
program is offered in three distinct parts:<br>
A. The Basic Medical Office Manager Program;<br>
B. The Advanced Medical Office Manager
Program and;<br>
C. The CMMP certification examination.<br>
<br>
<strong> A. The Basic Medical Office Manager Program<br></strong>
The Basic Medical Office Manager training
is a 90 clock hour program, in the fundamental aspects of medical office
management. The program is offered via
distance learning and examinations are administered online. This basic
course is geared towards individuals aspiring to become medical office
managers. <br>
<br>
<strong>B. The Advanced Medical Office Manager Program<br>
</strong>The advanced course is a 45 clock hour program in advanced topics of
medical office management. The program is offered via distance learning
and examinations are administered online. The advanced course is
designed for individuals who are currently working as a medical office
(practice) managers. Upon successful completion of this program, you
will become eligible to sit for the CMMP Certification Examination.<br>
<br>
<strong>C. The CMMP Certification Examination<br>
</strong>The Certified Medical Office Manager Practitioner (CMMP) is a
designation awarded upon successful completion of the basic and advanced
programs. Candidates must achieve a passing score of 70 percent on the
examination. The examination is administered online. The CMMP
certification is awarded for two years. Also certificants are required
to complete 24 hours of continuing medical practice management education
every two years in order to maintain their certification.</p>
<p>Industry Outlook<br>
The medical office manager is an important position in the medical
office. The medical office manager is responsible for the day-to-day
business operations and works very closely with patients, physicians,
vendors and regulators. Notwithstanding the size, a medical practice is
simply not able to run efficiently without a highly trained and
effective medical office manager.<br>
<br>
Usually the job description is very broad and encompassing, but normally
includes; Patient Scheduling, Insurance Billing, Staff Supervision,
Vendor Relations, Manage Care Issues, Computer Operations and other
General Office functions.<br>
Medical office managers come from diverse education backgrounds; some
have formal management education, while others are trained on the job. <br>
<br>
However many medical practices complain that, even candidates with
formal management education, are ill prepared to handle the unique
affairs of the medical practice. Further medical practices simply just
do not have the resources and time to train and nurture effective
practice managers. In addition whenever there is staff turnover medical
practices have a difficult time deciphering the competency level of new
hires.<br>
<br>
Therefore in response to the foregoing we have designed and presented
this program. <br>
<br>
</p>

	<h2>Med Office Certification Menu</h2>
	<ul class="niceList">
		<li>Overview</li>
		<li><a href="?section=academics&doc=cmmp_details">Basic Program</a></li>
		<li><a href="?section=academics&doc=cmmp_advanced">Advanced Training Program</a></li>
		<li><a href="?section=academics&doc=cmmp_reciprocity">CMMP Reciprocity</a></li>
		<li><a href="?section=request_information">Request Information</a></li>
		<li><a href="?section=application">Application</a></li>
	</ul>

</div>