<div id="full-content" class="equal-cols">
	<div class="heading">Medical Office Manager Training &amp; Certification</div>
	<p>Reciprocity Certification - Certified Medical Office Manager (CMMP) </p>
	<p>Reciprocity for the CMMP designation has been extended to candidates who hold the follow credentials: </p>
	<ul class="niceList">
		<li>CPC - American Academy of Professional Coders</li>
		<li>CMM - Professional Association of Health Care office Managers</li>
		<li>CPM - Professional Association of Office Mangers of America</li>
	</ul>
	<p>For a limited time we are allowing holders of these designations to sit for the CMMP certification without having to complete the formal course work. </p>
	
	<p>In making this offer we assume that credentialed individuals are experienced professionals and have demonstrated that they have the ability to complete both our basic and advanced medical office management training programs. </p>
	
	<p>However candidates who would like to earn the CMMP designation will be provided the study materials so that they may sit for the certification exam. The CMMP Certification Examination is administered online. </p>
	
	<h2>Why study to become a Medical Office Manager?</h2>
	<p>Looking for job security in an industry that is never out of favor then this is the program for you. The healthcare industry will continue to grow as our population ages and there is a constant need for new professional. The Medical Office Manager Program, you'll be prepared to join one of the fastest growing occupations in American. </p>
	
	<p>Medical Office Management is perfect for people who want to touch the lives of others. Over the next decade, millions of healthcare jobs will be created and as the profession grows, you'll be positioned to climb the Management ladder as long as you gain the much needed training required.</p>
	
	<p>Medical Office Manager Program is the first step to entering an exciting career. As a Medical Office Manager, you will play an important role in the healing process. It's a personally and financially rewarding career path, and as the healthcare industry continues to expand, your long-term career prospects are looking healthier than ever. With MMP at West Bay College, you'll be ready to succeed with speed. </p>
	
	<h2>Where Can I Work After My Medical Office Manager Training?</h2>
	
	<p>From doctor's offices to long-term care facilities, our program will prepare you to work in a variety of professional medical settings. Here are just a few examples:</p>
	<ul class="niceList">
		<li>Offices of Physicians</li>
		<li>Offices of Medical Science</li>
		<li>Hospitals</li>
		<li>Walk In Clinics</li>
		<li>Outpatient Care Centers</li>
		<li>Assisted Living Facilities</li>
		<li>Nursing Homes</li>
	</ul>
	
	<h2>Medical Office Manager Job Opportunities</h2>
	<p>Technology is growing faster than ever, and Medical Office jobs are growing along with it. Today's medical environment is dominated by fascinating new technologies and instruments and Medical Offices are going hi-tech as well. As the human lifespan continues to expand, Medical Office jobs are set for explosive growth. Across the board, health service jobs are expected to grow by more than 25 to 30 percent through the year 2014. That's nearly twice the rate of growth expected from the overall economy. In fact, the US Department of Labor predicts that more than 19 percent of all jobs created through 2014 will be added in the healthcare industry, and salaries are growing as well. Now is a great time to enter the growing healthcare profession.</p>


	<h2>Med Office Certification Menu</h2>
	<ul class="niceList">
		<li><a href="?section=academics&doc=cmmp">Overview</a></li>
		<li><a href="?section=academics&doc=cmmp_details">Basic Program</a></li>
		<li><a href="?section=academics&doc=cmmp_advanced">Advanced Training Program</a></li>
		<li>CMMP Reciprocity</li>
		<li><a href="?section=request_information">Request Information</a></li>
		<li><a href="?section=application">Application</a></li>
	</ul>

</div>