<div id="full-content" class="equal-cols">
	<div class="heading">Medical Office Manager Training &amp; Certification</div>
	<p>The Basic Medical Office Manager Program is a 90 clock hour program in the fundamental aspects of medical office management. Unlike medical assisting training which takes up 6 months and covers areas that are not utilized in the medical office management occupation, this program is designed to get you working in as short a time as possible. The program is offered via distance learning and examinations are administered online. The basic course is geared toward individuals who are starting out as medical office managers.</p>

	<p>This program is divided into three areas:</p>
	<h2>Area One (30 clock hours)</h2>
	<ul class="niceList">
		<li>Introduction;</li>
	    <li>The Health Care Professional;</li>
	    <li>Personnel Management in the Medical Office;</li>
	    <li>The Front Medical Office;</li>
	    <li>Medical Records; and</li>
	    <li>Billing, Coding, and Collecting I.</li>
    </ul>
	<h2>Area Two (30 clock hours)</h2>
	<ul class="niceList">
	    <li>Billing, Coding, and Collecting II</li>
	    <li>Fraud, Abuse, and Compliance;</li>
	    <li>Documentation and Risk Assessment;</li> 
	    <li>Ethical and Legal Issues;</li>
	    <li>Technology in the Health Care Environment; and</li>
	    <li>Employee Benefits.</li>
    </ul>
	<h2> Area Three (30 clock hours)</h2>
	<ul class="niceList">
	    <li>Health and Safety;</li>
	    <li>Responsibilities of the Office Manager;</li>
	    <li>Outpatient Services, Ambulatory, Surgical centers, and Hospitals;</li>
	    <li>The Business Side of Medicine; and</li>
	    <li>Medical Marketing.</li>
    </ul>
    
	<h2>Length of Program</h2>
	<p>Program completion is dependent on the student's ability to complete the sections and tasks assigned. Once all sections are completed, the student will be required to take a timed final exam. Students usually complete this program in 8 to 12 weeks.</p>
	
	<h2>Grade Requirements</h2>
	<p>Must be completed with a grade of "70%" or better</p>
	
	<h2>Admission Requirements</h2>
	<p>Prospective candidates for the Basic Medical Office Manager Training Program should have at least graduated from high school or earned a GED certificate. Prior experience in the medical office management field is not required. However applicants should have a strong desire to build a career in medical office management, be innovative, and possess strong reading, writing, math, and computer and reasoning skills. </p>
	
	<h2>Enrollment & Payment Options</h2>
	<ul class="niceList">
		<li>Payment in full: $1295 or,</li>
		<li>3 consecutive equal monthly payments of: $432</li>
	</ul>

	<h2>Med Office Certification Menu</h2>
	<ul class="niceList">
		<li><a href="?section=academics&doc=cmmp">Overview</a></li>
		<li>Basic Program</li>
		<li><a href="?section=academics&doc=cmmp_advanced">Advanced Training Program</a></li>
		<li><a href="?section=academics&doc=cmmp_reciprocity">CMMP Reciprocity</a></li>
		<li><a href="?section=request_information">Request Information</a></li>
		<li><a href="?section=application">Application</a></li>
	</ul>

</div>