<div id="full-content" class="equal-cols">
	<div class="heading">Chandra College of Engineering</div>

	<p>Engineering is defined by the Accreditation Board for Engineering and Technology as that profession in which knowledge of the mathematical and natural sciences gained by study, experience, and practice is applied with judgment to develop ways to use, economically, the materials and forces of nature for the benefit of mankind. In short, engineering is the application of science and mathematics to solve problems for society.</p>
	
	<p>The major aim of engineering is the creation of a new process, product, material, or system. This activity demands a high degree of creativity and problem solving ability coupled with a full understanding of engineering fundamentals, good judgment, and a practical sense of economics. </p>
	
	<p>The College of Engineering prepares men and women for one or more of the many career opportunities in the engineering profession. Such opportunities include positions in design, production, development, research, management, and consulting. Engineers are employed in industrial organizations, governmental agencies, and private practice. </p>
	
	<p>The College of Engineering's mission is to develop, disseminate, transfer, and preserve technical knowledge that improves people's lives. The college endeavors to provide a well-rounded and superior engineering education that draws upon resources of a comprehensive research university to attract outstanding undergraduate and graduate students in selected engineering fields; conduct high-quality research in selected areas, enabling faculty members and students to keep pace with new developments and ensuring that the newest concepts are taught in its courses; and serve the needs of the University, industry, government, and the general populace by making its facilities and faculty expertise accessible.</p>

	<ul class="niceList">
		<li><a href="?section=academics&doc=bs_industrial_engineering">BS in Industrial Engineering</a></li>
		<li><a href="?section=academics&doc=bs_ms_industrial_engineering">BS/MS in Industrial Engineering</a></li>
		<li><a href="?section=academics&doc=bs_mba_industrial_engineering">MS/MBA in Industrial Engineering</a></li>
		<li><a href="?section=academics&doc=ms_industrial_engineering">MS in Industrial Engineering</a></li>
		<li><a href="?section=academics&doc=phd_industrial_engineering">Ph.D in Industrial Engineering</a></li>
	</ul>
</div>