<div id="full-content" class="equal-cols">
	<div class="heading" >College of Spiritual Studies</div>
		<p>Georgetown Wesleyan University of the America's College of Spiritual Studies consists of programs designed to help pastors and ministry leaders develop their ministry skills. Whether their goal is advanced ministry opportunities, movement into another area of ministry (e.g. teaching or denominational administration), or simply personal achievement, there is a course of study to meet each student's needs. Our professors teach more than theory. They are not simply educators. They are men and women who have been actively involved in ministry for decades. They bring experience and knowledge to the classroom or online experience. And their goal is to mentor pastors and ministry professionals to help them achieve their highest potential.</p>
		<h2>Our Mission:</h2>
		<p>To provide affordable, high-quality graduate and post-graduate education for men and women actively engaged in Christian service;</p>
		<p>To challenge students through critical thinking, research and writing to develop a sound biblical world view and hermeneutic and to express them clearly to the contemporary culture;</p>
		<p>To equip Christians to use their intellect, skills and gifts in building up the Body of Christ, engaging and reaching the greater world, and ministering to the varied physical, spiritual and emotional needs of their fellow human beings.</p>
		<ul class="niceList">
			<li><a href="?section=academics&doc=division_christian_counseling" class="category"> Division of Christian Counseling and Psychology</a></li>
		</ul>
</div>
