<div id="full-content" class="equal-cols">
	<div class="heading">Ram College of Business and Leadership</div>
	
	<h3>About Ram College of Business and Leadership</h3>
	
	<p>If you are looking for a flexible and dynamic program with cutting-edge insight and outlook on business, then you will find our programs and courses very worthwhile for your business and entrepreneurial development. You may have wondered what it is about our school that makes it stand out, and what will give you the knowledge and experience to succeed in your business career.</p>
	
	<p>Since inception, the aim of this college faculty and leadership has been to create strong leaders and make strong leaders stronger. There are few business schools or online MBA programs with such a dynamic approach to leadership and professional business development.</p>
	
	<p>Our professors are preeminent scholars and passionate educators. They not only working in the fields that they teach, but many are also business owners themselves.  Some write the books on the subjects they teach while others help create the experience in the classroom. You will call them your mentors.</p>
	
	<p>Our alumni are senior leaders in business, government, education and other fields. You will call them your peers, your future business partners and your friends.</p>
	
	<p>A business education will give you the experience necessary to prepare you to outsmart the competition, excel in the fast-paced global economy, solve problems creatively and build consensus across diverse groups. </p>
	<p>The Ram College of Business and Leadership is made up of two departments:  Business Administration and Applied Management.</p>
	<ul class="niceList">
		<li><a href="?section=academics&doc=div_ba">Department of Business Administration</a></li>
		<li><a href="?section=academics&doc=div_ma">Department of Applied Management</a></li>
	</ul>
</div>