<div id="full-content" class="equal-cols">
	<div class="heading">College of Guidance and Counseling Psychology</div>
	<p>The College of Guidance and Counseling's master of science degree is designed with the professional in mind.  The College of Guidance and Counseling program encompasses 42 credit hours of practical learning in a format that accommodates full-time workers. The General Counseling program consist of 39 credit hours, which also accommodates full-time workers.  Students complete their credit hours on-line during the summers, evenings and through supervised field experiences.</p>

	<p>Job growth for graduates with a Guidance and Counseling master's degree is expected to increase faster than the national average.  The need for counselors has grown as school enrollment has increased.  There is also a growing need for counselors with a strong background in substance abuse and behavioral disorders.  These troubled students are more often being sent into school treatment programs that require the expertise of a counselor as opposed to being sent to jail.</p>

	<h2>Objectives</h2>
	<p>The MS program aims to train competent, professional research-oriented counselors who are
	able to:</p>
	<ol class="niceSmallList">
		<li>Prevent problems and promote optimal human development;</li>
		<li>Help counselees learn the decision-making process;</li>
		<li>Help people alter their maladaptive behavior; and</li>
		<li>Apply scientific research methods to find improved ways of helping counselees.</li>
	</ol>
	<br />
	<h2>Admissions Requirements</h2>
	<ol class="niceSmallList">
		<li>A bachelor's degree with 15 units of required subjects in psychology (i.e., 3 units each
		of general psychology, developmental psychology, social psychology, theories of
		personality and abnormal psychology);</li>
		<li>A college grade-point average equivalent to 3.0 on a 4.0 scale;</li>
		<li>Passing the admissions test administrated by College of Guidance and Counseling;</li>
		<li>An interview with the school chairperson;</li>
		<li>For non-English-speaking applicants, enrollment in an English language course at the
		Center for English Language Learning (CELL) prior the first trimester of the program.</li>
	 </ol>
	<p>An additional six (6) credit hours of Advanced Technical Reading and Writing 1&2 will be
	required for applicants with a low score in the essay part of the entrance examination.</p>
	
	
	<h2>Retention in the Program</h2>
	<p>Students must not obtain any grade lower than 2.0 in order to remain in the program. They
	are expected to finish the program in 2 years.</p>
	
	
	<h2>Program Requirements</h2>
	<p>Academic Courses - 30 credit hours<br />
	Practicum - 6 credit hours<br />
	Comprehensive Examination - 6 credit hours</p>
	
	<h2>Transfer of Credits and Job Search</h2>
	<p>If you're planning to transferring schools, pursue additional study or working as an employer of the government, agency or an organization, be aware that each agency or organization has its own transfer or acceptance policy.  Some organizations or agencies may accept your Georgetown Wesleyan University of the Americas credits unconditionally.  Some may not give you full credit.  Some may reject your transcripts or degrees completely.  If you want to make sure that your transcript and degree from Georgetown Wesleyan University of the Americas will be accepted, make a list of potential transfer schools, agencies or organizations.  Call each one and ask for a copy of their transfer and acceptance policy. No guarantee is given that credits or degrees will be accepted by any employer or governmental agency.</p>
	
	
	<h2>Degrees:</h2> <br />
	<ul class="niceList">
		<li><a href="?section=academics&doc=ms_guidance_counseling">Master of Science in School Guidance and Counseling</a></li>
		<li><a href="?section=academics&doc=ms_counseling">Master of Science in General Counseling</a></li>		
		<li><a href="?section=academics&doc=ma_christian_counseling">Master of Arts in Christian Counseling and Psychology</a></li>

	</ul>	
</div>
