<div id="full-content" class="equal-cols">
	<div class="heading">College of Health Sciences</div>
	
	<p>Humans throughout our history strove to overcome illnesses, injury and other health related issues.
This has always been challenging, however, the advances in the sciences, especially applied sciences
with its research base have contributed to the advances in the health sciences.</p>

<p>The aim of health sciences is to ensure that human beings enjoy optimum health with the use of applied
science in health related areas.</p>

<p>The College of Health Sciences seeks to prepare students to participate actively in the different areas
of specialization in health sciences. The areas of nursing, public and community health, and healthcare
management and administration are offered at the College of Health Sciences.</p>
	
	<ul class="niceList">
		<li><a href="?section=academics&doc=division_nursing">Divison of Nursing</a></li>
		<li><a href="?section=academics&doc=division_health_care">Divison of Health Care Management</a></li>
		<li><a href="?section=academics&doc=cmmp">Medical Office Manager Training & Certification</a></li>
	</ul>
	
</div>