<div id="full-content">
<div class="heading">Courses in the Bachelor of Science Degree in
Health Care Management</div>


<p><strong>Phase One (Distant Learning)</strong></p>
<p>&nbsp;MBA 500:&nbsp; Review of Management and Leadership
Principles 1<br>
&nbsp;MBA 501:&nbsp; Review of Management and Leadership Principles 2<br>
&nbsp;MBA 502:&nbsp; Review of Management and Leadership Principles 3<br>
&nbsp;MBA 503:&nbsp; Review of Management and Leadership Principles 4<br>
&nbsp;MBA 504:&nbsp; Review of Management and Leadership Principles 5<br>
&nbsp;MBA 505:&nbsp; Review of Management and Leadership Principles 6<br>
&nbsp;MBA 506:&nbsp; Review of Management and Leadership Principles 7<br>
&nbsp;<br>
&nbsp;(The e book for this phase will be provided for $25. USD)</p>
<p><strong>Phase Two (On-Site Training)</strong></p>
<p>&nbsp;HCM 400:&nbsp; Introduction to Degree Program<br>
&nbsp;MBA 513:&nbsp; Review of Management and Leadership Principles<br>
&nbsp;HCM 430:&nbsp; Advanced Principles of Management 1<br>
&nbsp;HCM 431:&nbsp; Advanced Principles of Management 2<br>
&nbsp;HCM 432:&nbsp; Advanced Principles of Leadership 1<br>
&nbsp;HCM 433:&nbsp; Advanced Principles of Leadership 2<br>
&nbsp;HCM 415:&nbsp; Use of Coaching Techniques and Practices 1<br>
&nbsp;HCM 416:&nbsp; Use of Coaching Techniques and Practices 2<br>
&nbsp;HCM 418:&nbsp; Use of Teams in Health Care Management 1<br>
&nbsp;HCM 419:&nbsp; Use of Teams in Health Care Management 2<br>
&nbsp;HCM 422:&nbsp; Strategic Management and Theory 1<br>
&nbsp;HCM 423:&nbsp; Strategic Management and Theory 2<br>
&nbsp;HCM 425:&nbsp; Strategic Management of Health Care Organizations 1<br>
&nbsp;HCM 426:&nbsp; Strategic Management of Health Care Organizations 2<br>
&nbsp;HCM 433:&nbsp; Principles, Measurements, and the Health Department
<br>
&nbsp;HCM 434:&nbsp; Cross-Cutting Global Health Theme--Part 1<br>
&nbsp;HCM 435:&nbsp; The Burden of Disease--Part 2<br>
&nbsp;HCM 436:&nbsp; Working Together to Improve Global Health--Part 3<br>
&nbsp;HCM 438:&nbsp; We Must Rise to the Global Health Challenge 1<br>
&nbsp;HCM 439:&nbsp; We Must Rise to the Global Health Challenge 2 <br>
&nbsp;HCM 441:&nbsp; Global Health Care Communication 1<br>
&nbsp;HCM 442:&nbsp; Global Health Care Communication 2<br>
&nbsp;HCM 443:&nbsp; Global Health Leadership and Management 1<br>
&nbsp;HCM 444:&nbsp; Global Health Leadership and Management 2<br>
&nbsp;HCM 445:&nbsp; Global Health Leadership and Management 3<br>
&nbsp;HCM 447:&nbsp; Critical Issues in Global Health 1<br>
&nbsp;HCM 448:&nbsp; Critical Issues in Global Health 2<br>
&nbsp;HCM 449:&nbsp; Critical Issues in Global Health 3<br>
&nbsp;HCM 450:&nbsp; Confronting Aids 1<br>
&nbsp;HCM 460:&nbsp; Confronting Aids 2<br>
&nbsp;HCM 463:&nbsp; Tobacco Control 1<br>
&nbsp;HCM 464:&nbsp; Tobacco Control 2<br>
&nbsp;HCM 471:&nbsp; Challenges in Health Care Management 1<br>
&nbsp;HCM 472:&nbsp; Challenges in Health Care Management 2<br>
&nbsp;HCM 471:&nbsp; Case Studies in Health Care Management 1<br>
&nbsp;HCM 472:&nbsp; Case Studies in Health Care Management 2</p>
<p><strong>Workshops Which Are Available in the Evening:</strong></p>
<p>&nbsp;DML 323:&nbsp; Methods of Leading and Managing Clever
People<br>
&nbsp;DML 357:&nbsp; Creating Rapport-Influencing Others Even When You
Have No Direct &nbsp;Authority over Them<br>
&nbsp;DML 404:&nbsp; Working Together in Multicultural Organizations<br>
&nbsp;DML 421:&nbsp; Business Etiquette and Professionalism<br>
&nbsp;DML 451:&nbsp; Balancing Home and Work<br>
&nbsp;DML 501:&nbsp; Leadership Characteristics of Highly Effective
Women in North America</p>

</div>