<div id="full-content" class="equal-cols">
	<div class="heading">The Department of Applied Management</div>

	<p>The Department of Applied Management offers graduate programs in national, regional, and international management and business fields that follow the "North American" style of education.  We stress a hands-on, pragmatic approach to learning that will provide you with skills and knowledge you can apply to your career immediately.</p>
	<p>You will develop your ability to think critically, conduct analysis, and communicate finds by collaborating with other students and considering current issues discussing case studies.  You will be learning from accomplished faculty with expertise in business and government throughout the world-you can feel confident that you are receiving the most current view of business and management in the international arena.</p>
	<p>Whether you seek a graduate degree or professional certificate you will find a program that address your academic interest and provides the flexibility you need to pursue them.</p>
	<p>The Department is made up of university professors, successful business and governmental leaders who are full- or part-time national and international consultants, trainers in business, governmental organization, management development, human resource management, training and education</p>

	<p>Seven degrees are offered in the Department of Applied Management:</p>
	<ul class="niceList">
		<li><a href="?section=academics&doc=bs_entrepreneurial">Bachelor of Science in Entrepreneurial Management</a></li>
		<li><a href="?section=academics&doc=bs_leadership">Bachelor of Science in Leadership and Management</a></li>
		<li><a href="?section=academics&doc=ms_admin">Master of Science in Administrative Studies</a></li>
		<li><a href="?section=academics&doc=ms_management">Master of Science in Management Studies</a></li>
		<li><a href="?section=academics&doc=ms_coaching">Master of Science in Coaching, Mentoring and Consulting</a></li>
		<li><a href="?section=academics&doc=dr_business_admin">Doctor of Business Administration</a></li>
		<li><a href="?section=academics&doc=dr_philosophy">Doctor of Philosophy</a></li>
	</ul>
</div>