<div id="full-content" class="equal-cols">
	<div class="heading">Department of Business Administration</div>

	<p>Our Business Administration programs were designed for experienced business people, who after several years in managerial positions wish to put part of their knowledge into a degree program - Bachelor of Science in Business Administration (BSBA), Master of Business Administration (MBA), Doctor of Business Administration (DBA) or Doctor of Philosophy (Ph.D). </p>

	<p>The structure of the programs allows candidates from all over the world to participate.  It is a partly distant learning program, a balanced mixture of being guided and supported from different angels in two one week residential sessions together with their peer groups.  Usually in each group of about ten students there are at least five different nationalities gathered.  Groups of students may be formed throughout the world depending upon need and availability of students.</p>

	<p>Each student is matched with a faculty supervisor who is a university professor and a specialist in the area of the participant's degree goals.  </p>

	<p>Four Degrees are available in the Department of Business Administration are:</p>
	
	<ul class="niceList">
		<li><a href="?section=academics&doc=bs_business">Bachelor of Science in Business Administration (BSBA)</a></li>
		<li><a href="?section=academics&doc=masters_business">Master of Business Administration</a></li>
		<li><a href="?section=academics&doc=dr_business_admin">Doctor of Business Administration</a></li>
		<li><a href="?section=academics&doc=dr_philosophy">Doctor of Philosophy</a></li>
	</ul>		

</div>