<div id="main-content" class="equal-cols">
<div class="heading">Division of Biblical Studies and Theology
(DBST)</div>
<p><span style="font-family: Arial, Helvetica, Geneva, Sans-serif;">
<span style="font-family: Arial, Helvetica, Geneva, Sans-serif;">
	<span style="font-family: Arial, Helvetica, Geneva, Sans-serif;">
		<a target="_blank" href="http://173.201.175.238/gwuabs/images/stories/GWUA_biblical_studies_MA_degrees.pdf"><font color="#810081"><u>Biblical Studies Overviews of Courses Offered</u></font></a></span>
	</span><br />
	<span style="font-family: Arial, Helvetica, Geneva, Sans-serif;">
		<a target="_blank" href="http://173.201.175.238/gwuabs/images/stories/GWUA_theology_MA_degrees.pdf"><u><font	color="#810081">Theology Overviews of Courses Offered</font></u></a>
	</span>
&nbsp; 
</span>
<p align="justify"><span
	style="font-family: Arial, Helvetica, Geneva, Sans-serif;">In
Acts 18, Luke describes one of the early followers of Jesus as "...a
learned man, with a thorough knowledge of the Scriptures. He had been
instructed in the way of the Lord, and he spoke with great fervor and
taught about Jesus accurately" (vv. 24-25). And yet, Apollos still
needed Priscilla and Aquila to explain to him the way of God "more
adequately" (Acts 18:26). </span></p>
<p align="justify"><span
	style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Although
we believe the Holy Spirit guides, directs and empowers believers for
effective ministry and service, we at the College of Biblical Studies
and Theology also affirm the vital importance of being thoroughly
equipped for ministry through a knowledge of God's Word and an
understanding of its interpretation by God-inspired scholars and devoted
Christians throughout church history. We believe everyone called to
ministry has an inherent obligation to present themselves "as one
approved, a workman who does not need to be ashamed and who correctly
handles the word of truth" (2 Timothy 2:15). </span></p>
<p align="justify"><span
	style="font-family: Arial, Helvetica, Geneva, Sans-serif;">The
programs of study in the College of Biblical Studies and Theology have
been designed to give students a solid biblical and historical framework
for understanding the Scriptures and to enable them to think critically
about biblical interpretation and theological assumptions, thereby
equipping them to teach and preach God's Word with greater accuracy,
confidence and conviction. The online courses make it possible for those
already involved in ministry to continue serving while growing in their
knowledge and understanding of God's Word, and many of the courses'
writing assignments are designed to be immediately useful in the church
setting. </span></p>
<p align="justify"><span
	style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Through
personal contact via e-mail and online message boards and chatrooms,
students are ensured a dynamic learning experience that far surpasses
the typical correspondence course. Each student receives personal,
professional guidance and training, and programs can be personally
tailored to meet each individual's career goals or learning objectives.
</span></p>
<p align="justify"><span
	style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Applicants
may receive work experience credit upon review by the college dean and
university president. </span></p>
<p align="justify"><span
	style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Whether
you're looking to advance your ministerial career or simply to enhance
your own sphere of knowledge to be better equipped for your current
ministry, you'll find our programs to be challenging, thought-provoking,
thoroughly evangelical and well worth your investment of time and
resources. </span></p>

<ul class="niceList">
	<li><a href="?section=academics&doc=ma_biblical_languages">Master of Arts in Biblical Languages</a></li>
	<li><a href="?section=academics&doc=ma_biblical_studies">Master of Arts in Biblical Studies</a></li>
	<li><a href="?section=academics&doc=ma_contemporary_theology">Master of Arts in Contemporary Theology</a></li>
	<li><a href="?section=academics&doc=ma_historical_theology">Master of Arts in Historical Theology</a></li>
	<li><a href="?section=academics&doc=ma_nt_studies">Master of Arts in New Testament Studies</a></li>
	<li><a href="?section=academics&doc=ma_ot_studies">Master of Arts in Old Testament Studies</a></li>
	<li><a href="?section=academics&doc=ma_systemic_theology">Master of Arts in Systematic Theology</a></li>
	<li><a href="?section=academics&doc=ma_theology">Master of Arts in Theology</a></li>
</ul>
</div>
##right_column##