<div id="main-content" class="equal-cols">
	<div class="heading">Division of Christian Ministry (CCM)</div>
	<span style="font-family: Arial, Helvetica, Geneva, Sans-serif;">
	<p style="text-align: justify;"><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">The&nbsp;Division
	of Christian Ministries offers both academic and vocational degree
	programs designed to prepare men and women for professional service in
	Christian ministry and community service, including Christian education.
	We offer flexible and affordable distance and online learning programs
	from the Master of Arts in Ministry to the Doctor of Ministry degree. We
	have a commitment to you to deliver high-quality education to the
	nations of the world in the spirit of Christian evangelism and service.
	Among the purposes of the college is to help you become the pastor,
	youth pastor, evangelist, missionary, etc. that God is calling you to
	be. We believe that in training Christian leaders three areas are
	important: solid academic preparation, action application opportunities,
	and experienced and dedicated professors. </span></p>
	<p align="left"><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;"><font
		color="#1b335c"><strong>Three</strong> <strong>Degrees</strong>
	<strong>are</strong> <strong>available</strong> <strong>in</strong> <strong>the</strong>
	<strong>Division </strong><strong>of</strong> <strong>Christian</strong>
	<strong>Ministry:</strong></font> <br>
	</span><span
		style="font-size: 11px; font-family: Arial, Helvetica, Geneva, Sans-serif;"><font
		color="#566d99">* MA in Church Leadership and Administration
	(coming in the fall)</font></span></p>
	</span>
	
	<ul class="niceList">
		<li><a href="?section=academics&doc=ma_christian_education">Master of Arts in Christian Education</a></li>
		<li><a href="?section=academics&doc=ma_christian_ministry">Master of Arts in Christian Ministry</a></li>
	</ul>
</div>
##right_column##