<div id="full-content" class="equal-cols">
	<div class="heading">Doctoral Programs</div>
	<ul class="niceList">
		<li><a href="?section=academics&doc=dr_business_admin">Doctor of Business Administration</a></li>
		<li><a href="?section=academics&doc=dr_philosophy">Doctor of Philosophy</a></li>
		<li><a href="?section=academics&doc=dr_education">Doctor of Education</a></li>
		<li><a href="?section=academics&doc=phd_industrial_engineering">Doctor of Industrial Engineering</a></li>
		<li><a href="?section=academics&doc=dr_comparison">Comparison of Doctoral Degrees</a></li>
		<li><a href="?section=academics&doc=dr_program">Doctoral Program Requirements</a></li>
		<li><a href="?section=academics&doc=dr_admission_criteria">Admission Criteria</a></li>
	</ul>

</div>