<div id="full-content" class="equal-cols">
	<div class="heading">Admission Criteria</div>

	<p>Admission to Georgetown Wesleyan University's doctoral degree program requires the following:</p>

	<p>Candidates must submit an official transcript of their master's degree in a related field or post graduate
	work. Official transcripts must be sent directly from the issuing institutions. Candidate can submit
	unofficial transcripts for review but must have official transcripts before final admission is granted. No
	student copy of transcripts will be accepted; if the student has attended/graduated from a non-English
	foreign institution if so an English translation must be included.</p>
	
	<p>Proof of a cumulative grade point average of 3.0 in all graduate work at the master's level or higher;</p>
	
	<p>A minimum of two years work experience;</p>
	
	<p>Completion of the GWUA application form;</p>
	
	<p>Two-page essay on the topic: "How the doctorate will advance my personal and career goals";</p>
	
	<p>Provision to the GWUA admissions office of copies of the master's theses or advanced research papers/
	projects.</p>
	
	<p>A current CV, including a list of publications, research, presentations, and other related work;</p>
	
	<p>Two letters of recommendation from faculty and/or associates not related to the applicant; and</p>
	
	<p>A $50.00 nonrefundable application and processing fee.</p>
	
	<p>A student who has not completed at least one doctoral course at GWUA within one year from the date of
	admission must apply for readmission. The student must be selected again by the Admission Committee
	before enrolling in a doctoral-level course. Students should consult the Tuition, Fees, and Refunds
	sections of GWUA's catalog for information regarding tuition, fees, tuition payments, and tuition refund.</p>
	
	<p>Students will be informed regarding course prerequisites to be completed prior to admission to their
	respective degree programs or prior to enrollment in courses that require prerequisite knowledge. If
	an applicant does not possess a master degree or equivalent, (s)he may seek conditional admittance
	to a doctoral program, by petitioning the Doctoral Admission Committee (DAC). If the DAC approves
	the application, the student will be required to successfully complete the required courses from the
	appropriate program. Upon completion of the required preparatory courses, the student may obtain full
	admittance to the doctoral program.</p>
	
	<h3>Additional Requirements</h3>
	
	<p>Application Fee and Tuition</p>
	
	<p>Application and Processing Fee: $50 (non-refundable)</p>
	
	<p>Tuition: $475 per credit hour</p>
	
	<p>International Student Admission Criteria: International students should consult the International
	Student Admission Requirements sections of this catalog.</p>
	
	<p>Applicant Selection: The Doctoral Admission Committee will conduct the initial screening of
	applicants. The Doctoral Admission Committee will review the applicant's credentials and forward a
	recommendation to the dean of the respective doctoral degree program. Decisions of the Admissions
	Committee will be as follows. Applicants will be: (a) admitted; (b) not admitted; or (c) conditionally
	admitted.</p>
	
	<p>The applicant will receive the decision in writing from the dean of the respective degree program.</p>
	
	<p>Admission: A degree program advisor will be assigned to the student until completion of the degree
	program.</p>
	
	<p>Non-Admission: The applicant will be notified of non-admission by the dean of the degree program.</p>
	
	<p>Conditional Admission: The applicant will be notified by the dean of the degree program of the
	conditions for admission and time periods for satisfying the conditions for admission. A program advisor
	will be assigned to assist the applicant in satisfying the conditions for admission.</p>
	
	<h3>Transfer of Credit</h3>
	
	<p>The Doctoral Admission Committee (which includes the dean of the applicant's doctoral degree
	program) will determine the amount of coursework acceptable for transfer into the doctoral program. A
	maximum of eight (8) credit hours may be transferred into the student's doctoral program. This course
	work must be equivalent to required courses in the doctoral program.</p>
	
	<h3>Degree Completion</h3>
	
	<p>The student's doctoral project is reviewed by the doctoral review committee. The committee makes a
	recommendation to the Vice President of Academic Affairs and Chief Academic Officer concerning the
	awarding of the doctoral degree. Students must complete all requirements within seven (7) years of
	completion of their initial course. A student may apply to the dean of the program for a leave of absence
	of two (2) years or fewer. If the absence is approved, the seven (7) year time limit will be suspended for
	that period and will resume at the end of the leave of absence, whether or not the student enrolls in the
	doctoral degree program courses.</p>

</div>
