<div id="full-content" class="equal-cols">
	<div class="heading">Comparison of Doctoral Degrees</div>
			<p align="justify"><strong>Common characteristics</strong>: All
			four degrees are considered to be terminal and the highest degree for
			their particular profession and purpose. At Georgetown Wesleyan
			University of the Americas, all four are available in-service and
			share core courses in research.&nbsp; For the Doctor of Ministry, the
			candidate may select either the dissertation (thesis), project or
			practicum.&nbsp; For the Doctor of Philosophy, the candidate must
			write a dissertation. For the Doctor of Business Administration,
			&nbsp;the candidate may do either the dissertation, the practicum or
			project. For the Doctor of Education, the candidate may do either the
			practicum or project.&nbsp; Depending upon the student,
			circumstances, career goals, or perceived needs, the DBA, the PhD,
			EdD or DMin degree may be just what they are seeking.</p>
			<p align="justify">To earn a doctoral degree <strong>the
			student will need to produce a dissertation, project or</strong> <strong>practicum</strong>
			of approximate 80,000 words under the supervision of an Advisor
			Professor/ Major Professor and the Doctoral Committee. As with the
			master's thesis, when applying for a doctoral program students should
			have a strong background knowledge in the subject they want to study
			and an idea of what they want to research. An Advisor Professor/
			Major Professor and Doctoral Committee of three members will assist
			the student in the journey of planning, researching and writing the
			dissertation, project or practicum. In the two one-week meetings at a
			designated center, these professors will work closely with students
			in this process.</p>
			<p align="justify">The dean of the college/school in which the
			doctoral candidate is enrolled will determine the location of the two
			one-week residence sessions.&nbsp; During these times, the candidate,
			advisor professor, and the Doctoral Committee will work together on
			the dissertation or project.&nbsp; These residence requirements are
			usually held the third week in November of each year.</p>
			<p align="justify">The doctoral candidate must <strong>exhibit
			original research and writing by preparing a dissertation, project or
			practicum</strong>. A final oral examination in defense of the dissertation,
			practicum or project is administered after the dissertation or
			project is completed.&nbsp; The student must complete the
			dissertation, project or practicum and pass the final oral
			examination within a maximum of five calendar years after being
			admitted to candidacy.&nbsp; These activities will be held in the
			second one-week residence requirement. <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; . <br>
			<strong>Doctoral degrees are offered at GWUA in the
			following concentrations:</strong></p>
			<p><strong>Doctor of Ministry</strong><strong> </strong>(DMin)</p>
			<ul>
				<li>Christian Counseling and Psychology</li>
				<li>Church Leadership and
				Management&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</li>
				<li>Christian Ministry</li>
				<li>Christian Education</li>
				<li>Biblical Studies</li>
				<li>Old and New Testaments Studies</li>
				<li>Biblical Languages</li>
				<li>Practical Theology</li>
			</ul>
			<p><strong>Doctor of Business Administration</strong> (DBA)&nbsp;
			</p>
			<ul>
				<li>General Business Administration</li>
				<li>Marketing and Sales</li>
				<li>Executive Leadership and Development</li>
				<li>Organizational Development and Effectiveness</li>
				<li>Global Family Wealth Management/Advising</li>
			</ul>
			<p><strong>Doctor of Philosophy</strong> (PhD):&nbsp;</p>
			<ul>
				<li>Education</li>
				<li>Business Management and Leadership</li>
				<li>Executive Leadership and Management</li>
				<li>Guidance and Counseling Psychology</li>
				<li>Health Care Management</li>
				<li>Public Health Management</li>
				<li>Biblical Studies (including OT, NT and Biblical Languages)</li>
				<li>Theology (including Systematic, Historical and
				Contemporary)</li>
				<li>Christian Education</li>
				<li>Christian Counseling and Psychology</li>
			</ul>
			<p><strong>Doctor of Education</strong> (EdD)</p>
			<ul>
				<li>Administration and Supervision</li>
				<li>Early Childhood Care and Education</li>
				<li>Elementary School Education</li>
				<li>Middle School Education</li>
				<li>High School Education<strong>&nbsp;</strong></li>
			</ul>
</div>

