<div id="full-content" class="equal-cols">
<div class="heading">Doctor of Education (EdD)</div>
	<p align="justify">The <strong>Doctor of Education (EdD)</strong>
	program is a professional doctorate that prepares the student for
	academic, administrative, clinical or specialized positions in
	education.&nbsp; Like other doctorates, the EdD is a terminal degree.
	The Doctor of Education requires 45 credit hours.</p>
	<p align="justify">The EdD differs from a Doctor of Philosophy (PhD)
	in education in that it allows the study of a greater variety of
	education-related subjects in the first stages of study, focusing on a
	single topic only at the end. However, both the EdD and PhD are
	research-based degrees demanding the same level of academic rigor.&nbsp;
	A typical PhD in England, for example, usually requires the submission
	of a maximum 80,000-word dissertation/thesis; the entire study period is
	spent in researching the topic and writing the dissertation/thesis. For
	an EdD, the student might be required to research various topics in the
	first part of their study, preparing a 5,000 to 6,000-word report for
	each. The last part of their study would be spent on the
	dissertation/thesis, which might be 45,000 to 50,000 words, totaling
	about the same amount of words overall as the PhD. A key difference
	between the two doctorates is that the&nbsp; PhD student tends to work
	alone while the EdD will initially be part of a learning community,
	although increasingly PhD students are required to take courses on
	research methods similar to those taken by EdD students.</p>
	<p align="justify">In terms of career development, because the EdD
	is a professional doctorate, it is not training for a career in
	academia, unlike the PhD.&nbsp; The effect on a future career will
	depend on the area of study. The EdD is generally presented as an
	opportunity to prepare for academic, administrative or specialized
	positions in education, favorably placing the graduates for promotion
	and leadership responsibility, or high-level professional positions in a
	range of locations in the broader education industry.</p>
</div>

