<div id="full-content" class="equal-cols">
<div class="heading">Doctor of Philosophy (PhD)</div>
			<p align="justify">The <strong>Doctor of Philosophy
			(PhD)</strong> degree is training for research and is required if you want to
			become a professor in a university or if applying for university
			employment. High-level scientific researchers are generally PhD
			holders. The PhD is arguably the most prestigious doctorate, but is
			actually awarded in dozens of fields with no direct link to the study
			of philosophy. The PhD at Georgetown Wesleyan University of the
			Americas is uniquely designed for professionals who are unable to
			relinquish or suspend their full-time jobs in order to pursue a
			doctorate. The PhD may be earned online with only two one-week
			residence requirements at the Distance Learning Center located in
			Barbados (or other location determined by advisor). The PhD is
			web-enhanced. With current technology it is possible to engage in:
			scholarly research, peer group interaction, independent study,
			mentoring by a major professor, and writing via the Internet.
			Georgetown Wesleyan University of the Americas' programs take
			advantage of leading-edge technology and teaching techniques to
			assure in-depth learning. The Doctor of Philosophy degree requires a
			minimum of 45 credit hours.</p>
</div>
##right_column##