<div id="main-content" class="equal-cols">
	<div class="heading">Doctoral Program Requirements</div>
			<p>Georgetown Wesleyan University of the Americas (GWUA) requires
			that all doctoral programs reasonably conform to the specifications
			provided in the appropriate doctoral handbook below:</p>
			<p>Doctor of Philosophy (PhD)<br>
			Doctor of Business Administration (DBA)<br>
			Doctor of Ministry (DMin)<br>
			Doctor of Education (EdD)</p>
			<p align="justify">Forty-five credit hours are required for all
			doctoral programs. <strong>Five courses (15 credit hours) in
			the area of concentration may also be required.</strong> Each candidate will
			be evaluated on his or her prior education and life experiences to
			determine if additional credit hours in the area of concentration are
			required. A candidate and his or her Major Professor/ Faculty Advisor
			will also evaluate the candidate's additional requirements for the
			doctoral degree from the courses below. The GWUA Doctoral
			Requirements Worksheet will be completed by the candidate and faculty
			advisor (major professor) and forwarded to the office of the Provost
			for approval and assignment of the Doctoral Review Committee members.
			[Note: Students who do not have a master's degree in their area of
			proposed doctoral studies may be required to take up to 12
			master's-level courses in the area of concentration before being
			admitted to doctoral-level courses.]</p>
			<p><strong>Core Courses</strong> (9-12 credits)<strong>
			</strong></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP
			700:&nbsp; Orientation to Doctoral Program (3)*<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 729:
			Writing Proposals (3)*<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 739:&nbsp;
			Directed Readings 1 (3) <br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 740:&nbsp;
			Directed Readings 2 (3)</p>
			<p><strong>Select One of the Following</strong><strong>
			</strong>(3 credits)</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP
			733:&nbsp; A Comprehensive Guide to <u>Dissertation</u> Content and
			Process (3)<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 734:&nbsp;
			A Comprehensive Guide to <u>Practicum</u> Content and Process (3)<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 735:&nbsp;
			A Comprehensive Guide to <u>Project</u> Content and Process (3)</p>
			<p><strong>Major Component Courses</strong> (select one group,
			18-36 credits)</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP
			755:&nbsp; Dissertation &nbsp;I (6-12)*<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 756:&nbsp;
			Dissertation II (6-12)<br>
			<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</strong>DPP 757:&nbsp; Dissertation III (6-12)</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			or</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; DPP
			760:&nbsp; Practicum I (6-12)*<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 761:&nbsp;
			Practicum II (6 -12)<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 762:&nbsp;
			Practicum III (6-12)<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			or</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP
			770:&nbsp; Project I (6-12)*<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 771:&nbsp;
			Project II (6-12)<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DPP 772:&nbsp;
			Project III (6-12)</p>
			<p align="justify">* &nbsp;Each course, I-III, is six months in
			length. A candidate may take up to one and a half years to complete
			the dissertation, practicum or project.&nbsp; If additional time is
			required, the candidate may register&nbsp; again for DPP 757, DPP 762
			or DPP 772 each six months until the dissertation, practicum or
			project is completed and turned into the Office of the Provost.
			Additional credit will not be awarded.</p>
</div>
##right_column##