<div id="full-content" class="equal-cols">
	<div class="heading">Master of Science in School Administration and Supervision</div>


	<h2>Core Courses (54)</h2> <br/>
	<p>Required</p>
	<ul class="niceList">
		<li>EDU 502: School Administration (3)</li>
		<li>EDU 517: Socialization and Support (3)</li>
		<li>EDU 522: Leadership, School, and the Community (3)</li>
		<li>EDU 523: School and the Curriculum (3)</li>
		<li>EDU 524: Educational Research 1 (3)</li>
		<li>EDU 567: Law and Education (3)</li>
		<li>EDU 601: Educational Theory, Research, and Practice (3)</li>
		<li>EDU 615: Leadership and Management 1 (3)</li>
		<li>EDU 688: Data Analysis & School Administration (3)</li>
	</ul>

	<h2>Educational and Administrative Electives</h2> <br />
	<p>Select 3 Courses</p>
	<ul class="niceList">
		<li>EDU 501: Review of Early Childhood Care and Education Principles and Theories (3)</li>
		<li>EDU 525: Understanding Child Development (3)</li>
		<li>EDU 520 Early Childhood Care and Education Programs (3)</li>
		<li>EDU 531: Educational Research 2 (3)</li>
		<li>EDU 618: Leadership and Management 2 (3)</li>
	</ul>


</div>
