<div id="main-content" class="equal-cols">
<div class="heading">Master of Arts in Biblical Studies</div>
	<h2><strong>Overview</strong></h2>
	<p>While most of modern-day Evangelicalism points to the Bible as
	the basis of faith, it is surprising how little most people know of what
	the Bible actually says. And there are even fewer ministers who are able
	to accurately expound on the Scriptures without distorting the text to
	make it mean what they already believe.</p>
	<p>The MABS degree is designed to give the student a broad
	background in understanding biblical culture and history, biblical
	languages and principles of interpretation, and a panoramic
	understanding of the whole of Scripture. It also provides students with
	an understanding of biblical transmission and reliability and equips
	them to defend the accuracy of Scripture in a skeptical world.</p>
	<p>Each of the courses offered in the MABS program attempts to
	immerse the student in the original texts so students have an
	understanding of how the Old or New Testament Scriptures were understood
	by their original audience as well as the early church. Students who
	successfully complete this program will be able to confidently,
	intelligently and accurately interpret Scripture and show its relevancy
	to contemporary culture.</p>
	<h2><strong>Intended audience</strong></h2>
	<p>The MABS degree is designed for experienced ministers or Bible
	teachers who wish to increase their understanding of the original text
	of Scripture so they are equipped to teach it in a way that is
	harmonious with its original intention. It is also suitable for serious
	laypeople who desire to deepen their understanding of the truths of
	Scripture as originally taught.</p>
	<table width="100%" bgcolor="#f7f7f7" border="0" cellpadding="3"
		cellspacing="0">
		<tbody>
			<tr>
				<td colspan="2" bgcolor="#cccccc">&nbsp;</td>
				<td bgcolor="#cccccc">
				<div align="right"><strong>Credits</strong></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#eeeeee"><strong>Core Courses
				Required</strong> (7 courses, 21 credits)</td>
			</tr>
			<tr>
				<td>BIB 501</td>
				<td>Introduction to Biblical Studies</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 502</td>
				<td>Introduction to Biblical Languages</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 503</td>
				<td>From Texts to Translations</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 504</td>
				<td>Hermeneutics</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 505</td>
				<td>Advanced Study of the OT</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 506</td>
				<td>Advanced Study of the NT</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>THEO 507</td>
				<td>Wesleyanism: ATheology of Love</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#cccccc">&nbsp;</td>
				<td bgcolor="#cccccc">&nbsp;</td>
				<td bgcolor="#cccccc">
				<div align="right"><strong>Credits</strong></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#eeeeee"><strong>Electives </strong>(Select
				3 courses, 9 credits)</td>
			</tr>
			<tr>
				<td>THEO 500</td>
				<td>Introduction to Biblical Theology</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 522</td>
				<td>Introduction to Biblical Ethics</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 523</td>
				<td>Introduction to Apologetics</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 531</td>
				<td>Elementary Greek 1</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 532</td>
				<td>Elementary Greek 2</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 533</td>
				<td>Advanced Greek 1</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 534</td>
				<td>Advanced Greek 2</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 541</td>
				<td>Elementary Hebrew 1</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 542</td>
				<td>Elementary Hebrew 2</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 543</td>
				<td>Advanced Hebrew</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#cccccc">&nbsp;</td>
				<td bgcolor="#cccccc">&nbsp;</td>
				<td bgcolor="#cccccc">
				<div align="right"><strong>Credits</strong></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#eeeeee"><strong>Thesis </strong>(6
				credits)</td>
			</tr>
			<tr>
				<td>BIB 591</td>
				<td>Research / Directed Readings</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 592</td>
				<td>Thesis</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
		</tbody>
	</table>

</div>
##right_column##
