<div id="main-content" class="equal-cols">
<div class="heading">Master of Arts in Biblical Languages</div>
	<p><strong>Overview</strong></p>
	<p>The Bible is the most important book ever given to mankind. And
	it deserves to be read with the thoughtfulness that can only come from
	understanding it in its original language. With the variety of study
	tools available today, more and more students are opting to forego
	language study. But that puts them forever at the mercy of the
	interpreters and robs them of the rich meaning and nuanced understanding
	that can only be appreciated by a firm grasp of the biblical languages<em>.</em></p>
	<p><em>The MABL degree is designed to immerse students in
	biblical Hebrew and Greek so they understand not only the technical
	grammatical aspects of the languages, but also the richness of the
	biblical text itself. Students will be challenged to translate large
	portions of Scripture in order to gain a proficiency in reading and
	understanding the texts in their original languages.</em></p>
	<p><strong>Intended audience</strong></p>
	<p><em>The MABL degree is designed for experienced ministers or
	Bible teachers who wish to increase their understanding of the original
	text of Scripture so they are equipped to teach it in a way that is
	harmonious with its original intention. It is also suitable for serious
	laypeople who desire to deepen their understanding of the truths of
	Scripture as originally taught.</em></p>
	<table width="100%" bgcolor="#f7f7f7" border="0" cellpadding="3"
		cellspacing="0">
		<tbody>
			<tr>
				<td colspan="2" bgcolor="#cccccc">&nbsp;</td>
				<td bgcolor="#cccccc">
				<div align="right"><strong>Credits</strong></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#eeeeee"><strong>Core Courses</strong>
				Required (10 Courses, 30 Credits)</td>
			</tr>
			<tr>
				<td>BIB 502</td>
				<td>Introduction to Biblical Languages</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 531</td>
				<td>Elementary Greek 1</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 532</td>
				<td>Elementary Greek 2</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 533</td>
				<td>Advanced Greek 1</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 534</td>
				<td>Advanced Greek 2</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 541</td>
				<td>Elementary Hebrew 1</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 542</td>
				<td>Elementary Hebrew 2</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 543</td>
				<td>Advanced Hebrew</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 621</td>
				<td>Old Testament Textual Criticism</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 622</td>
				<td>New Testament Textual Criticism</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#ffffff">&nbsp;</td>
				<td bgcolor="#ffffff">&nbsp;</td>
				<td bgcolor="#ffffff">&nbsp;</td>
			</tr>
			<tr>
				<td bgcolor="#cccccc">&nbsp;</td>
				<td bgcolor="#cccccc">&nbsp;</td>
				<td bgcolor="#cccccc">
				<div align="right"><strong>Credits</strong></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#eeeeee"><strong>Thesis (6
				credits):</strong></td>
			</tr>
			<tr>
				<td>BIB 591</td>
				<td>Research / Directed Readings</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
			<tr>
				<td>BIB 592</td>
				<td>Thesis</td>
				<td>
				<div align="right">(3)</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
##right_column##
