<div id="main-content" class="equal-cols">
<div class="heading">Master of Arts in Christian Education</div>
<p align="justify"><span style="font-size: 12px;"><span
	style="font-weight: normal; font-family: Arial, Helvetica, Geneva, Sans-serif;">The
Masters of Arts in Christian Education consists of 36 semester hours of
course work. All students in the College of Christian Education will
take 30 hours of core subjects and 6 hours in a concentration to prepare
them to serve in a variety of ministry roles.</span></span><span
	style="font-weight: normal; font-size: 12px; font-family: Arial, Helvetica, Geneva, Sans-serif;">
</span></p>
<h4 style="text-align: left;"><span
	style="font-size: 12px; font-family: Arial, Helvetica, Geneva, Sans-serif;">Core
Subjects<span style="font-weight: normal;"> (30 Semester Hours)</span> </span></h4>
<ul>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	500 Introduction to Christian Education (3) </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	501 Educational Psychology (3) </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	503 Philosophy and Principles of Christian Education (3) </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	509 Children's Ministry in the Growing Church (3) </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	511 Family Life Ministry (3) </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	515 Developing a Total Church Education Program (3) </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	519 Christian History and Heritage (3) </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	521 Program Development, Implementation and Evaluation (3) </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	530 Developing Lay Leaders and Lay Pastors in the Church (3) </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">CE
	533 Church Staff and Members Relations Practicum (3) </span></li>
</ul>
<p><span style="font-family: Arial, Helvetica, Geneva, Sans-serif;"><strong>Concentrations
</strong>(6 Semester Hours) </span></p>
<p align="justify"><span
	style="font-family: Arial, Helvetica, Geneva, Sans-serif;">The
concentration will be a practicum in a Christian education field under
the supervision of a college professor and a working Christian education
professional. The following roles or fields are available for the
concentration part of the Master of Arts in Christian Education: </span></p>
<ul>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Adult
	Ministry </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Business
	Ministry </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Children's
	Ministry </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Collegiate
	Ministry </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Counseling
	Ministry </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">General
	Ministry </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Student
	Ministry </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Youth
	Ministry </span></li>
	<li><span
		style="font-family: Arial, Helvetica, Geneva, Sans-serif;">Worship
	Ministry </span></li>
</ul>

</div>

##right_column##