<div id="full-content" class="equal-cols">
	<div class="heading">Master of Arts in Christian Ministry</div>
	<h2>Degree overview</h2>
	<p>Pastoral ministry is a difficult job, requiring one person to be
	an expert in the areas of theology, counseling, public speaking,
	administration, leadership, missions, education, and contemporary
	culture. Most pastors realize after a few years of ministry that they
	were inadequately prepared through their college or seminary degree
	programs.</p>
	<p>The MACM degree is designed to offer practical help to those
	already in church ministry, deepening their skills in communication,
	leadership and ministry and giving them new insight in how to
	effectively lead a church in today's changing world. The courses in the
	MACM program are highly practical, challenging students to make every
	principle learned relevant to their current ministry position.</p>
	<h2>Intended audience</h2>
	<p>This program is designed for ministry professionals who want to
	become more proficient in their ministerial skills to more effectively
	reach their communities and minister to their congregations. It is also
	intended for those seeking to enter the ministry who want up-to-date
	resources and training that will equip them for the basics of ministry,
	but who want more practical advice than theory.</p>
	<h2>Course Outlines &amp; Grading</h2>
	<p>Each course contains a course outline, which states the learning
	objectives of the course, required text, examinations, assignments and
	grading policies. An average grade of C is required to pass each course.</p>
	<h2>Core courses</h2>
	<p>(7 courses, 21 credits, all are required)</p>
	<ul class="niceList">
		<li>MIN 503  	Advanced Theology of Ministry (3)</li>
		<li>MIN 505 	Advanced Contemporary Preaching and Teaching (3)	</li>
		<li>MIN 507 	Leadership in the Church 	(3)</li>
		<li>MIN 509 	21st Century Evangelism, Discipleship, and Church Growth 	(3)</li>
		<li>MIN 602 	Church Administration 	(3)</li>
		<li>MIN 606 	Recruiting and Training Volunteers 	(3)</li>
		<li>MIN 615 	Use of Small Groups in Church Building 	(3)</li>
	</ul>
			
	<p><strong>Total core credits 18 </strong></p>
	
	<h2>Minor Elective Area courses</h2>
	<p>(9 credits)</p>
	<ul class="niceList">
		<li>MIN 521 Advanced Christian Counseling (3)</li>
		<li>MIN 533 Developing a Total Church Education Program (3)</li>
		<li>MIN 541 Strategies for Global Missions (3)</li>
	</ul>
	<p><strong>Total elective credits 9</strong></p>

	<h2>Thesis</h2>
	<p>(6 credits)</p>
	<ul class="niceList">
		<li>MIN 591 Thesis, Practicum, or Project I (3)</li>
		<li>MIN 592 Thesis, Practicum, or Project II (3)</li>
	</ul>
	
	<p><strong>Total thesis credits 6</strong></p>
</div>