<div id="main-content" class="equal-cols">
	<div class="heading">Master of Arts in Christian Ministry</div>
	<h2><strong>Degree overview</strong></h2>
	<p>Pastoral ministry is a difficult job, requiring one person to be
	an expert in the areas of theology, counseling, public speaking,
	administration, leadership, missions, education, and contemporary
	culture. Most pastors realize after a few years of ministry that they
	were inadequately prepared through their college or seminary degree
	programs.</p>
	<p>The MACM degree is designed to offer practical help to those
	already in church ministry, deepening their skills in communication,
	leadership and ministry and giving them new insight in how to
	effectively lead a church in today’s changing world. The courses in the
	MACM program are highly practical, challenging students to make every
	principle learned relevant to their current ministry position.</p>
	<h2><strong>Intended audience</strong></h2>
	<p>This program is designed for ministry professionals who want to
	become more proficient in their ministerial skills to more effectively
	reach their communities and minister to their congregations. It is also
	intended for those seeking to enter the ministry who want up-to-date
	resources and training that will equip them for the basics of ministry,
	but who want more practical advice than theory.</p>
	<h2><strong>Course Outlines &amp; Grading</strong></h2>
	<p>Each course contains a course outline, which states the learning
	objectives of the course, required text, examinations, assignments and
	grading policies. An average grade of C is required to pass each course.</p>
	<h2><strong>Degree requirements</strong></h2>
	<table width="100%" bgcolor="#f7f7f7" border="0" cellpadding="3"
		cellspacing="0">
		<tbody>
			<tr>
				<td colspan="2" bgcolor="#cccccc"><br>
				</td>
				<td bgcolor="#cccccc"><strong>Credits</strong></td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#eeeeee">
				<p><strong>Core courses (7 courses, 21 credits, all are
				required)</strong></p>
				</td>
			</tr>
			<tr>
				<td bgcolor="#f7f7f7">MIN 503</td>
				<td bgcolor="#f7f7f7">Advanced Theology of Ministry</td>
				<td bgcolor="#f7f7f7">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#f7f7f7">MIN 505</td>
				<td bgcolor="#f7f7f7">Advanced Contemporary Preaching and
				Teaching</td>
				<td bgcolor="#f7f7f7">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#f7f7f7">MIN 507</td>
				<td bgcolor="#f7f7f7">Leadership in the Church</td>
				<td bgcolor="#f7f7f7">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#f7f7f7">MIN 509</td>
				<td bgcolor="#f7f7f7">21st Century Evangelism, Discipleship, and
				Church Growth</td>
				<td bgcolor="#f7f7f7">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#f7f7f7">MIN 602</td>
				<td bgcolor="#f7f7f7">Church Administration</td>
				<td bgcolor="#f7f7f7">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#f7f7f7">MIN 606</td>
				<td bgcolor="#f7f7f7">Recruiting and Training Volunteers</td>
				<td bgcolor="#f7f7f7">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#f7f7f7">MIN 615</td>
				<td bgcolor="#f7f7f7">Use of Small Groups in Church Building</td>
				<td bgcolor="#f7f7f7">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="border-top: 1px dashed rgb(204, 204, 204);"
					bgcolor="#f7f7f7"><strong><em>Total core credits</em></strong></td>
				<td style="border-top: 1px dashed rgb(204, 204, 204);"
					bgcolor="#f7f7f7">
				<div align="right"><strong><em>18</em></strong></div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#ffffff"><br>
				</td>
				<td bgcolor="#ffffff"><br>
				</td>
				<td bgcolor="#ffffff"><br>
				</td>
			</tr>
			<tr>
				<td bgcolor="#cccccc"><br>
				</td>
				<td bgcolor="#cccccc"><br>
				</td>
				<td bgcolor="#cccccc"><strong>Credits</strong></td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#eeeeee">
				<p><strong>Minor Elective Area courses (9 credits)</strong></p>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#f7f7f7"><em>Christian
				Counseling/Psychology </em></td>
			</tr>
			<tr>
				<td bgcolor="#ffffff">MIN 521</td>
				<td bgcolor="#ffffff">Advanced Christian Counseling</td>
				<td bgcolor="#ffffff">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#f7f7f7"><em>Christian Education </em></td>
			</tr>
			<tr>
				<td bgcolor="#ffffff">MIN 533</td>
				<td bgcolor="#ffffff">Developing a Total Church Education
				Program</td>
				<td bgcolor="#ffffff">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#f7f7f7"><em>Christian Missions </em></td>
			</tr>
			<tr>
				<td bgcolor="#ffffff">MIN 541</td>
				<td bgcolor="#ffffff">Strategies for Global Missions</td>
				<td bgcolor="#ffffff">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="border-top: 1px dashed rgb(204, 204, 204);"
					bgcolor="#f7f7f7"><strong><em>Total elective
				credits</em></strong></td>
				<td style="border-top: 1px dashed rgb(204, 204, 204);"
					bgcolor="#f7f7f7">
				<div align="right"><strong><em>9</em></strong></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#ffffff"><br>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#f7f7f7">
				<p><strong>Thesis (6 credits)</strong></p>
				</td>
			</tr>
			<tr>
				<td bgcolor="#ffffff">MIN 591</td>
				<td bgcolor="#ffffff">Thesis, Practicum, or Project I</td>
				<td bgcolor="#ffffff">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="#ffffff">MIN 592</td>
				<td bgcolor="#ffffff">Thesis, Practicum, or Project II</td>
				<td bgcolor="#ffffff">
				<div align="right">3</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="border-top: 1px dashed rgb(204, 204, 204);"
					bgcolor="#f7f7f7"><strong><em>Total thesis
				credits</em></strong></td>
				<td style="border-top: 1px dashed rgb(204, 204, 204);"
					bgcolor="#f7f7f7">
				<div align="right"><strong><em>6</em></strong></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#ffffff"><br>
				</td>
			</tr>
			<tr>
				<td colspan="2"
					style="border-top: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(237, 202, 36);"
					bgcolor="#566d9a"><strong><em><font
					color="#ffffff">Total credits for this degree</font></em></strong></td>
				<td
					style="border-top: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(237, 202, 36);"
					bgcolor="#566d9a">
				<div align="right"><strong><font color="#ffffff">36</font></strong></div>
				</td>
			</tr>
		</tbody>
	</table>

</div>
##right_column##


