<div id="main-content" class="equal-cols">
<div class="heading">Master of Arts in Contemporary Theology</div>
<p align="justify"><strong>A. Overview</strong></p>
<p align="justify">Navigating the contemporary theological landscape
today can be confusing and frustrating. And it can be even more
difficult to lead Christians entrusted to our care to biblical
theological positions. There is much in contemporary theology that is
refreshing, and much that has dangerous ramifications if followed to
logical conclusions. It is vital that we understand the general scope of
today’s varied pop theologies and that we are equipped with the tools to
discern truth and error.</p>
<p align="justify">The MACT program is designed to give the student
an overview of the historical development of contemporary theology as
well as a clear understanding of the biblical basis of a truly
evangelical theology. The student is challenged to critically assess
contemporary theologies and to strategize ways to harness the gold while
removing the dross.</p>
<p align="justify"><strong>B. Intended audience</strong></p>
<p align="justify">This course is designed for ministry
professionals who desire a strong understanding of the theological
underpinnings of evangelicalism in order to evaluate the current
theological landscape. It is valuable for those unfamiliar with
contemporary theologies who want to be conversant with the theological
language employed by the emergent church. It is also suitable for
laypeople who seek a greater understanding of the theological principles
taught in Scripture and how those principles have been understood by the
Church throughout history.</p>
<p align="justify"><strong>Core Courses Required (10
Courses, 30 Credits)</strong></p>
<p align="justify">THEO 500 Introduction to Biblical Theology (3)<br>
THEO 501 Historical Theology (3)<br>
THEO 505 Contemporary Theology (3)<br>
THEO 523 Dispensationalism versus Covenant Theology (3)<br>
THEO 524 Postmodernism and the Emergent Church I (3)<br>
THEO 525 Postmodernism and the Emergent Church II (3)</p>
<p align="justify">THEO 621 Protestant Gnosticism (3)<br>
THEO 622 Christian Mysticism (3)<br>
THEO 507 Wesleyanism: A Theology of Love (3)<br>
BIB 522 Introduction to Biblical Ethics (3)</p>
</div>
##right_column##


