<div id="main-content" class="equal-cols">
<div class="heading">Master of Arts in Historical Theology</div>
<p align="justify"><strong>A. Overview</strong></p>
<p align="justify">Historical theology seeks to understand the
evolution of theological understanding throughout history. Understanding
the process of wrestling with theological positions and their
ramifications enables us to approach our own development of theological
positions with a view toward the future and the long-term benefits or
consequences of our positions. It also makes us acutely aware of errors
that have assaulted orthodox Christianity time and again through the
centuries and which still threaten it today.</p>
<p align="justify">The MAHT program is designed to give the student
a broad background in the development of evangelical theology through
history as well as a clear understanding of the biblical basis of an
evangelical theology. The student is also challenged to evaluate
historical trends and developments in order to discern their application
for today and to develop a theology that is both consistent with
orthodoxy and relevant to contemporary society.</p>
<p align="justify"><strong>B. Intended audience</strong></p>
<p align="justify">This course is designed for ministry
professionals who desire a strong understanding of the theological
underpinnings of evangelicalism in order to evaluate the current
theological landscape. It is also suitable for laypeople who seek a
greater understanding of the theological principles taught in Scripture
and how those principles have been understood by the Church throughout
history.</p>
<p align="justify"><strong>Core Courses Required (10
Courses, 30 Credits)</strong></p>
<p align="justify">&nbsp;THEO 501&nbsp; Historical Theology (3)<br>
&nbsp;THEO 603&nbsp; Christian History to 950 (3)<br>
&nbsp;THEO 604&nbsp; Christian History, 950-1500 (3)<br>
&nbsp;THEO 605&nbsp; Christian History, 1500-1815 (3)<br>
&nbsp;THEO 606&nbsp; Christian History, 1815 to Present (3)<br>
&nbsp;THEO 620&nbsp; Arminianism and Calvinism<br>
&nbsp;THEO 623&nbsp; An Analysis of Historical-Critical Theology<br>
&nbsp;THEO 521&nbsp; Theology of the Church Fathers (3)<br>
&nbsp;THEO 522&nbsp; Theology of the Reformers (3)<br>
&nbsp;THEO 523&nbsp; Dispensationalism versus Covenant Theology (3)</p>
</div>
##right_column##
