<div id="main-content" class="equal-cols">
<div class="heading">Master of Arts in New Testament Studies</div>
<h2><strong>Overview </strong></h2>
<p>While most of modern-day Evangelicalism points to the Bible as
the basis of faith, it is surprising how little most people know of what
the Bible actually says. And there are even fewer ministers who are able
to accurately expound on the Scriptures without distorting the text to
make it mean what they already believe.</p>
<p>The MANT degree is designed to give the student a broad
background in understanding New Testament biblical culture and history,
the Greek language and principles of interpretation. It offers an
in-depth analysis of the entire text of the New Testament. It also
provides students with an understanding of biblical transmission and
reliability and equips them to defend the accuracy of Scripture in a
skeptical world.</p>
<p>Each of the courses offered in the MANT program attempts to
immerse the student in the original texts so students have an
understanding of how the New Testament Scriptures were understood by
their original audience as well as the early church. Students who
successfully complete this program will be able to confidently,
intelligently and accurately interpret the New Testament and show its
relevancy to contemporary culture.</p>
<h2><strong>Intended audience </strong></h2>
<p>The MANT degree is designed for experienced ministers or Bible
teachers who wish to increase their understanding of the original text
of Scripture so they are equipped to teach it in a way that is
harmonious with its original intention. It is also suitable for serious
laypeople who desire to deepen their understanding of the truths of
Scripture as originally taught.</p>
<table width="100%" bgcolor="#f7f7f7" border="0" cellpadding="3"
	cellspacing="0">
	<tbody>
		<tr>
			<td colspan="2" bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">
			<div align="right"><strong>Credits</strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#eeeeee"><strong>Core Courses
			Required</strong> (7 courses, 21 credits)</td>
		</tr>
		<tr>
			<td>BIB 506</td>
			<td>Advanced Study of the NT</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 608</td>
			<td>Study of the Gospels</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 609</td>
			<td>Study of Acts</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 610</td>
			<td>Study of Church Epistles</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 611</td>
			<td>Study of Pastoral Epistles</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 612</td>
			<td>Study of General Epistles</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 613</td>
			<td>Study of Revelation</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff">&nbsp;</td>
			<td bgcolor="#ffffff">&nbsp;</td>
			<td bgcolor="#ffffff">&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">
			<div align="right"><strong>Credits</strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#eeeeee"><strong>Electives </strong>(Select
			3 courses, 9 credits)</td>
		</tr>
		<tr>
			<td>BIB 531<br>
			</td>
			<td>Elementary Greek 1</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 532<br>
			</td>
			<td>Elementary Greek 2</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 533<br>
			</td>
			<td>Advanced Greek 1</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 534<br>
			</td>
			<td>Advanced Greek 2</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 622<br>
			</td>
			<td>New Testament Textual Criticism</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>THE 507<br>
			</td>
			<td>Wesleyanism: ATheology of Love</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 522</td>
			<td>Introduction to Biblical Ethics</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">
			<div align="right"><strong>Credits</strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#eeeeee"><strong>Thesis </strong>(6
			credits)</td>
		</tr>
		<tr>
			<td>BIB 591<br>
			</td>
			<td>Research / Directed Readings</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 592</td>
			<td>Thesis</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
	</tbody>
</table>
</div>
##right_column##
