<div id="main-content" class="equal-cols">
<div class="heading">Master of Arts in Old Testament Studies</div>
<h2><strong>Overview </strong></h2>
<p>While most of modern-day Evangelicalism points to the Bible as
the basis of faith, there is a widespread tendency to treat the Old
Testament like an inferior and irrelevant predecessor to the New. Many
Christians rarely read it, and few preachers feel the need to preach
from it. Yet the Old Testament was the “Bible” of the early church. And
in it they found inspiration and a revelation of Jesus Christ and His
will for their lives.</p>
<p>The MAOT degree is designed to give the student a broad
background in understanding Old Testament biblical culture and history,
biblical Hebrew and principles of interpretation, and a panoramic
understanding of the whole of the Old Testament. It also provides
students with a detailed analysis of contemporary theories of authorship
and inspiration and equips them to defend the accuracy, authenticity and
relevancy of the Old Testament in a skeptical world.</p>
<p>Each of the courses offered in the MAOT program attempts to
immerse the student in the original texts so students have an
understanding of how the Old Testament Scriptures were understood by
their original audience as well as the early church. Students who
successfully complete this program will be able to confidently,
intelligently and accurately interpret the Old Testamenet and show its
relevancy to contemporary culture.</p>
<h2><strong>Intended audience</strong></h2>
<p>The MAOT degree is designed for experienced ministers or Bible
teachers who wish to increase their understanding of the original text
of the Old Testament Scriptures so they are equipped to teach it in a
way that is harmonious with its original intention. It is also suitable
for serious laypeople who desire to deepen their understanding of the
truths of the Old Testament as originally taught and embraced by the New
Testament church.</p>
<table width="100%" bgcolor="#f7f7f7" border="0" cellpadding="3"
	cellspacing="0">
	<tbody>
		<tr>
			<td colspan="2" bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">
			<div align="right"><strong>Credits</strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#eeeeee"><strong>Core Courses
			Required</strong> (7 courses, 21 credits)</td>
		</tr>
		<tr>
			<td>BIB 601</td>
			<td>Study of the Pentateuch</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 602</td>
			<td>Study of Joshua to Ruth</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 603</td>
			<td>Study of 1 Samuel to 2 Chronicles</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 604</td>
			<td>Study of Ezra to Esther</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 605</td>
			<td>Study of the Poetical Books</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 606</td>
			<td>Study of the Major Prophets</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 607</td>
			<td>Study of the Minor Prophets</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff">&nbsp;</td>
			<td bgcolor="#ffffff">&nbsp;</td>
			<td bgcolor="#ffffff">&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">
			<div align="right"><strong>Credits</strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#eeeeee"><strong>Electives </strong>(Select
			3 courses, 9 credits)</td>
		</tr>
		<tr>
			<td>BIB 505</td>
			<td>Advanced Study of the OT</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 522</td>
			<td>Introduction to Biblical Ethics</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 541</td>
			<td>Elementary Hebrew 1</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 542</td>
			<td>Elementary Hebrew 2</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 543</td>
			<td>Advanced Hebrew</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 621</td>
			<td>Old Testament Textual Criticism</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">
			<div align="right"><strong>Credits</strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#eeeeee"><strong>Thesis </strong>(6
			credits)</td>
		</tr>
		<tr>
			<td>BIB 591<br>
			</td>
			<td>Research / Directed Readings</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
		<tr>
			<td>BIB 592</td>
			<td>Thesis</td>
			<td>
			<div align="right">(3)</div>
			</td>
		</tr>
	</tbody>
</table>
</div>
##right_column##

