<div id="main-content" class="equal-cols">
<div class="heading">of Arts in Theology</div>
<h2><strong>Degree overview</strong></h2>
<p>It is virtually impossible to understand today’s theological
landscape apart from a firm grasp of the development of theology
throughout history. Understanding where the Church has been serves as
both a warning beacon and a guiding light for discourse about where the
Church is currently heading theologically.</p>
<p>The MAT program is designed to give the student a broad
background in the development of evangelical theology through history as
well as a clear understanding of the biblical basis of an evangelical
theology. The student is also challenged to apply theological
understanding in practical ministry and to develop a theology that is
both consistent with orthodoxy and relevant to contemporary society.</p>
<h2><strong>Intended audience</strong></h2>
<p>This course is designed for ministry professionals who desire a
strong understanding of the theological underpinnings of evangelicalism
in order to evaluate the current theological landscape. It is also
suitable for laypeople who seek a greater understanding of the
theological principles taught in Scripture and how those principles have
been understood by the Church throughout history.</p>
<h2><strong>Course Outlines &amp; Grading</strong></h2>
<p>Each course contains a course outline, which states the learning
objectives of the course, required text, examinations, assignments and
grading policies. An average grade of C is required to pass each course.
</p>
<h2><strong>Degree requirements</strong></h2>
<table width="100%" bgcolor="#f7f7f7" border="0" cellpadding="3"
	cellspacing="0">
	<tbody>
		<tr>
			<td colspan="2" bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">
			<div align="right"><strong>Credits</strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#eeeeee">
			<p><strong>Core courses (7 courses, 21 credits, all are
			required)</strong></p>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 500</td>
			<td bgcolor="#f7f7f7">Introduction to Biblical Theology</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 501</td>
			<td bgcolor="#f7f7f7">Historical Theology</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 502</td>
			<td bgcolor="#f7f7f7">The Doctrines of God, Man and Sin</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 503</td>
			<td bgcolor="#f7f7f7">The Doctrines of Christ, the Holy Spirit,
			Salvation and End Times</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 504</td>
			<td bgcolor="#f7f7f7">Theology and Philosophy</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 505</td>
			<td bgcolor="#f7f7f7">Contemporary Theology</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 507</td>
			<td bgcolor="#f7f7f7">Wesleyanism: A Theology of Love</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="border-top: 1px dashed rgb(204, 204, 204);"
				bgcolor="#f7f7f7"><strong><em>Total core credits</em></strong></td>
			<td style="border-top: 1px dashed rgb(204, 204, 204);"
				bgcolor="#f7f7f7">
			<div align="right"><strong><em>21</em></strong></div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff">&nbsp;</td>
			<td bgcolor="#ffffff">&nbsp;</td>
			<td bgcolor="#ffffff">&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">
			<div align="right"><strong>Credits</strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#eeeeee">
			<p><strong>Elective courses (choose at least 3 courses,
			9 credits)</strong></p>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 521</td>
			<td bgcolor="#f7f7f7">Theology of the Church Fathers</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 522</td>
			<td bgcolor="#f7f7f7">Theology of the Reformers</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 523</td>
			<td bgcolor="#f7f7f7">Dispensationalism versus Covenant Theology</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 524</td>
			<td bgcolor="#f7f7f7">Analyzing Postmoderrnism</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 525</td>
			<td bgcolor="#f7f7f7">Understanding and Responding to the
			Emergent Church</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="border-top: 1px dashed rgb(204, 204, 204);"
				bgcolor="#f7f7f7"><strong><em>Total elective
			credits</em></strong></td>
			<td style="border-top: 1px dashed rgb(204, 204, 204);"
				bgcolor="#f7f7f7">
			<div align="right"><strong><em>9</em></strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#ffffff">&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">&nbsp;</td>
			<td bgcolor="#cccccc">
			<div align="right"><strong>Credits</strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#eeeeee">
			<p><strong>Thesis</strong><strong> (6 credits)</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#f7f7f7"><em>Christian
			Counseling/Psychology </em></td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 591</td>
			<td bgcolor="#f7f7f7">Research / Directed Readings</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f7f7f7">THEO 592</td>
			<td bgcolor="#f7f7f7">Thesis</td>
			<td bgcolor="#f7f7f7">
			<div align="right">3</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="border-top: 1px dashed rgb(204, 204, 204);"
				bgcolor="#f7f7f7"><strong><em>Total elective
			credits</em></strong></td>
			<td style="border-top: 1px dashed rgb(204, 204, 204);"
				bgcolor="#f7f7f7">
			<div align="right"><strong><em>6</em></strong></div>
			</td>
		</tr>
		<tr>
			<td colspan="3" bgcolor="#ffffff">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2"
				style="border-top: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(237, 202, 36);"
				bgcolor="#566d9a"><strong><em><font
				color="#ffffff">Total credits for this degree</font></em></strong></td>
			<td
				style="border-top: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(237, 202, 36);"
				bgcolor="#566d9a">
			<div align="right"><strong><font color="#ffffff">36</font></strong></div>
			</td>
		</tr>
	</tbody>
</table>
</div>
##right_column##
