<div id="full-content" class="equal-cols">
	<div class="heading">Masters Programs</div>
	<ul class="niceList">
		<li><a href="?section=academics&doc=masters_business">Master of Business Administration</a></li>
		<li><a href="?section=academics&doc=ms_admin">Master of Science in Administrative Studies</a></li>
		<li><a href="?section=academics&doc=ms_management">Master of Science in Management Studies</a></li>
		<li><a href="?section=academics&doc=ms_coaching">Master of Science in Coaching, Mentoring and Consulting</a></li>
		<li><a href="?section=academics&doc=ma_christian_counseling">Master of Arts in Christian Counseling and Psychology </a></li>
		<li><a href="?section=academics&doc=ms_guidance_counseling">Master of Science in School Guidance and Counseling Program</a></li>
		<li><a href="?section=academics&doc=ms_counseling">Master of Science in General Counseling Program</a></li>
		<li><a href="?section=academics&doc=ma_christian_counseling">Master of Arts in Christian Counseling and Psychology</a></li>
		<li><a href="?section=academics&doc=ms_early_ed">Master of Science in Early Childhood Education</a></li>
		<li><a href="?section=academics&doc=ed_admin">Master of Science in School Administration and Supervision</a></li>
		<li><a href="?section=academics&doc=mba_health_management">Executive Master of Business Administration in Health Care Management</a></li>
		<li><a href="?section=academics&doc=bs_ms_industrial_engineering">BS/MS in Industrial Engineering</a></li>
		<li><a href="?section=academics&doc=bs_mba_industrial_engineering">BS/MBA in Industrial Engineering</a></li>
		<li><a href="?section=academics&doc=ms_industrial_engineering">MS in Industrial Engineering</a></li>
	</ul>
</div>