<div id="full-content" class="equal-cols">
	<div class="heading">The Masters in Business Administration</div>


	<p>The MBA program offers a broad-based education, with a choice of concentrations.  The program features a curriculum that prepares adult students for the emerging knowledge economy while emphasizing the latest concepts, practices, and skills in today's rapidly changing marketplace.  It is designed for working professionals from a wide range of backgrounds who wish to advance or enhance their business careers.</p>

	<p>The program offers specializations that allow students to tailor their degrees to fit their careers and learning goals.</p>

	<p>Undergraduates perquisites may be require for entry into the graduate program; students who have not earned degrees from appropriate fields of study may be required to take additional coursework as a perquisite for completing the program.</p>

	<p>It is an exciting educational option for students looking to increase their understanding, advance their careers, and expand their opportunities in the following areas:  Human Resource Management, Leadership and Management, Marketing, and Organizational Development and Effectiveness, General Business and Marketing and Sales.</p>

	<h2>Area One:  Nine Core Courses (24 Credit Hours)</h2> <br/>
	<p>Required</p>
	<ul class="niceList">
		<li>BBA 304 Introduction to Principles of Supervision 1 (3)**</li>
		<li>BBA 306 Introduction to Managerial Accounting 1 (3)</li>
		<li>BBA 310 Introduction to Marketing  (3)</li>
		<li>BBA 315 Introductions to Economics (3)</li>
		<li>BBA 342 Ethics and Honesty in Business (3)</li>
		<li>BBA 347 Introduction to Business 1 (3)</li>
		<li>BBA 432 Introduction to Human Resource Management 1 (3)</li>
		<li>BBA 456 Introductions to Organizational Behavior (3)</li>
		<li>BBA 495 Introduction to Business Law 1 (3)</li>
	</ul>


	<h2>Area Two:  General Education Courses Electives</h2>
	<p>Selective Five Courses</p>

	<ul class="niceList">
		<li>ENG  415  Research and Writing (3)</li>
		<li>HUM 300  Introduction to World History (3)</li>
		<li>PHIL 325: Introduction to Logic (3)</li>
		<li>PHIL 410  Introduction to World Religions (3)</li>
		<li>POL 314:  Diplomacy in Contemporary International Settings (3)</li>
		<li>POL 323:  Contemporary International Relations (3)</li>
		<li>PSY 375:  Introduction to Psychology (3)</li>
		<li>PSY 377:   Social Psychology (3)</li>
		<li>SOC 319:  Introduction to Sociology (3)</li>
		<li>SOC 377:  Individual and Society (3)</li>
	</ul>

	<h2>Area Three:  Concentration in General Business</h2>
	<p>Select Six Courses</p>

	
	<ul class="niceList">
		<li>BBA 307 Introduction to Managerial Accounting 2 (3)</li>
		<li>BBA 348 Introduction to Business 2 (3)</li>
		<li>BBA 400 Introductions to Cost Accounting (3)</li>
		<li>BBA 414 Essentials of Entrepreneurship and Small Business Management (3)</li>
		<li>BBA 446 Introductions to International Business (3)</li>
		<li>BBA 479 Introductions to Sales Management (3)</li>
		<li>BBA 496 Introduction to Business Law 2 (3)</li>
		<li>BBA 498 Directed Readings 2: Sales and Marketing (3)</li>
		<li>MBA 508 Research Methods in Business 1 (3)****</li>
		<li>MBA 509 Research Methods in Business 2 (3)****</li>
	</ul>

	<h2>Area Four:  Concentration in Leadership and Management</h2>
	<p>Select Six Courses</p>

	<ul class="niceList">
		<li>BBA 300 Reviews of Management and Leadership Principles (3)</li> 
		<li>BBA 305 Introduction to Principles of Supervision 2 (3)</li>
		<li>BBA 415 Use of Coaching Techniques and Practices in Business (3)</li>
		<li>BBA 416 Uses of Teams in Business Organizations (3)</li>
		<li>BBA 433 Introduction to Human Resource Management 2 (3)</li>
		<li>BBA 456 Introduction to Organizational Behavior (3)</li>
		<li>BBA 459 Developing Managerial Skills 1 (3)</li>
		<li>BBA 460 Developing Managerial Skills 2 (3)</li>
		<li>BBA 499 Directed Reading 1:  Management and Leadership (3)</li>
		<li>MBA 586 Strategic Management and Theory (3)****</li>
	</ul>
	
	<p><b>*Courses run for three months in length.<br />
	Up to three courses may be taken at the same time.<br />
	**Credit Hours are listed in brackets (  ).<br />
	*** A minimum of 120 credits are required for graduation.  The number required is based upon evaluation of former college courses, training and life experiences, additional courses beyond the 120 credit hours may be required.<br />
	**** May be taken only with approval of faculty advisor and Instructor.<br />
	</b></p>
</div>
