<div id="full-content">
	<div class="heading">Executive Masters of Business
			Administration (EMBA) in Management and Leadership</div>
			<h1><font color="#627dbb">COURSES REQUIRED (36 Credit
			Hours Required)</font></h1>
			<font color="#808080"><strong>Core Courses<br>
			Ten Courses (30 Credit Hours) Required</strong></font><br>
			<blockquote>
			<p><strong>MBA 417: Cost Accounting-A Managerial
			Emphasis 1 (3)</strong><br>
			The course emphasizes cost accounting as a managerial tool for
			business strategy and implementation. Cost accountants are
			increasingly becoming integral members of the decision-making teams
			instead of just data providers. To link to this decision-making
			emphasis, the "different costs for different purposes" theme is used
			throughout this course. The course focuses on basic concepts,
			analyses, uses and procedures.</p>
			<p><strong>MBA 504: Advanced Business Methods (3)</strong><br>
			The course covers important and current issues in the areas of
			business methods: motivation, today's workforce, and
			employee-management relations, human resources management,
			fundamental of marketing and customer satisfaction, product and
			pricing strategies, distribution strategies, promotional strategies,
			accounting, financial management and banking, and securities.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20508%20POI.pdf">MBA
			508: Research Methods in Business 1 (3)</a><br>
			</strong>This course presents insights into real-live research methods in
			business. It present the dynamics of business research. All the
			basics business research principles are presented in traditional
			sequence. It also fully integrates issues critical to successful
			business research.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20512%20POI.pdf">MBA
			512: Business Communication 1 (3)</a></strong><br>
			The course presents vivid insights into real-live business situations
			and business communication. It present the dynamics of business
			communication. All the basics business communication principles are<br>
			presented in the traditional sequence, as recommended by the
			Association of collegiate Business Schools and Programs. It also
			fully integrates issues critical to successful business communication
			. Among the topics covered in this course are: foundations of
			business communication; the writing process; letters, memos, and
			other brief messages; employment and messages.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20532%20POI.pdf">MBA
			532: Advanced Leadership Principles 1 (3)</a></strong><br>
			In order to fill the gaps between leadership research and practice,
			this course will critically review the major theories of leadership
			as well as provide practical advice about improving leadership
			practice. In course I, the course describes how leadership develops
			thorough experience; leadership is both an art and a science,;
			leadership reaction has measured leadership; leadership is an
			interaction between the leader, the followers, and the situation; and
			power and influence affect leader-follower relationship.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20534%20POI.pdf">MBA
			534: Advanced Business Management (Principles and Techniques) (3)</a></strong><br>
			This course provides a solid grounding in management. This solid
			grounding in management is essential to successfully guiding today's
			large or small, profit or not-for-profit organization through
			rapidly-changing times. The course provides practical techniques,
			tips, and strategies for managing people and information. Among the
			subjects covered in the course are: the nature of management, the
			evolution of management thought, the changing environment of
			management, the primary management function, planning for long-term
			success, decision making and creative problem solving, organizing,
			staffing, and communicating,</p>
			<p><strong>MBA 544: Management Information Systems (3)</strong><br>
			Course structure and concepts of management information systems.
			Emphasizes the importance of integrated information as used in the
			decision process and the information flows associated with each
			decision point in a business structure. Enables development of a
			philosophy of information systems.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20573%20POI.pdf">MBA
			573: Principles of Organizational Behavior 1 (3)</a></strong><br>
			The course is about is about people who seek fulfillment in their
			lives and jobs in a variety of ways and in uncertain times. The
			course covers common themes that now characterize the modern
			workplace including high performance, productivity improvement,
			technology utilization, product and service quality, workforce
			diversity, work-life balance, and competitive advantage in a global
			economy. The course is also about how a complex environment
			challenges people and organizations to change, learn, and
			continuously develop themselves in the quest for promising futures.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20575%20POI.pdf">MBA
			575: Organizational Development and Change (3)</a></strong><br>
			The course is about the application of behavioral science knowledge
			to improve organizational performance and functions. Among the topics
			covered in this course are: process of organization development,
			human process interventions, technostructural interventions, human
			resource management interventions, and strategic interventions.
			Special applications of organizational development will also be
			covered in the course.</p>
			<p><strong>MBA 582: Advanced Management Theory 1 (3)</strong><br>
			This course presents a balanced view of business-the strengths,
			weaknesses, successes, failures, problems, and challenges. Students
			not read about business theories but also experience them firsthand
			in every session through a variety of highly involving activities;
			among the topics covered in the course are: management theories;
			conducting business in the global economy; starting and expanding a
			small business; managing a business, information systems, and
			production; managing employees; developing marketing strategies to
			satisfy customers; and managing accounting and financial resources.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20584%20POI.pdf">MBA
			584: Human Resource Management (3)</a></strong><br>
			This course provides an in depth view of Human Resource Management
			and how it relates to the management process. Its purpose is to
			better prepare a student for success as a Human Resource Manager or
			upper level management position. Among the topics covered in the
			course are: Compliance with the Law; Job Analysis; Planning,
			Recruiting, Testing and Selection; Training and Developing Employees;
			Organizational Renewal; Appraising and Managing Performance;
			Establishing a Pay and benefits Plan; Labor Relations and Collective
			Bargaining; and Employee Safety.</p>
			<p><strong>MBA 586: Strategic Management Theory and
			Application (3)</strong><br>
			The course describes the strategic-management process. The course
			also defines and gives examples of key theories and concepts in
			strategic management. To assist in the application of strategy
			management concepts and theories, cases to solve are given each week
			in the course. The use of technology and international strategic
			management procedures are also covered in the course.</p>
			<p><strong>MBA 599: Directed Readings in Management and
			Leadership (3)</strong><br>
			This course provides an opportunity to study five books in management
			and leadership for review and critical analysis. A paper will be
			written on each book.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBN%20588%20POI.pdf">MBA
			588: Ethics in Business (3)</a></strong><br>
			This is a course in ethics and honesty in organizations. Ethical
			behavior is behavior viewed as right and honorable; unethical
			behavior is behavior viewed as wrong and dishonorable. These
			straightforward definitions raise tough questions for managers and
			their organizations. This course will examine the various factors
			that determine and influence ethical and unethical behaviors and the
			impact it has upon organization processes and performance.</p>
			</blockquote>
			<h1>ELECTIVE COURSES (Two or More Courses are required)</h1>
			<blockquote>
			<p><strong>MBA 500: Review of Management and Leadership
			Principles (0)</strong><br>
			This course provides a review of current thinking of management and
			leadership principles. The course gives you practical techniques,
			tips, and strategies for refining and improving your management and
			leadership abilities.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20503%20POI.pdf">MBA
			503: Principles of Applied Management (3)</a></strong><br>
			This class present a wealth of information about business.<br>
			Students will appreciate the class's up-to-date, real-life examples
			and in-depth coverage of business today. Hundreds of companies will
			be spotlighted as are the issues their managers and employees
			struggle with each day. The class also on important current issues
			such as Cultural Diversity, Ethics, Global Business, the High Tech
			Revolution and Gaining a Competitive Edge in Business.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20509%20POI.pdf">MBA
			509: Research Methods in Business 2 (3)</a></strong><br>
			This course is a continuation of MBA 508. The course presents
			insights into real-live research methods in business. It also present
			the dynamics of business research. All the basics business research
			principles are presented in traditional sequence. It also fully
			integrates issues critical to successful business research.</p>
			<p><strong><a
				href="file:///C:/Documents%20and%20Settings/cbahl/My%20Documents/pdf/emba/MBA%20513%20POI.pdf">MBA
			513: Business Communication 2 (3)</a></strong><br>
			This is a continuation of MBA 512. The course presents vivid insights
			into real-live dynamics of business communications. All the basics
			business communication principles are presented in the traditional
			sequence, as recommended by the Association of Collegiate Business
			Schools and Programs. Among the topics covered in this course are:
			Employment Messages, reports and Proposals, Oral Communication, and
			Special Topics in Business Communication.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20519%20POI.pdf">MBA
			519: Human Relations Skills 1 (3)</a></strong><br>
			This course will help the student enhance their interpersonal skills
			in the workplace. By enhancing interpersonal skills, a person has a
			better chance of capitalizing upon his or her other skills.
			Skill-building suggestions, exercises and cases are presented in the
			course to improve interpersonal skills related to the topic.</p>
			<p><strong><a
				href="file:///C:/Documents%20and%20Settings/cbahl/My%20Documents/pdf/emba/MBA%20520%20POI.pdf">MBA
			520: Human Relations Skills 2 (3)</a></strong><br>
			This course will help the student enhance their interpersonal skills
			in the workplace. By enhancing interpersonal skills, a person has a
			better chance of capitalizing upon his or her other skills.
			Skill-building suggestions, exercises and cases are presented in the
			course to improve interpersonal skills related to the topic.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20523%20POI.pdf">MBA
			523: Introduction to International Business 1 (3)</a></strong><br>
			This course covers international business from the ground up. All the
			basics in the area of international business are covered. It also
			fully integrates issues critical to be successful in international
			business.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20524%20POI.pdf">MBA
			524: Introduction to International Business 2 (3)</a></strong><br>
			This is continuation of MBA 523. The course presents vivid insights
			into real-live business situations in international business. All the
			basics of international business are covered with real insight as how
			to be successful. It also fully integrates issues critical to being
			successful in international business.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20533%20POI.pdf">MBA
			533: Advanced Leadership Principles 2 (3)</a></strong><br>
			This is a continuation of MBA 532:Advanced Leadership: Enhancing the
			Lessons of Experience. This course fill the gaps between leadership
			research and practice. The course provides critical review of the
			major theories of leadership as well as provide practical advice
			about improving leadership practices. The course uses the
			leader-follower interaction model as a framework for organizing and
			discussing various theories and research findings related to
			leadership. Various research findings related to how good and poor
			leaders differ in intelligence, personality traits, attitudes, values
			and preferences are examined in detail. The course also provides
			practical advice on how to improve communication, listening,
			assertiveness and feedback skills. The course also examines how the
			situation affects the leadership process.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20535%20POI.pdf">MBA
			535: Advanced Business Management (Principles and Techniques 2) (3)</a></strong><br>
			This is a continuation of MBA 534, Advanced Management One. The
			course provides a solid grounding in management. This solid grounding
			in management is essential to successfully guide today's large or
			small, profit or not-for-profit organizations through
			rapidly-changing times. The course provides practical techniques,
			tips, and strategies for managing people and information. Among the
			subjects covered in the course are: motivating job performance, group
			dynamics, influence processes, organizational cultures and change,
			the control function, managing information resources, operations
			management, social responsibility and business ethics, and
			international management.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20574%20POI.pdf">MBA
			574: Advanced Principles of Organizational Behavior 2 (3)</a></strong><br>
			The course is about people who seek fulfillment in their lives and
			jobs in a variety of ways and in uncertain times. This course covers
			common themes that now characterize the modern workplace including
			basic attributes of organizations, information technology and
			organizational design, high performance and organizational cultures,
			leadership, power and politics, informational communication, decision
			making, conflict and negotiation, change, innovations, and stress
			management.</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/MBA%20584%20POI.pdf">MBA
			584: Advanced Management Theory 2 (3)</a></strong><br>
			This course provides an in depth view of Human Resource Management
			and how it relates to the management process. Its purpose is to
			better prepare a student for success as a Human Resource Manager or
			upper level management position. Among the topics covered in the
			course are: Compliance with the Law; Job Analysis; Planning,
			Recruiting, Testing and Selection; Training and Developing Employees;
			Organizational Renewal; Appraising and Managing Performance;
			Establishing a Pay and benefits Plan; Labor Relations and Collective
			Bargaining; and Employee Safety</p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/BBA%20495%20POI.pdf">BBA
			495: Introduction to Business Law 1 (3)</a></strong> <em>See course
			description under BBA program</em></p>
			<p><strong><a
				href="http://www.georgetownwesleyanuniversity.com/pdf/emba/BBA%20496.pdf">BBA
			496: Introduction to Business Law 2 (3)</a></strong> <em>See course
			description under BBA program</em></p>
			</blockquote>
</div>


