<div id="main-content" class="equal-cols">
	<div class="heading">Executive Master of Business Administration
	in Global Public Health Management</div>
	<p>One year program of twelve courses. The program is completed online and
	at one four-week sessions in North America, Canada and Bahamas (two
	weeks in each location). Entry to the program is based on life and work
	experiences.</p>
	<table width="100%" border="0" cellpadding="3" cellspacing="0">
		<tbody>
			<tr>
				<td colspan="3">
				<p align="center">Onsite Courses covered in One trip (four
				one-week <strong>sessions in Canada and Bahamas</strong>) **<br>
				(Required Courses)</p>
				</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 701</td>
				<td bgcolor="#f7f7f7">Introduction to Global Public Health
				Management and Research Methods</td>
				<td bgcolor="#f7f7f7">(6) *</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 703</td>
				<td bgcolor="#f7f7f7">International Study Tour</td>
				<td bgcolor="#f7f7f7">(6)</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="3">
				<p align="center"><strong>CORE Courses***</strong><br>
				(Required Courses-Online)</p>
				</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 714</td>
				<td bgcolor="#f7f7f7">Introduction to Global Public Health</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 705</td>
				<td bgcolor="#f7f7f7">Introduction to Global Public Health
				Communication</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 706</td>
				<td bgcolor="#f7f7f7">International Management and Leadership</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 708</td>
				<td bgcolor="#f7f7f7">Public Priorities in a Global Epidemics</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="3">
				<p align="center"><strong>Elective Courses</strong><br>
				(Select Four Online Courses From the Following)</p>
				</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 704</td>
				<td bgcolor="#f7f7f7">Essentials of Public Health</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 706</td>
				<td bgcolor="#f7f7f7">Epidemiology for Public Health</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 707</td>
				<td bgcolor="#f7f7f7">Legal Aspects of Health Care-USA</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 709</td>
				<td bgcolor="#f7f7f7">Health Issues of an Urban Society</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 710</td>
				<td bgcolor="#f7f7f7">Introduction to Community Health-USA</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 715</td>
				<td bgcolor="#f7f7f7">Essentials of U.S. Health Care System -
				USA</td>
				<td bgcolor="#f7f7f7">
				<p>(3)****</p>
				</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 721</td>
				<td bgcolor="#f7f7f7">
				Human Resource Management-USA
				</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 723</td>
				<td bgcolor="#f7f7f7">
				Environmental and Occupational Health
				</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 730</td>
				<td bgcolor="#f7f7f7">Public Health for the 21st Century</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 734</td>
				<td bgcolor="#f7f7f7">Health Care Finances-USA</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 739</td>
				<td bgcolor="#f7f7f7">Public Health Administration</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 751</td>
				<td bgcolor="#f7f7f7">Public Health Management Project</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td bgcolor="#eeeeee">PHM 767</td>
				<td bgcolor="#f7f7f7">Cases in Public Health Management-USA</td>
				<td bgcolor="#f7f7f7">(3)</td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#eeeeee">
				<p>* ( ) Credit Hours-Approximately 54 study hours for three
				credit hours<br>
				** One trip-four weeks in Canada and Bahamas<br>
				*** Global orientation emphasis.<br>
				**** USA-United States orientation and emphasis.</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p align="center"><strong>E MBA PROGRAM COMPONENTS</strong></p>
	<p>The components of the EMBAB program outlined below provide formal
	and informal training and development experiences that require attending
	<strong>one</strong> four-week sessions in Canada and Bahamas, working
	closely with coaches via telephone or e-mail, and completing a project
	concerning your organization with the assistance of your manager and
	coach.</p>
	<ul style="niceList">
		<li><p>Confidential Individual Assessment</p></li>
		<li><p>Development of Personal Executive Development Plan</p></li>
		<li><p>Onsite Classes and Online Instruction</p></li>
		<li><p>Guest Speakers at Onsite Executive Class Sessions In Canada
		and Bahamas</p></li>
		<li><p>All examinations are available in Chinese, French or English</p></li>
	</ul>
</div>
##right_column##