<div id="full-content" class="equal-cols">
	<div class="heading">Master of Science in Administrative Studies</div>

	<h2>Administrative Studies Courses</h2> <br/>
	<p>30 Semester Hours</p>
	<ul class="niceList">
		<li>AMS 501  Introduction to MS in Administrative Studies (2)</li>
		<li>AMS 502  Advanced Studies in Administrative Procedures (3)</li>
		<li>AMS 504  Human Relations Management (3)</li>
		<li>AMS 510  Testing and Evaluation (3)</li>
		<li>AMS 515  Directed Readings I (3)</li>
		<li>AMS 516  Directed Readings II (3)</li>
		<li>AMS 519  Interviewing Techniques (3)</li>
		<li>AMS 520  Advanced Administration Skills (4)</li>
		<li>AMS 599  Practicum or Thesis (6)</li>
	</ul>
</div>
