<div id="full-content" class="equal-cols">
	<div class="heading">Master of Science in Coaching, Mentoring, and Consulting</div>

	<h2>Coaching, Mentoring, and Consulting</h2>
	<p>30 Semester Hours</p>

	<ul class="niceList">
		<li>AMS  521  Introduction to Coaching (3)</li>
		<li>AMS 522  Personal Coaching (3)</li>
		<li>AMS 523  Executive Coaching (3)</li>
		<li>AMS 526  Emotional Intelligence and Coaching (3)</li>
		<li>AMS 530  How to Use Assessment in Coaching (3)</li>
		<li>AMS 534  Advanced Coaching Techniques (3)</li>
		<li>AMS 539  Team Coaching (3)</li>
		<li>AMS 542  Introduction to Mentoring (3)</li>
		<li>AMS 544  Introduction to Consulting (3)</li>
		<li>AMS 547  Practicum in Coaching (3)</li>
	</ul>

</div>
