<div id="full-content" class="equal-cols">
	<div class="heading">Master of Science in General Counseling</div><p></p>
	<ul class="niceList">
		<li>GCS 503:  Survey of Research in Human Development and Behavior (3)</li> 
		<li>GCS 506:  Survey of Research Methodology (3)</li>
		<li>GCS 508:  Professional and Scientific Ethics (3)</li>
		<li>GCS 510:  Scope of Human Services (3)</li>
		<li>GCS 514:  Foundations of Addictive and Compulsive Behavior (3)</li>
		<li>GCS 517:  Theories of Personality (3)</li>
		<li>GCS 531:  Mental Health Counseling (3)</li>
		<li>GCS 533:  Counseling and Guidance in Diverse Populations (3)</li>
		<li>GCS 535:  Counseling Studies Integrative Project (6)</li>
		<li>GCS 586:  Internship (6)</li>
		<li>GCS 598:  Comprehensive Examination (3)</li>
	</ul>		
</div>