<div id="main-content" class="equal-cols">
	<div class="heading">Master of Science in General Counseling Program</div>
	<ul>
		<li><p>GCS 503:  Survey of Research in Human Development and Behavior (3)</p></li> 
		<li><p>GCS 506:  Survey of Research Methodology (3)</p></li>
		<li><p>GCS 508:  Professional and Scientific Ethics (3)</p></li>
		<li><p>GCS 510:  Scope of Human Services (3)</p></li>
		<li><p>GCS 514:  Foundations of Addictive and Compulsive Behavior (3)</p></li>
		<li><p>GCS 517:  Theories of Personality (3)</p></li>
		<li><p>GCS 531:  Mental Health Counseling (3)</p></li>
		<li><p>GCS 533:  Counseling and Guidance in Diverse Populations (3)</p></li>
		<li><p>GCS 535:  Counseling Studies Integrative Project (6)</p></li>
		<li><p>GCS 586:  Internship (6)</p></li>
		<li><p>GCS 598:  Comprehensive Examination (3)</p></li>
	</ul>		
</div>
##right_column##
