<div id="full-content" class="equal-cols">
	<div class="heading">Masters of Science in School Guidance and Counseling</div>

	<ul class="niceList">
		<li>GCS 519:  Professional and Ethical Orientation to Guidance and Counseling (3)</li>
		<li>GCS 546:  Methods in Guidance and Counseling (3)</li>
		<li>GCS 544:  Social and Culture Foundations of Guidance and Counseling (3)</li>
		<li>GCS 543:  Administration of Comprehensive Guidance in Education (3)</li>
		<li>GCS 527:  Developmental Assessment in Guidance and Counseling (3)</li>
		<li>GCS 548:  Group Guidance in Guidance and Counseling (3)</li>
		<li>GCS 528:  Action Research, Data Analysis & Info Resources (3)</li>
		<li>GCS 529:  Human Development and Learning (3)</li>
		<li>GCS 549:  Career Development and Assessment (3)</li>
		<li>GCS 538:  Consultation, Leadership and Advocacy Roles (3)</li>
		<li>GCS 551:  Supervised Practicum (9)</li>
		<li>GCS 599:  Comprehensive Examination (3)</li>
	</ul>
</div>
