<div id="full-content" class="equal-cols">
	<div class="heading">Masters of Science in Industrial Engineering</div>

<p>The M.S. in IE program prepares students for more challenging career assignments, more complex engineering problems, and Ph.D. studies.  It provides an opportunity to gain more in-depth knowledge of industrial engineering and introduces students to the research process. </p>
<p><strong>M.S. Thesis Program</strong></p>
<p>Students electing this option will complete a thesis based on research under the direction of a professor. A total of 21 credits of course work (typically 7 courses) at the graduate level are required. The remaining 9 credits are thesis research. </p>
<p><strong>M.S. Non-thesis Program</strong></p>
<p>Students electing this option will have a non-thesis option which involves a focused investigation called a creative component.  A total of 27 credits of course work (typically 9 courses) at the graduate level are required. The remaining 3 credits are creative component research.</p> 
<p><strong>Examinations</strong></p>
<p>All students must demonstrate knowledge of industrial engineering principles at an advanced level and an ability to perform research. The final examination is an oral examination on the completed thesis or creative component.</p>
<p><strong>Admission Requirements</strong></p>
<p>For admission to the program, the student must meet the following requirements: </p>

<ol class="niceList">
	<li><p>The general requirements for admission to the College of Graduate Studies.</p></li>
	<li><p>Hold a bachelor's degree in a field of engineering or related discipline with credit substantially equivalent to that required for bachelor's degree.</p></li>
</ol>

</div>