<div id="full-content" class="equal-cols">
	<div class="heading">Master of Science in Management Studies</div>

	<h2>Management Studies Courses</h2> <br/>
	<p>30 Semester Hours</p>
	<ul class="niceList">
		<li>AMS 551  Introduction to Management Studies (3)</li>
		<li>AMS 553  Directed Readings in Management Studies (3)</li>
		<li>AMS 554  Leadership and Organization Change (3)</li>
		<li>AMS 557  Group and Organization Dynamics (3)</li>
		<li>AMS 558  Team Building (3)</li>
		<li>AMS 559  Team Problem Solving (3)</li>
		<li>AMS 521  Introduction to Coaching (3)</li>
		<li>AMS 504  Human Resource Management (3)</li>
		<li>AMS 561  Managerial Communication (3)</li>
		<li>AMS 548  Management Practicum (3)</li>
	</ul>
</div>