<div id="main-content" class="equal-cols">
	<div class="heading">College of Nursing</div>
	
	<p><strong>PHILOSOPHY OF THE DEPARTMENT OF NURSING</strong></p>
	
	<p>The faculty of the department of Nursing, in accordance with GWUAB, believes that every individual has biological, psychological, socio-cultural characteristics.  We believe that human beings interact dynamically with their environment and this entitles them to an environment which fosters individual self-esteem and respect.  We hold in high regard the inherent worth and dignity of all individuals.</p>
	
	<p><strong>Nursing</strong></p>
	
	<p>Baccalaureate nursing education is based on liberal arts and sciences.  This foundation distinguishes baccalaureate nurses by preparing them to communicate, evaluate and provide humanistic health care.  Professional nursing education is a combination of nursing's scientific body of knowledge and the results of nursing research.  </p>
	
	<p>Baccalaureate education prepares the Registered Nurse to practice in a variety of health care settings in a leadership/management role.</p>
	
	<p><strong>Mission</strong></p>
	
	<p>The mission of the Department of Nursing (BSN) is to prepare graduates to function as primary health care providers engaged in a broad range of health promotion, maintenance, and restoration to diverse populations in a variety of Health Care Environments.  </p>
	
	<ul class="niceList">
		<li><a href="/section=academics&doc=rn_to_bs">Registered Nurse (RN) to BS Connection Program</a></li>
	</ul>
	
</div>
##right_column##