<div id="full-content" class="equal-cols">
	<div class="heading">Ph.D. in Industrial Engineering</div>

	<p>The Ph.D. in IE program prepares students for careers in consulting, industry research, and academia. It provides an opportunity to explore challenging research problems and make a research contribution to the field of industrial engineering. Students learn how to write proposals, plan and conduct research, write research papers, and make technical presentations. </p>

	<p><strong>Course work</strong></p>
	<p>A total of 21 credits (typically 7 courses) at the graduate level are required beyond the M.S. degree.</p>
	
	<p><strong>Dissertation</strong></p>
	<p>The primary focus of the program is on the research process. Students must successfully complete and defend a dissertation that describes the significance, methods, and results of their research investigations. </p>
	
	<p><strong>Examinations</strong></p>
	<p>Students must demonstrate knowledge of industrial engineering principles at an advanced level and an ability to conduct sound independent research.  Each student must pass three examinations.</p>
	<ol class="niceList">
		<li><p>Qualifying Exam - A combination of course work and a research paper</p></li>
		<li><p>Preliminary Exam - Oral examination on the dissertation proposal</p></li>
		<li><p>Final Exam - Oral examination on the completed dissertation</p></li>
	</ol>
</div>