<div id="full-content" class="equal-cols">
	<div class="heading">Registered Nurse (RN) to BS Connection Program</div>
	
	<p><strong>Characteristics of the Baccalaureate Graduate</strong></p>

	<p>This is a program for RN to achieve a Bachelor of Science Degree in Nursing (BSN). The graduate of the baccalaureate nursing program is a professionally educated nurse who has acquired a foundation for advanced study in Nursing. This program is designed to:</p>
	<ol class="niceList">
		<li><p>Provide opportunities for advancement in the nursing profession.</p></li>
		<li><p>Demonstrates professional practice that upholds the inherent worth and dignity of all individuals.</p></li>
		<li><p>Create lifelong learners in nursing.</p></li>
		<li><p>Utilizes knowledge as a basis for critical and ethical and ethical decision making in the generalist practice area.</p></li>
		<li><p>Assumes responsibility and accountability for professional humanistic nursing practice. </p></li>
		<li><p>Develop critical thinking and problem solving skills</p></li>
		<li><p>Understand and appreciate nursing needs locally, regionally, nationally and internationally. </p></li>
		<li><p>Develop leadership and management skills for a variety of health care settings with individuals, families and communities.</p></li>
		<li><p>Expose RNs to the continuously changing health delivery systems.</p></li>
		<li><p>Use technology and research to meet the changing needs of the profession.</p></li>
	</ol>
	<p><strong>Who Should Apply?</strong></p>

	<p>This program is designed for registered nurses (RNs) who wish to advance their careers while balancing their education with career, family and personal responsibilities.  RNs who have graduated from hospital - based school of nursing programs (diploma), community college nursing programs (associate degree) or foreign schools of nursing are eligible to apply.</p>
	
	<p><strong>Admission to the Degree Program</strong></p>

	<p>Registered Nurses may qualify to participate in this program, but must meet the following conditions:</p>
	<ol class="niceList">
		<li><p>Possess a current RN license.</p></li>
		<li><p>Graduated from an accredited RN program</p></li>
		<li><p>Meet other conditions of Admission Requirement that are required by the University.</p></li>
	</ol>

	<p><strong>Transfer Credits</strong></p>


	<p>Transfer credits are granted as follow:</p>
	<ol class="niceList">
		<li><p>Graduates from Accredited Associate Degree Program may receive 31 nursing credits plus 29 credits for previous credits completed (in pursuing AS degree) for a total of 60 credits. </p></li>
		<li><p>Graduates from Hospital Based Diploma Programs must successfully complete the National League for Nursing (NLN) Mobility Profile II examination. They may receive 31 nursing credits for previous credits completed.</p></li>
		<li><p>Graduates from Foreign Schools of Nursing must successfully complete the Commission on Graduates of Foreign Schools of Nursing Examination (CGFNS) or the NLN Mobility Profile II examination. They may receive 31 nursing credits for previous credits completed.</p></li>
	</ol>

</div>