<div id="full-content" style="padding: 5px;">
	<table class="contentpaneopen">
		<tbody>
			<tr>
				<td colspan="2" valign="top" style="padding: 0px 10px">
				<p>Our <a href="#programs">programs</a> are uniquely designed 
				around your needs as a business professional. For information on
				courses offered and program requirements, please visit the web page
				for each of our programs. If you need additional information, please
				do not hesitate to contact us. We are here to serve you and to help
				you in the pursuit of your dreams.</p> 
				<h2><strong>Course Numbering System</strong></h2>
				<p>All undergraduate and graduate courses are numbered using a
				six-character identifier. Bachelor's level courses begin with BBA
				followed by a three digit numeric value from 100-499. Courses
				beginning with 100 are first year undergraduate courses, 200
				are the second year, 300 are the third year, 400
				are the fourth year undergraduate courses. Master's level
				courses begin with MBA followed by a three-digit numeric value from
				500-599.</p>
				<h2><strong>Definition of Our Academic Term - Academic
				quarter</strong></h2>
				<blockquote>
				<p><strong>Academic Quarter</strong><br>
				An academic quarter is at least ten weeks of instruction and learning.</p>
				<p><strong>Quarter Credit Hour</strong><br>
				A quarter credit hour is a unit consisting of a minimum of ten hours
				of instruction during an academic quarter plus 
				additional time for preparation for learning experiences, 
				study of course material and completion
				of educational projects.</p>
				<p>Further it is estimated that the time required to complete one
				course (3 credit hours) is between 95 and 125 hours, including 
				55-60 student study hours, 20-25
				hours interacting with other students and the instructor and 
				20-40 hours preparing for examinations.
				</p>
				</blockquote>
				<h2><strong>General Education Courses</strong></h2>
				<blockquote>
				<p><strong>ENG 415: Research and Writing (3)</strong><br>
				This course examines and implements the principles of argumentation.
				An argumentative paper is researched and developed based on the concept
				of writing as a process. The course focuses on the logical
				organization of ideas patterned on established structures of
				argument. The course reinforces the importance of the research
				process and critical evaluation of sources. Acknowledging the
				intellectual property of others through the proper documentation of
				sources in stressed.</p>
				<p><strong>HUM 300: Introduction to World History (3)<br>
				</strong>Explores the history of the world, from Paleolithic times to 1500,
				which marks the end of the Middle Ages. Studies the emergence of
				human beings in Africa and their gradual spread through Eurasia,
				Australia and the Americas and examines the parallel development of
				Chinese, Indian, Middle Eastern and European civilizations along
				with an investigation concerning their interaction, especially
				through such interregional historical forces as Hellenism,
				Christianity and Buddhism.<br>
				<br>
				<strong>PHI 325: Introduction to Logic (3)</strong><br>
				Enables students to develop analytical, inductive and deductive
				reasoning through the study of syllogistic, symbolic and informal
				logic. In addition the course provides methods of constructing arguments,
				evaluating statements and recognizing fallacies in theory as well as
				in practice.</p>
				<p><strong>PHIL 410: Introduction to World Religions (3)</strong><br>
				The course is an introduction to the three major religious
				faiths&mdash;Judaism, Christianity and Islam&mdash;their differing views of God,
				as well as the way these views have shaped the world.</p>
				<p><strong>POL 314: Diplomacy in Contemporary International Relations (3)</strong><br>
				Basic understanding of diplomacy in international relations are
				developed: what diplomacy is, what it entails (structure, process,
				agenda) and what some of complexities, anomalies and challenges are.
				Follows the historical trajectory of diplomacy in international
				relations and deliberates upon what are seen as key historical
				junctures. Seeks to link the relevance of diplomacy to current
				international issues, events, relations and nuances. The course is
				theoretically grounded and practically useful.</p>
				<p><strong>POL 323: Contemporary International Relations
				(3)</strong><br>
				This course examines major phenomena in the contemporary world which
				affect relations among international actors such as the state and the
				international organization. They include globalization, clash of
				cultures and civilizations, democratization, globalization of
				capitalism, proliferation of international organizations and
				non-state actors, the decline of the nation-state, the rise of global
				issues such as environment degradation and WMD, and respect of
				universal values.</p>
				<p><strong>PSY 375: Introduction to Psychology (3)</strong><br>
				Introduces psychology as a human and scientific endeavor. Includes
				examination of concepts and methods in learning, motivation,
				development, personality and social behavior.</p>
				<p><strong>PSY 377: Social Psychology (3)</strong><br>
				Focuses on major theories in social psychology and the most recent
				research in the field. Topics include gender, interpersonal
				attraction, aggression and pro-social behavior.</p>
				<p><strong>SOC 319: Introduction to Sociology (3)<br>
				</strong>Provides a critical survey of contemporary social, political and
				economic problems facing American society. Emphasizes the urban
				crisis, military-industrial complex, racism and distribution of
				income.</p>
				<p><strong>SOC 377: Individual and Society (3)</strong><br>
				Presents the various ways in which the individual constructs his
				self-awareness. Studies how social institutions such as the family
				and religion influence the psychological makeup of the individual.</p>
				</blockquote>

	<span class="article_separator">&nbsp;</span>
</div>


