<div id="full-content" style="padding: 5px;">
	

	<div class="form-container">
		<form action="controller.php?action=application" method="post">
			<fieldset>
				<legend>Student Application</legend>
					<div><label for="name">Name </label> <input id="name" name="name" type="text" size="50" class="error" /></div>
					<div><label for="address1">Address 1 </label> <input id="address1" type="text" size="50" class="error" /></div>
					<div><label for="address2">Address 2</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">City</label> <input id="city" type="text" name="city" value="" class="error" size="50" /></div>
					<div><label for="state">State/Province</label> <input id="state" type="text" name="state" value="" class="error" size="50" /></div>
					<div><label for="zip">Zip Code</label> <input id="zip" type="text" name="zip" value="" class="error" size="50" /></div>
					<div><label for="country">Country </label> <input id="country" type="text" name="country" value="" class="error" size="50" /></div>
					<div><label for="email">E-Mail </label> <input id="email" type="text" size="50" class="error" /></div>
					<div><label for="phone">Home Phone </label> <input id="phone" type="text" size="50" class="error" /></div>
					<div><label for="work_phone">Work Phone </label> <input id="work_phone" type="text" size="50" class="error" /></div>
					<div><label for="date">Date</label> <input id="date" type="text" name="date" value="" class="error" size="50" /></div>
					<div><label for="zip">Zip Code</label> <input id="zip" type="text" name="zip" value="" class="error" size="50" /></div>
					<label for="degree_seeking">Marital Status</label>
					<select id="degree_seeking">
						<option value="Single">Single</option>
						<option value="Married">Married</option>
						<option value="Divorce">Divorce</option>
					</select>
				
			</fieldset>
			
			<fieldset>
				<legend>Program Information</legend>
					<div>
						<label for="degree_seeking">Degree desired</label>
						<select id="degree_seeking">
								<option value="bachelors_science">Bachelors of Science</option>
								<option value="masters_science">Masters of Science</option>
								<option value="dr_ministry">Doctorate of Ministry</option>
								<option value="ma_business_admin">Masters in Business Admin</option>
								<option value="dr_business_admin">Doctorate in Business Admin</option>
								<option value="dr_business_admin">Ph.D</option>
								<option value="as_arts">Associate in Arts</option>
								<option value="dr_philosophy">Certificate Programs</option>
						</select>
					</div>
			</fieldset>

			<fieldset>
				<legend>Previous Education</legend>
				<div><label for="name">Name of Institution:</label> <input id="name" type="text" size="50" class="error" /></div>
					<div><label for="address1">Year Graduated</label> <input id="address1" type="text" size="50" class="error" /></div>
					<div><label for="address2">Degree</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Major</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">GPA</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
				<hr />
					<div><label for="name">Name of Institution:</label> <input id="name" type="text" size="50" class="error" /></div>
					<div><label for="address1">Year Graduated</label> <input id="address1" type="text" size="50" class="error" /></div>
					<div><label for="address2">Degree</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Major</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">GPA</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
				<hr />
					<div><label for="name">Name of Highschool:</label> <input id="name" type="text" size="50" class="error" /></div>
					<div><label for="address1">Year Graduated</label> <input id="address1" type="text" size="50" class="error" /></div>
					<div><label for="address2">Degree</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Major</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">GPA</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
				</fieldset>

			<fieldset>
				<legend>Employment History</legend>
					*please list the last 10 years of employment
					<div><label for="address2">Type of Employment</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Date</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Employer</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<hr />
					<div><label for="address2">Type of Employment</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Date</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Employer</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<hr />
					<div><label for="address2">Type of Employment</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Date</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Employer</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<hr />
					<div><label for="address2">Type of Employment</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Date</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Employer</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<hr />
					<div><label for="address2">Type of Employment</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Date</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Employer</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<hr />
					<div><label for="address2">Type of Employment</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Date</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Employer</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<hr />
					<div><label for="address2">Type of Employment</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Date</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Employer</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div></div>
			</fieldset>

			<fieldset>
				<legend>References</legend>
					<div><label for="address2">Name</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Email Address</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Phone</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<hr />
					<div><label for="address2">Name</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Email Address</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Phone</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<hr />
					<div><label for="address2">Name</label> <input id="address2" type="text" size="50" class="error" /></div>
					<div><label for="city">Email Address</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
					<div><label for="city">Phone</label> <input id="city" type="text" name="city" value="" class="error" size="12" /></div>
			</fieldset>			
			<p><a href="mailto:info@gwua.net">Attach (by email)</a> a copy of one legal document (drivers license, birth certificate, social security card, or passport front page)</p>

			<p><a href="mailto:info@gwua.net">Attach (by email)</a> copies of your transcripts - unofficial is fine - official transcript will be required for official records</p>

			<p><a href="mailto:info@gwua.net">Attach (by email)</a> copies of your certificate of completion and diploma</p>

			<p>Will you be applying for a scholarship?<br />
			<a href="#scholarship" onClick="show()">Yes</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#scholarship" onClick="hide()"> No</a></p>
			<a name="scholarship"></a>
			<div id="scholarship" style="display: none;">
				<p> <input type="checkbox" name="scholarship-opt-in" /> I have read and understand the conditions of the Vaidya Scholarship as explained in the current Notes to Candidates for Scholarships on the GWUA website. I affirm that I plan to pursue a professorial career in business. I give permission to officials of my institution to release transcripts of my academic record and other information requested for consideration in the GWUA Scholarship program. I understand that this application will be available only to qualified people who need to see it in the course of their duties. I waive the right to access letters of recommendation written on my behalf. If
selected as a Vaidya Scholar, I will attend GWUA. I affirm that all of this application, including the policy proposal, is my own work or formally cited from other sources. I affirm the information contained herein is true and accurate to the best of my knowledge and belief. </p>		
				<p>I am a
				<select id="nationality">
					<option value="citizen">U.S. citizen</option>
					<option value="national">U.S. national</option>
					<option value="other">Other</option>
				</select></p>
				<p>In what country will you be studying? <input id="country_study" type="text" size="20" class="error" /></p>
				<p>Name of nominating person <input id="name_nomimator" type="text" size="20" class="error" /></p>
				<p>Expected date to receive baccalaureate degree <input id="expected_grad_date" type="text" size="20" class="error" /></p>
				

				<p>If you have more activities, work experience, and/or awards than the space allows, list only those you consider most significant.</p>
				<p><textarea cols="500" rows="5" name="additional_scholarship_info"></textarea></p>
				<p>List college and high school activities (student government, sports, publications, school-sponsored community service programs, student-faculty committees, arts, music, etc.). List in descending order of significance. </p>
				<p><textarea cols="500" rows="5" name="extra_cirr"></textarea></p>
				<p>List public service and community activities (homeless services, environmental protection/conservation, advocacy activities, work with religious organizations, etc.). Do not repeat items listed previously. List in descending order of significance.</p>
				<p><textarea cols="500" rows="5" name="comm_service"></textarea></p>
				<p>List government activities (internships with government agencies, partisan political activities, ROTC/military, municipal boards and commissions).</p>
				<p><textarea cols="500" rows="5" name="govt_service"></textarea></p>
				<p>List awards, scholarships, publications or special recognitions you have received. List in descending order of significance.</p>
				<p><textarea cols="500" rows="5" name="awards"></textarea></p>
				<p>Describe one specific example of your leadership. (The writer of your letter of recommendation re: Leadership Abilities and Potential must confirm this experience.) Limit 700 characters including spaces.</p>
				<p><textarea cols="500" rows="5" name="leadership"></textarea></p>
				<p>Describe a recent particularly satisfying public service activity (do not repeat experience described above). Limit 700 characters including spaces.</p>
				<p><textarea cols="500" rows="5" name="public_service"></textarea></p>
				<p>Describe why you think you deserve a scholarship aside from financial need. Limit 500 characters including spaces.</p>
				<p><textarea cols="500" rows="5" name="deserve_scholar"></textarea></p>
				<p>If selected as a Scholar, would you apply for additional studies in the future? If yes, where would you like to attend and possibly work and what issues would you like to address? If no, what are your plans after you graduate?</p>
				<p><textarea cols="500" rows="5" name="significant_courses"></textarea></p>
				<p>Describe the graduate education program you intend to pursue if you receive a Vaidya Scholarship.</p>
				<p><textarea cols="500" rows="5" name="ed_program"></textarea></p>
				<p>What do you hope to do and what position do you hope to have upon completing your graduate studies? Limit 900 characters including spaces.</p>
				<p><textarea cols="500" rows="5" name="career_question"></textarea></p>
				<p>What do you hope to do and what position do you hope to have five to seven years later? Limit 900 characters including spaces.</p>
				<p><textarea cols="500" rows="5" name="five_year_plan"></textarea></p>
				<p>What additional personal information do you wish to share with the scholarship committee? Limit 2000 characters including spaces.</p>
				<p><textarea cols="500" rows="5" name="addtional_scholarship"></textarea></p>
			</div>	

			<p>Do you want to be considered for credit by portfolio or experience learning credits? <br />
			<a href="#enrollment" onClick="showEnrollment()">Yes</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#enrollment" onClick="hideEnrollment()"> No</p>
			<a name="enrollment"></a>
			<div id="enrollment" style="display: none;">
				<ul class="niceList">
				<li>Complete the Application for Credit form, noting the course description(s) from the course description
				list for the course(s) for which you are seeking credit. All of the materials gathered for the portfolio should
				demonstrate your knowledge of the various elements of the course description(s). The materials gathered must
				reflect your personal experience and be prepared by you.</li>
				
				<li>The resume form should give the evaluator an outline of your background and a summary overview of your
				experience. Make it as complete as possible so the evaluator can have a good understanding of who you are and
				what you have done.</li>
				
				<li>If the Admissions and Registrar Department does not have a complete file of your transcripts, include them
				in your portfolio. It is important that the evaluator be able to see all of the academic work you have done which
				may relate to the credit being sought.</li>
				
				<li>List the courses, workshops and seminars you have attended which relate directly to the course(s) for which
				credit is being sought. Do not list unrelated events. Describe the nature of the subjects discussed, the length of
				the sessions and any other information which will fully explain the nature of the event. Attach documentation of
				your attendance (programs, attendance certificates, CEU certifications, brochures, etc.).</li>
				
				<li>In the bibliography list any books which you have read and which directly relate to the course. Do not list
				books you have in your library that you have not read.</li>
				
				<li>Send two copies of the completed portfolio to the Dean of your school/college and the Admissions and
				Registrar Department at the address listed on the front page. You will be sent an updated transcript based on the
				evaluation of your portfolio.</li>
				</ul>
				<ul  class="niceList">
				<li>ACADEMIC REQUIREMENTS: Academic Requirements of Georgetown Wesleyan University are listed in
				the catalogue or under the requirements for degrees.</li>
				
				<li>RESUME: The resume provides an outline of personal, educational, military, employment and ministerial
				background. Consider it to be an introduction to the portfolio which will be used as a reference by the
				evaluator when reviewing the other sections. Attach your resume as Attachment A of this portfolio package.</li>
				
				<li>TRANSCRIPTS: If the Admissions and Registrar do not have a complete file or transcripts of your
				academic work, attach them to the portfolio package as Attachment B.</li>
				
				<li>PROFESSIONAL COURSES/WORKSHOPS/SEMINARS: List those courses, workshops, and/or seminars
				in which you have participated and which relate to the course for which you are seeking credit. Attach
				documentation of your attendance to the portfolio package as Attachment C.</li>
				
				<li>BIBLIOGRAPHY: List the books which have been thoroughly read and which relate to the course for which
				you are seeking credit and attach it to the portfolio package as Attachment D. Include each book's title,
				author, publisher, copyright date and brief description. You may be required to take a test on the book(s) if
				credit is to be awarded.</li>
				
				<li>EFFECTIVE MINISTRY EXPERIENCE: Document any effective ministry experience that you have had
				which would point to a mastery of the particular area of ministerial training for which you seeking credit.
				Attach your list of effective ministry experience as Attachment E to the Portfolio package.</li>
				</ul>			
				<p>List Courses you are requesting credit for</p>
				<p><textarea cols="500" rows="5" name="credit_courses"></textarea></p>
			</div>
						

			<p>Application processing Fee of $50.00 USD - application will not be processed until fee is received.</p>

			<p>By Clicking Submit, I certify that my answers to all questions in this application are complete and accurate.</p>

			<div class="buttonrow">
				<input type="submit" value="Save" class="button" />
		
				<input type="button" value="Discard" class="button" />
			</div>
	
		</form>
	</div>
</div>


<script>
  function hide()
   {document.getElementById('scholarship').style.display = 'none'}
  function show()
   {document.getElementById('scholarship').style.display = 'block'}
  function hideEnrollment()
   {document.getElementById('enrollment').style.display = 'none'}
  function showEnrollment()
   {document.getElementById('enrollment').style.display = 'block'}
</script>
