<div id="full-content" style="padding: 5px;">
	<a name="mission"></a>
	<h2>Mission Statement</h2>

	<p>The mission of Georgetown Wesleyan University of the Americas (GWUA) is to provide affordable, high-quality graduate education for men and women actively engaged in Christian service; to challenge students through critical thinking, research and writing to develop a sound biblical world view and hermeneutic and to express them clearly to the contemporary culture; and to equip Christians to use their intellect, skills and gifts in building up the Body of Christ, engaging and reaching the greater world, and ministering to the varied physical, spiritual and emotional needs of their fellow human beings.</p>

	<p>We are committed to serious scholarship and academic excellence through online studies while also striving to make our educational offerings affordable and available to all. In the operation of our business we endeavor to use conservative business practices, innovation, technology and forward thinking as tools to positively impact students in their educational endeavors.</p>
	
	<p>The core values of the University include:</p>
	
	<ul class="niceList">
		<li>Academic quality - We are committed to effective adult learning and rigorous academic standards.</li>
		<li>Student success - We provide the opportunity and supportive learning environment that enables adults to achieve their professional and personal goals.</li>
		<li>Educational access - We believe all desiring and qualified adults have a right to higher education.</li>
		<li>Private and non-governmental - Georgetown Wesleyan University of the Americas is a private and non-governmental institution.</li>
	</ul>

	<a name="objectives"></a>
	<h2>Educational Objectives</h2>
	<p>At Georgetown Wesleyan University of the Americas our goal is to provide a superior level of undergraduate and graduate education
	to working adult learner, who desire to advanced their career, start or grow a business or improve their job position,
	and prepare for religious service.</p>
	
	<p>Georgetown Wesleyan University of the Americas is committed to excellent, respect for others, the distance learning model or
	education and making our educational offerings affordable. Our goal is to offer our educational services at an
	affordable price, by the use of conservative business practices, innovation, technology and forward thinking.</p>
	
	<p>We realize that working professionals, due to life and career requirements, simply do not have the time to sit in a
	class room. So we have designed our degree programs to work around out student's schedule. As such we offer
	degree programs via distant learning.</p>

	<a name="method"></a>
	<h2>Instructional Method - Distance Learning (Internet)</h2>
	<p>Georgetown Wesleyan University of the Americas of the Americas is a religious based, career focused, distance learning school. Our
	courses are offered via the internet, by way of our educational software portal.</p>

	<a name="residence"></a>
	<h2>Residence and Time Requirements</h2>
	</p>Since our programs are delivered via the internet, there is no classroom attendance required. However in order to
	successfully complete any of our degree programs, a student should be prepared to devotes at least 10-15 hrs per
	week in their studies. In addition most of our degree programs require missionary or ministry service.</p>
	
	<a name="authority"></a>
	<h2>Operating Authority</h2>
	
	<p>Georgetown Wesleyan University of the Americas is approved by the Bahamian Government and has been recognized by the
	Ministry of Education.</p>
	
	<a name="library"></a>
	<h2>Online Services and Library Facilities</h2>
	<p>Georgetown Wesleyan University of the Americas delivers its programs via the internet by way of an educational software portal. 
	We have developed a software educational delivery platform to handle our
	internet courses.</p>
	
	<p>Our educational portal may be accessed by any standard internet browser. Once admitted to our programs, students
	are given a unique username and password so that they may access the educational portal and begin their course
	Also Georgetown Wesleyan University of the Americas does not maintain a traditional library. We do however maintain an electronic
	library that is accessible by all of our students.</p>
	
	<a name="legal"></a>
	<h2>Statement of Legal Control</h2>
	<p>Georgetown Wesleyan University of the Americas of the Americas Bahamas is a registered corporation in the Bahamas. We are

	governed by an advisory board and headed by a President.</p>

	<p>The President of Georgetown Wesleyan University of the Americas is Dr. Shelton Wood.</p>
	<ul style="margin-left: 25px; list-style-type: disc;">
		<li><a href="?section=catalog&doc=education_requirements">Educational Requirements</a></li>
		<li><a href="?section=catalog&doc=school_information">School Information</a></li>
		<li><a href="?section=catalog&doc=admissions">Admissions</a></li>
		<li><a href="?section=catalog&doc=tutition">Tutition, Fees & Tools</a></li>
		<li><a href="?section=catalog&doc=school_policies">School Policies</li>
	</ul>
</div>
