<div id="full-content" style="padding: 5px;">
	<div class="heading">Administration</div>

	<div class="deans_heading">Deans:</div>
	<ul id="navlist">
		<li><p>Dr. Shelton E. Wood Jr. - Dean of the Ram College of Business & Leadership (Interim)</p></li>
		<li><p>Dr. Jothi Jothishankar - Dean of the College of Chandra College of Engineering</p></li>
		<li><p>Dr. Sylvan Puckerin - Dean of the College of Christian Studies</p></li>
		<li><p>Dr. Shelton E. Wood Jr. - Dean of the Wood College of Education</p></li>
		<li><p>Dr. Patrick Duncan - Dean of the College of Health Sciences</p></li>
	</ul>
	<div id="show_admin_link">
		<br />
		<br />
		<a onclick="showAdmin();">Show Other Administration & Executive Committee</a>
		<br />
		<br />
		<br />
	</div>
	<div id="other_admin" class="hide">
		<div class="deans_heading">Administrative Leadership</div>
		<ul id="navlist">
			<li><p>Dr. Jothi Jothishankar, President</p></li>
			<li><p>Dr. Evangeline Reid, Director of Admission</p></li>
			<li><p>Mr. Tarun Puri, MBA, Director for Global Student Development</p></li>
			<li><p>Dr. Conville Brown, Director of Student Development - Caribbean</p></li>
			<li><p>Dr. Arthur T. Porter, Dean of the Bahamas</p></li>
		</ul>
		<br />
		<br />
		<br />
		<div class="deans_heading">Executive Committee</div>
		<ul id="navlist">
			<li><p>Dr. Shelton Wood, Jr.</p></li>
			<li><p>Dr. Sadhana Ramcharran</p></li>
			<li><p>Dr. Patty David</p></li>
			<li><p>Mr. Christopher Outram</p></li>
			<li><p>Dr. Jothi Jothishankar</p></li>
			<li><p>Mr. Manjit Gill, Esq.</p></li>
			<li><p>Mr. Tarun Puri, MBA</p></li>
			<li><p>Dr. Sylvan Puckerin</p></li>
		</ul>
	</div>
</div>

<script type="text/javascript">
	<!--
	function showAdmin(){
		$('#show_admin_link').addClass('hide');
		$('#other_admin').removeClass('hide');
	}
	-->
</script>
