<div id="full-content" style="padding: 5px;">
	<div class="heading">Faculty</div>
	<table width="100%" border="0" cellpadding="10" cellspacing="0">
		<tbody>
			<tr>
				<td valign="top" width="50%">
				<table width="100%" border="0" cellpadding="3" cellspacing="0">
					<tbody>
						<tr>
							<td valign="top" bgcolor="#566d9a"><strong><font
								color="#ffffff">Administrative Leadership</font></strong></td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top"><img src="http://hcbahamas.com/images/stories/demo/sam-4.jpg"
								alt="Dr. Shelton Wood, Jr., President" width="48" align="right"
								border="0" height="48" hspace="5">Shelton Wood, Jr.,
							President</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top"><img src="http://hcbahamas.com/images/stories/demo/jothi.jpg"
								alt="Dr. Jothi Jothishankar, Director of Admission" width="48"
								align="right" border="0" height="48" hspace="5">Dr. Jothi
							Jothishankar, Director of Admission</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Evangeline Reid, Registrar</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top" height="37">Mr. Tarun Puri, MBA, Director for
							Global Student Development</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Conville Brown - Director of Student
							Development - Bahamas</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Arthur T. Porter - Dean of the Bahamas
							Distant Learning Center</td>
						</tr>
					</tbody>
				</table>
				</td>
				<td valign="top" width="50%">
				<table width="100%" border="0" cellpadding="3" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="2" valign="top" bgcolor="#566d9a"><strong><font
								color="#ffffff">Professors</font></strong></td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. James Y. Lin</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Vangie Reid</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Keith Riffle</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Prof. Fay Levy</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Manjit Gill, MBA, JD</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Thomas Titus, MBA,JD</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Sylvan Puckerin</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Yvette Maryuen</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Keith Riffle</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Conville S. Brown, MD, MBBS, FACC</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Arthur T Porter MD DBA FRCPC FACR FACRO</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Patrick I. Duncan, PhD, MPH</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Monica J. Duncan, PhD</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Patty David, PhD</td>
						</tr>
					</tbody>
				</table>
				</td>
			</tr>
			<tr>
				<td valign="top">
				<table width="100%" border="0" cellpadding="3" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="2" valign="top" bgcolor="#566d9a"><strong><font
								color="#ffffff">Academic Leadership</font></strong></td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Shelton Wood, Jr., Dean of the Wood School
							of Education and Accreditation</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. James Y. Lin, Dean, College of Applied
							Management; Dean, College of Guidance and Counseling Psychology;
							Vice President over Asia</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Pastor Patty David, Dean of the School of
							Religion; Vice President for Religious Studies</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Jothi Jothishankar, Dean of the School of
							Engineering and the Director of the Center of Individual
							Excellence</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Evangeline Reid, Dean of the Undergraduate
							School of Business Administration</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Sylvan Puckerin, Dean and Director of
							Barbados Distance Learning Center</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Patrick Duncan, Dean of the School of
							Health Sciences</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Yvette Maryuen, Director of Academic and
							Curriculum Development Executive Board</td>
						</tr>
					</tbody>
				</table>
				</td>
				<td valign="top">
				<table width="100%" border="0" cellpadding="3" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="2" valign="top" bgcolor="#566d9a"><strong><font
								color="#ffffff">Executive Committee</font></strong></td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. James Y. Lin, Chairman</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Shelton Wood, Jr.</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Sadhana Ramcharran</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Patty David, PhD</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Jothi Jothishankar</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Mr. Manjit Gill, Esq.</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Mr. Tarun Puri, MBA</td>
						</tr>
						<tr>
							<td colspan="2"
								style="border-bottom: 1px dashed rgb(169, 183, 207);"
								valign="top">Dr. Sylvan Puckerin</td>
						</tr>
					</tbody>
				</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>


