<div id="main-content" class="equal-cols">
	<ul id="slideshow">
		<li><img src="/images/stories/slideshow/sl-1.jpg" /></li>
		<li><img src="/images/stories/slideshow/sl-2.jpg" /></li>
	</ul>
	<h2>Welcome!</h2>
<p>I am delighted to have you as a visitor to our web site. I know how difficult it is to commit to continuing your education and also how time-consuming it can be to find just the right University to help you along in the process. I am trusting that your search will end with your visit to GWUA's site.</p>

<p>At GWUA we are committed to helping working professionals further their education without having to leave their current occupations or ministry assignments. Let's face it. Sometimes it's just not possible to go back to school full-time when you have family and ministry responsibilities. All of our courses are offered online, via the Internet, so you can work on your own time schedule and at your own pace. When "life" happens, you can be sure that you won't be dropped from a course or program. You can pick up where you left off and keep moving ahead toward your goal.</p>

<p>Unlike many traditional colleges, our professors have real-world experience, so you will be learning more than just theory from a textbook. Our professors act as mentors, enriching your life and helping you to apply what you learn to your current or future career or ministry. Contrary to popular opinion, many students in online programs report that they actually have more interaction with peers and professors than in a traditional classroom setting. Through online chat rooms, forums and e-mail, you are always in contact with fellow students and with responsive professors who are dedicated to your success.</p>

<p>So, browse though our web site and let me know if you have any questions. I am confident that if you choose GWUA, you will not be disappointed.</p>
	<dl class="president">
		<dt class="signature">Shelton E. Wood</dt>
		<dd>University President</dd>
	</dl>
</div>
##right_column##
