
<ul>
	<li><a class="home" href="">Home</a>
	<li><a class="academics" href="">Academics</a>
	<ul>
		<li><a href="">Doctoral Programs</a>
		<li><a href="">Hamilton School of Business</a>
		<li><a href="">Jakhotia College of Spiritual Studies</a>
		<li><a href="">College Of Guidance and Counseling Psychology</a>
		<li><a href="">Wood School of Education</a>
	</ul>
	</li>
	<li><a class="catalog" href="">Catalog</a>
	<ul>
		<li><a href="">General Information</a>
		<li><a href="">School Information</a>
		<li><a href="">Admissions</a>
		<li><a href="">Education Requirements</a>
		<li><a href="">Tuition, Fees & Tools</a>
		<li><a href="">School Policy</a>
	</ul>
	</li>
	<li><a class="request_information" href="">Request Information</a>
	<li><a class="application" href="">Application</a>
	<li><a class="scholarship_information" href="">Scholarship
	Information</a>
</ul>

