<div id="full-content" style="padding: 5px;">

	<form action="controller.php?action=request_information" method="post" id="ChronoContact_request_information" name="ChronoContact_request_information">
		
	<table cellspacing="0" cellpadding="3" border="0" width="100%">
	<tbody><tr>
        <td height="30px" bgcolor="#566d9a" style="border-bottom: 1px solid rgb(194, 183, 146);" colspan="2"><p style="color: rgb(255, 255, 255);"><strong>Want to learn more about GWUA?<br>
            <br>
        </strong>Fill out   the form below as completely as possible and one of our staff will get in touch   with you. Please be sure to indicate how you prefer to be contacted.</p></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      </tbody><tbody style="font-size: 12px;">
        <tr>
          <td><strong>Name<br>                    
          </strong></td>
          <td><input type="text" maxlength="1024" size="50" value="" name="Name" id="Name"></td>
        </tr>
        <tr>
          <td><strong>Address<br>                    
          </strong></td>
          <td><input type="text" maxlength="1024" size="50" value="" name="Address" id="Address"></td>
        </tr>
        <tr>
          <td><strong>City, State, Zip<br>                    
          </strong></td>
          <td><input type="text" maxlength="1024" size="50" value="" name="City, State, Zip" id="City, State, Zip"></td>
        </tr>
        <tr>
          <td><strong>Country<br>                    
          </strong></td>
          <td><input type="text" maxlength="1024" size="50" value="" name="Country" id="Country"></td>
        </tr>
        <tr>
          <td><strong>E-Mail<br>                    
          </strong></td>
          <td><input type="text" maxlength="1024" size="50" value="" name="email" id="email"></td>
        </tr>
        <tr>
          <td><strong>Phone Number<br>                    
          </strong></td>
          <td><input type="text" maxlength="1024" size="50" value="" name="Phone Number" id="Phone Number"></td>
        </tr>
        <tr>
          <td><strong>Degree You're Seeking<br>                    
          </strong></td>
          <td><select size="1" name="degree" id="degree">
            <option value="Master's Degree">Master's Degree</option>
            <option value="Undergraduate Degree">Undergraduate Degree</option>
          </select></td>
        </tr>
        <tr>
          <td><strong>Educational Goals<br>                    
          </strong></td>
          <td><textarea cols="50" rows="6" name="Educational Goals"></textarea></td>
        </tr>
        <tr>
          <td><strong>Question/Info Needed<br>                    
          </strong></td>
          <td><textarea cols="50" rows="6" name="question"></textarea></td>
        </tr>
        <tr>
          <td><strong>How best to contact you<br>                    
          </strong></td>
          <td><select size="1" name="How best to contact you" id="How best to contact you">
            <option value="Phone">Phone</option>
            <option value="E-Mail">E-Mail</option>
            <option value="Mail">Mail</option>
          </select></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Submit Form" name="Form Submit" id="Form Submit"></td>
        </tr>
      </tbody>
     </table>				
	</form>
</div>