<style>

	.clear { /* generic container (i.e. div) for floating buttons */
	    overflow: hidden;
	    width: 100%;
	}
	
	a.button {
	    background: transparent url('images/bg_button_a.gif') no-repeat scroll top right;
	    color: #444;
	    display: block;
	    float: left;
	    font: normal 12px arial, sans-serif;
	    height: 24px;
	    margin-right: 6px;
	    padding-right: 18px; /* sliding doors padding */
	    text-decoration: none;
	}
	
	a.button span {
	    background: transparent url('images/bg_button_span.gif') no-repeat;
	    display: block;
	    line-height: 14px;
	    padding: 5px 0 5px 18px;
	}
	
	a.button:active {
	    background-position: bottom right;
	    color: #000;
	    outline: none; /* hide dotted outline in Firefox */
	}
	
	a.button:active span {
	    background-position: bottom left;
	    padding: 6px 0 4px 18px; /* push text down 1px */
	} 
</style>


<div id="full-content" style="padding: 5px;">
	<div class="heading">Scholarship Information</div>

	<p>Hamilton College is committed to providing broad access to higher education. Our scholarships are an investment in the future of our students and the future of the communities they serve as advocates for positive growth.</p>
	<p>GWUA offers merit-based scholarships for academic and professional accomplishments as well as some need based. Many scholarships are available to our international students from all over the world.</p>
	<p>For more information on scholarships, email us at registrar@gwua.net. For inquiries, please visit the scholarship section for the application process. For you to be considered for any scholarship, you must <a href="?section=application">submit an application </a>before any consideration.</p>

	<a class="button" href="?section=application"><span>Submit an Application</span></a> 

</div>
