<div id="right-col" class="column equal-cols">
<h3>testimonials</h3>
	<blockquote>
		<i>"What I have gained so far from this study is a new awareness ..... I remind myself that this is a Masters level course and that will help me understand my  profession in a more meaningful way."</i>
		<span class="author"><a title="Testimonial">Larry Summer</a></span>
	</blockquote>
	<blockquote>
		<i>"At the beginning I was intimidated because I had more work than I expected in just short a time but I was assured by my professor that he was there to help me thru the process and be my coach!"</i>
		<span class="author"><a title="Testimonial">Tim Green</a></span>
	</blockquote>
	<h3>university video message</h3>
	<img border="0" align="center" alt="Shelton Wood, Jr, Ed.D (President) - To view the President's Message, please click here." src="/images/stories/video.jpg" class="caption"/>
	<a target="_blank" href="/images/stories/videos/drwoodflvsmall.swf">To view the university message, click here.</a>

</div>
