<div id="full-content" style="padding: 5px;">
	<div class="heading">Admissions Information</div>
	<p>Georgetown Wesleyan University of the Americas seeks students who have a desire for career ministry, Counseling, Educational services, Business and Engineering. GWUA is committed to a policy of equal opportunity in the recruitment and admission of students and other student services and activities. GWUA does not discriminate on the basis of age, sex, race, color, religion, disability, sexual orientation, marital status, veteran status or national origin.</p>
	
	<h2>Criteria for Admission</h2>
	<p>Admission into Georgetown Wesleyan University of the Americas is open to students seeking education in a variety of programs. Admissions into our Non Secular Masters Degree programs require at least a Bachelors degree. While admissions into our Bachelors program, requires at least an Associate's degree.</p>
	
	<h2>Academic Calendar</h2>	
	<p>Admission to Georgetown Wesleyan University of the Americas may be attained at any start of each term which is a rolling admission. Student can enroll at anytime and class will start at the beginning of each month.</p>
</div>
