<div id="full-content" class="equal-cols">
	<div class="heading">Alumni</div>
	
	<h2>Alumni and Friends</h2>

	<p>Welcome to Georgetown Wesleyan University of the Americas's Alumni Relations, serving an international community of
	graduates from all over the Caribbean and the World.</p>

	<p>Alumni are among the college's most important stakeholders, and serve a vital role in advancing
	our reputation and promoting our institutional values and image to region at large. Our mission
	is to meet your continuing needs as an alumnus and to keep you connected with GWUA in
	meaningful ways that increase the value of your degree.</p>
	
	<p>These pages are designed to provide you with the services, resources, products and
	communications necessary to enrich your affiliation. We also hope these pages engage you in
	significant ways with fellow alumni, faculty and friends.</p>
	
	<p>This is a place to emphasize and celebrate your achievements and awards; to build partnerships
	and broaden networks; to participate in mutually beneficial activities and enterprises; and to
	support collective initiatives that will leave a positive and lasting legacy.</p>
	

	<h2>FAQ</h2>
	<p>Listed below are answers to questions commonly asked by alumni. If you cannot find the answer
	to your question on this page, please contact <a href="mailto:alumni@gwua.net">alumni@gwua.net</a>. We look forward to hearing from
	you.</p>

	<p><strong>How can I become a mentor?</strong> <br />
	Alumni mentorship programs are managed through the alumni relations department. To inquire
	about becoming a mentor, contact <a href="mailto:registrar@gwua.net">registrar@gwua.net</a></p>

	<p><strong>How do I change my name with the University?</strong> <br />
	University policy requires you to email in proof of your legal name change. Please email a copy
	of your new name.</p>

	<p>We cannot change your name in the database without documentation.</p>

	<p><strong>How do I get a duplicate diploma?</strong> <br />
	If your diploma has been lost or damaged and you require a replacement, please contact the
	Graduation department at <a href="mailto:registrar@gwua.net ">registrar@gwua.net </a></p>

	<p>Replacement diplomas cost $20 for the first one and $5 for each additional, payable in advance.
	It takes 6-8 weeks for your duplicate to arrive. Email the registrar office at registrar@gwua.net.</p>

	<p><strong>How do I notify the University of a deceased alum?</strong> <br />

	In order for the college to mark an alum as deceased in our database, you must email in a copy
	of an obituary or death certificate. It does not have to be a certified copy, a photocopy will do.
	When you have your copy, please email it to <a href="mailto:registrar@gwua.net">registrar@gwua.net</a></p>

	<h2>Alumni Services</h2>
	
	<p>Alumni are eligible to participate in an array of programs and services through the Office
	of Development and Alumni Relations. The Online Community provides a robust environment
	for facilitating access to the University, dialogue among University constituents, and admission
	to University resources, such as the Online Library. There are no membership fees for most
	services.</p>
</div>
