<div id="full-content" style="padding: 5px;">
	<div class="heading">Credit By Portfolio</div>
	<ul class="niceList">
		<li>Complete the Application for Credit form, noting the course description(s) from the course description
		list for the course(s) for which you are seeking credit. All of the materials gathered for the portfolio should
		demonstrate your knowledge of the various elements of the course description(s). The materials gathered must
		reflect your personal experience and be prepared by you.</li>
		
		<li>The resume form should give the evaluator an outline of your background and a summary overview of your
		experience. Make it as complete as possible so the evaluator can have a good understanding of who you are and
		what you have done.</li>
		
		<li>If the Admissions and Registrar Department does not have a complete file of your transcripts, include them
		in your portfolio. It is important that the evaluator be able to see all of the academic work you have done which
		may relate to the credit being sought.</li>
		
		<li>List the courses, workshops and seminars you have attended which relate directly to the course(s) for which
		credit is being sought. Do not list unrelated events. Describe the nature of the subjects discussed, the length of
		the sessions and any other information which will fully explain the nature of the event. Attach documentation of
		your attendance (programs, attendance certificates, CEU certifications, brochures, etc.).</li>
		
		<li>In the bibliography list any books which you have read and which directly relate to the course. Do not list
		books you have in your library that you have not read.</li>
		
		<li>Send two copies of the completed portfolio to the Dean of your school/college and the Admissions and
		Registrar Department at the address listed on the front page. You will be sent an updated transcript based on the
		evaluation of your portfolio.</li>
	</ul>
	<ul  class="niceList">
		<li>ACADEMIC REQUIREMENTS: Academic Requirements of Hamilton College of the Bahamas are listed in
		the catalogue or under the requirements for degrees.</li>
		
		<li>RESUME: The resume provides an outline of personal, educational, military, employment and ministerial
		background. Consider it to be an introduction to the portfolio which will be used as a reference by the
		evaluator when reviewing the other sections. Attach your resume as Attachment A of this portfolio package.</li>
		
		<li>TRANSCRIPTS: If the Admissions and Registrar do not have a complete file or transcripts of your
		academic work, attach them to the portfolio package as Attachment B.</li>
		
		<li>PROFESSIONAL COURSES/WORKSHOPS/SEMINARS: List those courses, workshops, and/or seminars
		in which you have participated and which relate to the course for which you are seeking credit. Attach
		documentation of your attendance to the portfolio package as Attachment C.</li>
		
		<li>BIBLIOGRAPHY: List the books which have been thoroughly read and which relate to the course for which
		you are seeking credit and attach it to the portfolio package as Attachment D. Include each book's title,
		author, publisher, copyright date and brief description. You may be required to take a test on the book(s) if
		credit is to be awarded.</li>
	</ul>
</div>
				