


	<tbody>
		<tr>
			<td colspan="2" valign="top">
			<p><font color="#515756" face="arial,helvetica,sans-serif">The
			mission of Georgetown Wesleyan University of the Americas is to
			provide the educational experience in an environment supportive of
			faith and learning that will encourage adult students to “discover
			their potential.” Georgetown Wesleyan University of the Americas make
			high quality, professionally enhanced programs accessible to adults
			of diverse backgrounds and assists them to succeed in their careers
			and communities. Georgetown Wesleyan University of the Americas is
			Christian and evangelical, in nature. However, many students at
			Georgetown Wesleyan University of the Americas are not Christians.
			Students are admitted to Georgetown Wesleyan University without
			consideration to race, color, national origin, sex, or religion. All
			are encouraged to be faithful to their faith.<br>
			<br>
			The core values of the University include:<br>
			</font></p>
			<blockquote><font face="arial,helvetica,sans-serif"><font
				color="#515756"><strong>Academic quality</strong> - We are
			committed to effective adult learning and rigorous academic
			standards.</font></font><font face="arial,helvetica,sans-serif"><br>
			</font><font color="#515756"><font face="arial,helvetica,sans-serif"><strong>Student
			success</strong></font><font face="arial,helvetica,sans-serif"> - </font><font
				face="arial,helvetica,sans-serif">We provide the opportunity
			and supportive learning environment that enables adults to achieve
			their professional and personal goals.</font></font><font
				face="arial,helvetica,sans-serif"><br>
			</font><font color="#515756"><font face="arial,helvetica,sans-serif"><strong>Educational
			access</strong></font><font face="arial,helvetica,sans-serif"> - </font><font
				face="arial,helvetica,sans-serif">We believe all desiring and
			qualified adults have a right to higher education.</font></font><font
				face="arial,helvetica,sans-serif"><br>
			</font><font color="#515756"><font face="arial,helvetica,sans-serif"><strong>Private
			and non-governmental</strong></font><font face="arial,helvetica,sans-serif"> -
			</font><font face="arial,helvetica,sans-serif">Georgetown Wesleyan
			University of the Americas is a private and non-governmental
			institution.</font></font><font face="arial,helvetica,sans-serif"><br>
			</font><font color="#515756"><font face="arial,helvetica,sans-serif"><strong>Religious
			emphasis</strong></font><font face="arial,helvetica,sans-serif"> - </font><font
				face="arial,helvetica,sans-serif">We believe that secular and
			religious instructions should be available to everyone in their
			studies to include:</font></font><font face="arial,helvetica,sans-serif"><br>
			</font></blockquote>
			<blockquote>
			<ul>
				<li><font color="#515756" face="arial,helvetica,sans-serif">Challenging
				students to respond to the spiritual and social needs of the
				community and world;</font></li>
				<li><font color="#515756" face="arial,helvetica,sans-serif">Providing
				a solid core of academic studies within the theological, counseling,
				and business disciplines;</font></li>
				<li><font color="#515756" face="arial,helvetica,sans-serif">Engaging
				students in religious experimental learning and integrative academic
				reflection; and</font></li>
				<li><font color="#515756" face="arial,helvetica,sans-serif">Promote
				evangelical Christianity from a Wesleyan perspective.</font></li>
			</ul>
			</blockquote>

			<table class="pagenav" align="center">
				<tbody>
					<tr>
						<th class="pagenav_next"><a
							href="/index.php?option=com_content&amp;view=article&amp;catid=39%3Ageneral-information&amp;id=64%3Astatement-of-faith&amp;Itemid=80">Next
						&gt;</a></th>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>

	</tbody>
</table>
<span class="article_separator">&nbsp;</span>



