

<div id="full-content">
	<div class="heading">Mission Statement</div>
<p>The mission of Georgetown Wesleyan University of the Americas (GWUA) is to provide affordable, high-quality graduate education for men and women actively engaged in Christian service; to challenge students through critical thinking, research and writing to develop a sound biblical world view and hermeneutic and to express them clearly to the contemporary culture; and to equip Christians to use their intellect, skills and gifts in building up the Body of Christ, engaging and reaching the greater world, and ministering to the varied physical, spiritual and emotional needs of their fellow human beings.</p>

<p>We are committed to serious scholarship and academic excellence through online studies while also striving to make our educational offerings affordable and available to all. In the operation of our business we endeavor to use conservative business practices, innovation, technology and forward thinking as tools to positively impact students in their educational endeavors.</p>

			<table class="pagenav" align="center">
				<tbody>
					<tr>
						<th class="pagenav_next"><a
							href="/index.php?option=com_content&amp;view=article&amp;catid=39%3Ageneral-information&amp;id=64%3Astatement-of-faith&amp;Itemid=80">Next
						&gt;</a></th>
					</tr>
				</tbody>
			</table>


</div>


