<div id="full-content" style="padding: 5px;">	
	<h2><strong>School Contact Information</strong></h2>
	
	<p>The Cee Bee Corporate Centre<br>
	The Centreville Medical Pavilion</p>

	<p>72 Collins Avenue,<br>
	P.O. Box N-4296<br>
	Nassau, Bahamas</p>
	
	<p><a href="mailto:info@hcbahamas.com">info@hcbahamas.com</a></p>
	<hr width="100%" size="2">

	
	
	<h2><strong>Physical Facility</strong></h2>
	
	<p>Hamilton College of the Bahamas is headquarter at The Cee Bee Corporate Centre 72 Collins Avenue, P.O. Box N-4296, Nassau, Bahamas. All programs and course are deployed via internet and small groups in selected areas.</p>
</div>