<div id="full-content" style="padding: 5px;">
	<p><font face="arial,helvetica,sans-serif"><strong>Transfer
	of Credits</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Transfer of
	academic credit from other institutions is encouraged. Generally we only
	consider courses that the student have earned at least a C to be
	eligible for transfer. Also the content of the course being transferred
	should have a substantial likeliness to courses we offer. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">Transfer of credit
	documentation, when requested, should be submitted to the Georgetown Wesleyan University of the Americas, Office of Admissions. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Non-Traditional
	Credits</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Georgetown Wesleyan University of the Americas
	credits earned or validated through the methods listed below: </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Credit
	for Prior Learning</strong> </font></p>
	
	<p><font face="arial,helvetica,sans-serif">Through our
	Program Assessment Process, PAP, you may earn credit for the
	college-level knowledge and skills you have gained from your education,
	national testing, or program examinations. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">In addition,
	course work from a United States accredited or internationally
	recognized College, or military training and experience, may be eligible
	for transfer. </font></p>
	
	<p><strong><font face="arial,helvetica,sans-serif">National
	Testing Examinations</font></strong></p>
	
	<p><font face="arial,helvetica,sans-serif">Approved national
	testing programs such as the International Baccalaureate, College-Level
	Examination Program (CLEP), Defense Activity for Non-traditional
	Education Support (DANTES), may allow you to earn credit by examination
	for knowledge you may have gained through independent study,
	professional development, or non-credit audit courses. </font></p>
	
	<p><strong><font face="arial,helvetica,sans-serif">American
	Council on Education (ACE)</font></strong></p>
	
	<p><font face="arial,helvetica,sans-serif">Georgetown Wesleyan University of the Americas may grant credit for learning
	obtained through military training, college-level course work, corporate
	training programs, and business-related certificates that have been
	reviewed and recommended for credit by the ACE.</font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Course
	Challenge by Examination</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Students with a
	cumulative grade point average of at least 3.0 may seek to earn credit
	for a course through examination. Permission to take an examination is
	granted by the Dean of the school in which the course is taught. The
	student will be charged the usual tuition rate for the course. In
	addition a $25 administration fee which must be paid in advance and is
	non-refundable.</font></p>
	
	<p><font face="arial,helvetica,sans-serif">In order to
	receive credit, the student must achieve a grade of "C" or above on the
	course challenge exam. If the student does not achieve a grade of "C" or
	above, no entry will be made on the permanent transcript record and no
	tuition will be charged. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Student
	services</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Georgetown Wesleyan University of the Americas is an online school. As such we do
	not have a physical campus where students may gather to take classes.
	Our offices are there for administrative purposes. We do not have a job
	placement service.</font></p>
	
	<p><font face="arial,helvetica,sans-serif">However the school
	maintains a listing of jobs that potential employers have shared with
	us. We make no promises concerning these listings.</font></p>
	
	<p><font face="arial,helvetica,sans-serif">We do however
	provide comprehensive academic advisory services to our students.
	Students are assigned an academic advisor upon matriculation. Students
	are encouraged to work very closely with their academic advisor.</font></p>
	
	<p><strong><span
		style="font-family: 'Times New Roman', 'serif';"><font
		face="arial,helvetica,sans-serif">Student rights</font></span></strong></p>
		
	<p><font face="arial,helvetica,sans-serif">Nondiscrimination
	On The Basis Of Disability</font></p>
	<p><font face="arial,helvetica,sans-serif">Georgetown Wesleyan University of the Americas does not discriminate on the basis
	of disability. This includes admission and retention of students and
	employment of faculty and staff (instructional and non-instructional
	employees). </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Equal
	Opportunity/Affirmative Action Policy</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Georgetown Wesleyan University of the Americas is committed to providing equal
	employment and educational opportunity to all persons without regard to
	race, color, religion, national or ethnic origin, age, gender, sexual
	orientation, transgender, disability, genetic predisposition or carrier
	status, alienate or citizenship, status as victim of domestic violence,
	or marital, military, or veteran status. It is a violation of this
	policy for any member of the school community to engage in
	discrimination or to retaliate against a member of the community for
	raising an allegation of discrimination, filing a complaint alleging
	discrimination, or for participating in any proceeding to determine
	whether discrimination has occurred. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Policy
	on plagiarism</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Plagiarism is the
	presentation of someone else's ideas, words, or work product as one's
	own creation. A student who copies or paraphrases published or on-line
	material, or another person's research, without properly identifying the
	source(s) is committing plagiarism.</font></p>
	
	<p><font face="arial,helvetica,sans-serif">Plagiarism
	violates the ethical and academic standards of our school. Students will
	be held responsible for such violations, even when unintentional. To
	avoid unintended plagiarism, students should consult with their
	instructors about when and how to document their sources. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Grading
	system</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Final Grades are
	given at the end of the course group, for each course. Grades assigned
	at the completion of a course are as follows:</font></p>
	
	<table width="100%" bgcolor="#ebebeb" border="0" cellpadding="3"
		cellspacing="0">
		<tbody>
			<tr>
				<td colspan="3" bgcolor="#dadada">
				<p><strong><font face="arial,helvetica,sans-serif">Grade
				Definition Index</font></strong></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">Grade</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Points</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Description</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">A</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">4.0</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Indicates a
				superior level of achievement</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">B+</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">3.5</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Indicates a
				very good level of achievement</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">B</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">3.0</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Indicates a
				good level of achievement</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">C+</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">2.5</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Indicates an
				above average level of achievement</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">C</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">2.0</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Indicates an
				average level of achievement</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">D+</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">1.5</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Indicates
				marginal level of achievement</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">D</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">1.0</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Indicates
				marginal level of achievement</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">F</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">0.0</font></p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Indicates an
				unsatisfactory level of achievement</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">W </font></p>
				</td>
				<td>
				<p>&nbsp;</p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Withdrew from
				course. (Not used in GPA calculations) Withdrawal from class between
				4th and 10th weeks; non Failure</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">AUD</font></p>
				</td>
				<td>
				<p>&nbsp;</p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Course not
				taken for credit or grade: "AUD" appears on Transcript</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">REP</font></p>
				</td>
				<td>
				<p>&nbsp;</p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Repeated Course</font></p>
				</td>
			</tr>
			<tr>
				<td>
				<p><font face="arial,helvetica,sans-serif">TR</font></p>
				</td>
				<td>
				<p>&nbsp;</p>
				</td>
				<td>
				<p><font face="arial,helvetica,sans-serif">Indicates that
				GWUA accepted the transferred credit from previous postsecondary
				education institution. TR grades are not used in GPA calculations.</font></p>
				</td>
			</tr>
		</tbody>
	</table>
	
	<p><strong><font face="arial,helvetica,sans-serif">Dean's
	Honor List</font></strong></p>
	
	<p><font face="arial,helvetica,sans-serif">The Dean's Honor
	List is issued at the end of each course group. Those students who have
	earned at least 4 new credits with a cumulative grade point average of
	3.5 or higher are recognized by placement on the Dean's List. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Appeal
	of grades</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">You may make a
	request to change a final earned grade issued by an instructor. Grades
	"A" through "U" are earned grades. Only the instructor who issued the
	grade can change it; however, you may also appeal to the Dean of
	Academic Affairs for consideration.</font></p>
	
	<p><font face="arial,helvetica,sans-serif">The deadline for
	appealing past grades is one year after the end of the term in which the
	grades were issued. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Repeating
	courses</strong> </font></p>
	
	<p><font face="arial,helvetica,sans-serif">Students should
	not repeat a course if a grade of C has been achieved, nor if transfer
	credit has been accepted for a course completed at another institution.</font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Satisfactory
	academic progress</strong> </font></p>
	
	<p><font face="arial,helvetica,sans-serif">In order for a
	student to graduate, they must receive at least a 2.0 cumulative GPA. If
	a student receives less than a C for a course attempted they will be
	given the opportunity to repeat the course. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">If after a given
	course group, a student's whose cumulative GPA is less than a 2.0 will
	be placed on academic probation. A student may only remain on academic
	probation for one (1) course group, pending repeating the course(s) that
	caused the GPA to fall below 2.0. The student may also take additional
	courses that cause the cumulative GPA to rise at or above the 2.0
	minimum. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">A student may be
	dismissed for academic performance if the cumulative GPA remains below
	2.0 for two (2) consecutive course group of courses attempted. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">A student who is
	dismissed for academic performance, may be readmitted upon consultation
	with the Dean of the program and successfully repeating of the offending
	courses. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Student
	records policy</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">The Family
	Educational Rights and Privacy Act (FERPA) affords students certain
	rights with respect to their education records. Most notably, the
	student's right to inspect and review your educational records.</font></p>
	
	<p><font face="arial,helvetica,sans-serif">Students should
	submit to the registrar, dean, head of the academic department, or other
	appropriate official, written requests that identify the record(s) they
	wish to inspect. If the records are not maintained by the school
	official to whom the request was submitted, that official shall advise
	the student of the correct official to whom the request should be
	addressed. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">All requests shall
	be granted or denied in writing within 45 days of receipt. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Withholding
	student records</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">A student who is
	financially delinquent or in default of any of their financial accounts
	at the School, will not be permitted to complete registration, or be
	issued a copy of their grades, a transcript, certificate or degree. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Grievances,
	student complaints</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Georgetown Wesleyan University of the Americasmaintains an open door policy to all
	its students, faculty and staff. However should a dispute arise between
	a student and the administrative staff of the School, the student should
	first attempt to first resolve the matter locally with the
	administrator. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">Should an impasse
	arise, the student may appeal an adverse decision directly to the Dean
	of the Program or the President of the School. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">Should a dispute
	involve grades, the student should first attempt to resolve the matter
	the instructor. Grades may only be modified at the sole discretion of
	the instructor. However under extreme conditions the Dean of the Program
	may intervene.</font></p>
	
	<p><font face="arial,helvetica,sans-serif">Should a dispute
	arise involving a member of our faculty, the student may bring the
	matter directly to the attention of the Dean of the Program, who will
	investigate, rule and dispense of the issue accordingly. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Course
	cancellation policy</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">From time to time
	courses may be dropped by the School due to lack of interest, lack of
	student participation, unavailability of instructors, or for other
	reasons the School deems appropriate. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">In the event that
	a course is canceled by the School, then the School at its option may
	announce a replacing course or none at all. However in no instance will
	the School cancel a course that is in progress and has active students
	enrolled. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Course
	availability policy</strong> </font></p>
	
	<p><font face="arial,helvetica,sans-serif">Also not all
	courses described in our catalog may be offered at all times. Courses
	are offered based upon student enrollment, instructor availability and
	other logistical events. The School reserves the right to cancel a
	course for the term, even after placing it on the schedule of courses
	for that term. However in no instance will the School cancel a course
	that is in progress and has active students enrolled. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Maximum
	time for completion</strong> </font></p>
	
	<p><font face="arial,helvetica,sans-serif">A student should
	endeavor to complete the Masters or Bachelors Degree programs within two
	years of matriculation. Exception to this rule may be examined on a case
	by case basis. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Christian
	Service</strong> </font></p>
	
	<p><font face="arial,helvetica,sans-serif">Students are
	required to complete at least 40 hours of volunteer ministry, missionary
	or counseling service. It is the responsibility of the student to secure
	these volunteer positions. </font></p>
	
	<p><font face="arial,helvetica,sans-serif">Upon completion of
	this requirement, the student must submit to the School written proof of
	completion. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Right
	to modify this document and associated policies</strong> </font></p>
	
	<p><font face="arial,helvetica,sans-serif">This document may
	be revised and procedures and policies may be added, modified or
	nullified by Georgetown Wesleyan University of the Americas, without the
	need for review or approval by the student. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>International
	Students</strong> </font></p>
	
	<p><font face="arial,helvetica,sans-serif">Georgetown Wesleyan University of the Americas welcomes the international student.
	</font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Non-Degree
	Seeking Students</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Georgetown Wesleyan University of the                                                                                                                                                                           may enroll a limited number of
	students who wish to take selected courses for credit, but who do not
	wish to study for a career diploma. These students need not provide
	transcripts from previous institutions. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Leave
	of Absence</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Students wishing
	to take a break from their studies may request a leave of absence (LOA).</font></p>
	
	<ol class="niceList">
		<li><p>Students
		requesting a LOA must submit a written, signed notification to the
		Office of the Registrar.</p></li>
		<li><p>Withdrawing from the term: Students requesting a LOA after the term in which they
		are currently enrolled has started but before the term has ended, are
		considered to be "withdrawing from the term." The effective date of the
		LOA/term withdrawal is the date that the written notice is received in
		the Office of the Registrar. The effective date of LOA/term withdrawal
		will determine whether or not a student is entitled to a refund.</p></li>
	</ol>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Withdrawal
	from the School</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Students wishing
	to withdraw from the School must submit a written notification to the
	Office of the registrar. The effective date of the withdrawal is the
	date that the written notice is received in the Office of the Registrar.
	The effective date of withdrawal will determine whether or not a student
	is entitled to a refund (See refund policy and schedule.) </font></p>
	
	<ol class="niceList">
		<li><p>A student well
		is determined to be withdrawn from the School if she/he has not been
		continuously enrolled. See Continuous Enrollment Policy.</p></li>
		<li><p>New students
		have until the end of the second week of their first enrollment period
		to give written notice of their intent to withdraw. An application fee
		will not be refunded.</p></li>
	</ol>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Disclaimer
	of warranty</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">EXCEPT AS
	EXPRESSLY STATED IN THE STUDENT'S ENROLLMENT AGREEMENT AND OR THIS
	CATALOG, THERE ARE NO WARRANTIES, EXPRESS OR IMPLIED, BY OPERATION OF
	LAW OR OTHERWISE, REGARDING OR RELATING TO ANY SERVICE OR PRODUCT
	FURNISHED BY THE SCHOOL TO THE STUDENT PURSUANT TO OR IN CONNECTION WITH
	THE STUDENT'S ENROLLMENT AGREEMENT OR THIS CATALOG. THE SCHOOL
	SPECIFICALLY DISCLAIMS ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND
	FITNESS FOR ANY PURPOSE. </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Limitation
	on liability</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">IN NO EVENT WILL
	THE SCHOOL BE LIABLE TO THE STUDENT OR ANY THIRD PARTY FOR ANY INDIRECT,
	INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL OR PUNITIVE DAMAGES,
	REGARDLESS OF THE FORM OF ACTION (WHETHER IN CONTRACT, TORT OR
	OTHERWISE). </font></p>
	
	<p><font face="arial,helvetica,sans-serif"><strong>Refund
	Policy</strong></font></p>
	
	<p><font face="arial,helvetica,sans-serif">Should a student's
	enrollment be terminated or cancelled for any reason, all refunds will
	be made according to the following refund schedule:</font></p>
	
	<ol class="niceList">
		<li><p>Cancellation
		may be made in person, by electronic mail, by certified mail or by
		termination.</p></li>
		<li><p>All monies will
		be refunded if the school does not accept the applicant or if the
		student cancels within three (3 credits) business days after signing
		the enrollment agreement and making initial payment</p></li>
		<li><p>Cancellation
		after the third (3rd) business day, but before the first class will
		result in a refund of all monies paid, with the exception of the
		registration fee (not to exceed $150.00)</p></li>
		<li><p>Cancellation
		after class has began, but prior to 40% completion of the program, will
		result in a Pro Rata refund of 60% of tuition and registration fees.
		Since our courses are eight weeks in duration, the 40% completion mark
		occurs at the end of day 23.</p></li>
		<li><p>Cancellation
		after completing 40% of the program will result in no refund.</p></li>
		<li><p>Termination
		Date: When calculating the refund due to a student, the day we actually
		receive notification determines the termination date.</p></li>
		<li><p>Refunds will be
		made within 30 days of termination of the student's enrollment or
		receipt of a Cancellation Notice from the student.</p></li>
	</ol>

</div>
