<div id="full-content" style="padding: 5px;">
	<div class="heading">Tuition & Fees</div>
	
	<p>Payment for tuition and fees are due prior to the start of each course.</p>

	<table id="hor-minimalist-a">
		<tbody>
			<tr>
				<td>Undergraduate programs - per credit hour is $200.00</td>
			</tr>
			<tr>
				<td>All Religious programs per credit hour is $200.00. MBA course per credit hour is $325.00</td>
			</tr>
			<tr>
				<td>MBA course per credit hour is $325.00</td>
			</tr>
			<tr>
				<td>DBA & PhD per credit hour is $475.00</td>
			</tr>
			<tr>
				<td>Other fees (applicable to all programs)</td>
			</tr>
			<tr>
				<td>Registration fee, $50 USD per term</td>
			</tr>
			<tr>
				<td>Late payment of tuition $75 (non-refundable)</td>
			</tr>
			<tr>
				<td>Official transcripts $10 (includes first class postage) (non-refundable)</td>
			</tr>
			<tr>
				<td>Withdrawal from each course $25 (non-refundable)</td>
			</tr>
			<tr>
				<td>Returned check fee $30 (non-refundable)</td>
			</tr>
			<tr>
				<td>Technology fee per course $30</td>
			</tr>
			<tr>
				<td>Course challenge fee $50 (non-refundable)</td>
			</tr>
			<tr>
				<td>Deferred tuition payment plan fee $25 (non-refundable)</td>
			</tr>
		</tbody>
	</table>


	<p>Credit by Portfolio Fee - will be determined based on number of hours granted. <br />
	<a href="?section=catalog&doc=credit_by_portfolio">Click Here for More Information</a></p>

	<h2>One Time Fees</h2>
	<table id="hor-minimalist-a">
		<tbody>
			<tr>
				<td>Application for admittance $50 (non-refundable)</td>
			</tr>
			<tr>
				<td>Graduation application fee $100 (non-refundable)</td>
			</tr>
		</tbody>
	</table>

	<h2>Payment Options</h2>

	<p>Payment may be tendered in the form of money order, certified bank check, credit/debit card, personal check of company check or via wire.</p>

	<h2>Equipment (technology) needed by students</h2>
	<p>In order to take our courses, each student must have access to a personal computer or laptop. Such computer should
	be equipped with an internet access browser. The computer must have access to the internet in order to access our
	online education portal. Some professor may deploy some course material via message boards and email also most all of our courses have a required text book, which may be purchased from most any online bookseller.</p>
	<p>Students should budget at least an additional $50 - $100 per course for books.</p>
	
	<h2>Deferred tuition payment plan</h2>
	<p>Each student full time student must pay for at least three courses to be considered enrolled as a fulltime student. Part
	time Students can pay for one class at a time in the initial registration. After the first three completed course HCB
	may consider approving student who wish to break up the tuition due to the School into monthly payments but this
	will be determined on an individual bases.. The School will require 25% of the total to be paid by the beginning of the
	term. The remaining balance will be broken into two additional monthly payments. The final payment must be made
	by the close of the final day of classes of the term in order for the course to be graded and count toward degree and
	program.</p>
	
	<p>Students may not carry a balance on their account from one term to the next. All financial obligations for each term
	must be settled within the current term.</p>
	
	<p>The School will access a $25 non-refundable administrative charge each time the student chooses to use this plan.</p>
</div>
